<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="row-fluid fl" id="main">
            <div class="tableBox">
                <div class="titleBar">设备管理/<span>设备列表</span></div>
                <form class="form-search fr" action="" method="">
                    <input type="text" class="input-medium" name="name" placeholder="请输入用户昵称" / >  
                    <button type="submit" class="btn">查找</button>
                </form>
                <table class="table table-bordered table-hover text-center" >
                    <thead class="h4 ">
                        <tr class="danger">
                            <td>ID</td>
                            <td>设备编号</td>
                            <td>机组名称</td>
                            <td>经销商名称</td>
                            <td>设备类型(滤芯)</td>
                            <td>最近更新时间</td>
                            <td>设备状态</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="deviceInfo" id="data">
                            <tr>
                                <td>{{$i}}</td>
                                <td><a class="btn-link detail">{{$data.device_code}}</a></td>
                                <td>{{$data.cname}}</td>
                                <td>{{$data.name}}</td>
                                <td>{{$data.typename}}</td>
                                <td>{{$data.updatetime|date='Y-m-d H:i:s', ###}}</td>
                                <td>{{$data.device_status}}</td>
                                <td><a class="btn-link">开机 OR 停机</a></td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
                <!-- 上下页，请加样式 -->
                <div class="pagination pagination-lg pull-center">
                    <ul>
                        {{$page}}
                    </ul>
                </div>
            </div>
        </div>
        <include file="Public/footer" />
    </div>  
</div>  
    <script type="text/javascript">
        $('.detail').click(function (){
            var code = $('.detail').html();
            $.ajax({
                url:"deviceDetail",
                type:"post",
                data:{code},
                success:function(data){
                    if('给你老王玩了'){
                        layui.use('layer', function(){
                            var layer = layui.layer;
                            layer.open({
                                type: 1, 
                                title: ['设备详情', 'font-size:18px;'],
                                area: ['800px', '500px'],
                                content: $(".showdetail")
                            }); 
                        });
                        $(".showdetail h1").text(data.iccid);
                    } else {
                        layui.use('layer', function(){
                            var layer = layui.layer;
                            layer.msg('参数错误', {icon: 5});
                        });
                    }
                }
            })
        })
    </script>
