<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="row-fluid fl" id="main" style="width: 100%">
            <div class="tableBox">
                <div class="titleBar">设备管理/<span>设备列表</span></div>
                <form class="form-search" action="__URL__/devicesList" method="post">
                    <span class="select-box">设备编号:
                        <input type="text" class="input-medium device_code" name="device_code" placeholder="请输入设备编号" style="width: 100px;"/ >
                    </span>
                        <span class="select-box">经销商名称:
                        <input type="text" class="input-medium name" name="name" placeholder="请输入经销商名称" style="width: 100px;"/ >
                    </span>
                    <span class="select-box">是否绑定:
                        <select class="select is_bind" size="1" name="is_bind" style="width: 100px;">
                            <option value="" selected>- 是否绑定 -</option>
                            <option value="1">是</option>
                            <option value="2">否</option>
                        </select>
                    </span>
                    <span class="select-box">绑定的用户:
                        <input type="text" class="input-medium dname" name="dname" placeholder="请输入用户名" style="width: 100px;"/ >
                    </span>
                    <span class="select-box">电话:
                        <input type="text" class="input-medium phone" name="phone" placeholder="请输入电话号码" style="width: 100px;"/ >
                    </span>
                    <span class="select-box">设备类型(滤芯):
                        <input type="text" class="input-medium typename" name="typename" placeholder="请输入设备类型" style="width: 100px;"/ >
                    </span>
                     <span class="select-box" style="display: inline-block;position:relative">时间:
                        <input type="text" id="date-start" class="input-medium form-control" name="minupdatetime" placeholder="请选择时间" style="width: 76px;left: 0"/ > ~ <input type="text" id="date-end" class="input-medium form-control" name="maxupdatetime" placeholder="请选择时间" style="width:76px;right: 0"/ >
                    </span>
                    <span class="select-box">设备状态:
                        <select class="select status" size="1" name="status" style="width: 100px;">
                            <option value="" selected>- 设备状态 -</option>
                        <option value="0">已激活</option>
                        <option value="1">未激活</option>
                        </select>
                    </span>
                    <div class="submitBtn">
                        <button type="submit" name="output" value="1" class="btn fr mbtn" style="float: left;color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe62f;</i> 导出</button>
                        <button type="reset" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#x1002;</i> 重置</button>
                        <button type="submit" name="search" value="1" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe615;</i> 查找</button>
                    </div>
                </form>
                <table class="table table-bordered table-hover text-center" >
                    <thead>
                        <tr style='font-weight: bold;'>
                            <td>编号</td>
                            <td>设备编号</td>
                            <td>经销商名称</td>
                            <td>是否已被绑定</td>
                            <td>ICCID</td>
                            <td>绑定的用户</td>
                            <td>电话</td>
                            <td>地址</td>
                            <td>计费模式</td>
                            <td>剩余天数</td>
                            <td>剩余流量</td>
                            <td>工作状态</td>
                            <td>网络状态</td>
                            <td>滤芯模式</td>
                            <td>设备类型(滤芯)</td>
                            <td>设备首次绑定时间</td>
                            <td>最近更新时间</td>
                            <td>设备状态</td>
                        </tr>
                    </thead>
                    <tbody>
                        <empty name="deviceInfo['data']">
                            <tr><td colspan="8">暂无设备信息</td></tr>
                        <else />
                        <!-- {{:dump($deviceInfo['data'])}} -->
                    <foreach name="deviceInfo['data']" item="data" key="key">

                                <tr>
                                    <td>{{$key+1}}</td>
                                    <td>
                                        <a class="btn-link detail" href="__URL__/devices_detail.html#{{$data.device_code}}">{{$data.device_code}}
                                        </a>
                                    </td>
                                    <td>{{$data.name}}</td>
                                    <if condition="$data['uid']">
                                        <td>是</td>
                                        <else />
                                        <td>否</td>
                                    </if>
                                    <td>{{$data.iccid}}</td>
                                    <td><a class="btn-link detail" href="{{:U('admin/users/user_info',array('open_id'=>$data['open_id']))}}">{{$data.dname}}
                                    </a></td>
                                    <td>{{$data.phone}}</td>
                                    <td>{{$data.address}}</td>
                                    <td>
                                        <switch name="data.leasingmode">
                                            <case value="0">零售型</case>
                                            <case value="1">按流量计费</case>
                                            <case value="2">按时间计费</case>
                                            <case value="3">时长和流量套餐</case>
                                            <default />
                                        </switch>
                                    </td>
                                    <td>{{$data.reday}}</td>
                                    <td>{{$data.reflow}}</td>
                                    <td>
                                        <switch name="data.devicestause">
                                            <case value="0">制水</case>
                                            <case value="1">冲洗</case>
                                            <case value="2">水满</case>
                                            <case value="3">缺水</case>
                                            <case value="4">漏水</case>
                                            <case value="5">检修</case>
                                            <case value="6">欠费停机</case>
                                            <case value="7">关机</case>
                                            <case value="8">开机</case>
                                            <default />
                                        </switch>
                                    </td>
                                    <td>{{$data.netstause}}</td>
                                    <td>
                                        <switch name="data.filtermode">
                                            <case value="0">按时长</case>
                                            <case value="1">按流量</case>
                                            <case value="2">时长和流量</case>
                                            <default />
                                        </switch>
                                    </td>

                                    <td>{{$data.typename}}</td>
                                    <td>{{$data.addtime|date='Y-m-d H:i:s', ###}}</td>
                                    <if condition="$data['updatetime'] == null ">
                                        <td></td>
                                        <else />
                                        <td>{{$data.updatetime|date='Y-m-d H:i:s', ###}}</td>
                                    </if>
                                   <if condition="$data['alivestause'] == 1 ">
                                        <td>已激活</td>
                                        <else />
                                        <td>未激活</td>
                                    </if>

                                </tr>
                            </foreach>
                        </empty>
                    </tbody>
                </table>
                <!-- 上下页，请加样式 -->
                <div class="pagination pagination-lg pull-center">
                    <ul>
                        {{$deviceInfo['show']}}
                    </ul>
                </div>
            </div>
            <script>
                /**************** 搜索关键字保留 -- 开始 ******************/
                    var srearchInfo = {};
                    var device_code, name, is_bind, dname,phone,
                    typename, date_start, date_end, status;
                    /**
                     * device_code: 设备编号, name：经销商名称, 
                     * is_bind：是否绑定, dname：绑定的用户, 
                     * typename：设备类型, status：设备状态, 
                     * mintime：开始时间, maxtime：结束时间
                     */
                    // 点击搜索
                    $("button[name='search']").click(function(){
                        setSearchWord();
                    })
                    function setSearchWord(){
                        sessionStorage.setItem('search', '');   // 初始化

                        device_code = $('.device_code').val();
                        name = $('.name').val();
                        if($('.is_bind>option:selected').val()){
                            is_bind = Number($('.is_bind>option:selected').val());
                        }
                        if($('.status>option:selected').val()){
                            status = Number($('.status>option:selected').val())+1;
                        }
                        
                        dname = $('.dname').val();
                        phone =$('.phone').val();
                        typename = $('.typename').val();
                        date_start = $('#date-start').val();
                        date_end = $('#date-end').val();

                        srearchInfo['device_code'] = device_code;
                        srearchInfo['name'] = name;
                        srearchInfo['is_bind'] = is_bind;
                        srearchInfo['dname'] = dname;
                        srearchInfo['phone'] = phone;
                        srearchInfo['typename'] = typename;
                        srearchInfo['mintime'] = date_start;
                        srearchInfo['maxtime'] = date_end;
                        srearchInfo['status'] = status;
                        sessionStorage.setItem('search', JSON.stringify(srearchInfo));
                    }
                    // 搜索关键字保留
                    if(sessionStorage.getItem('search')){
                        var srearchInfo = JSON.parse(sessionStorage.getItem('search'));
                        if($('.form-search').length){
                            // console.log(srearchInfo)
                            $('.device_code').val(srearchInfo['device_code']);
                            if(srearchInfo['is_bind']){
                                $('.is_bind>option').eq(srearchInfo['is_bind'])[0].selected = true;
                            }
                            if(srearchInfo['status']){
                                $('.status>option').eq(srearchInfo['status'])[0].selected = true;
                            }
                            
                            $('.name').val(srearchInfo['name']);

                            $('.phone').val(srearchInfo['phone']);
                            $('.dname').val(srearchInfo['dname']);
                            $('.typename').val(srearchInfo['typename']);
                            $('#date-start').val(srearchInfo['mintime']);
                            $('#date-end').val(srearchInfo['maxtime']);

                            setTimeout(function(){
                                sessionStorage.setItem('search', '');   // 初始化
                            },500)
                        }
                    }
                    // 重置搜索结果
                    $('button[type="reset"]').click(function(){
                        location.href = '{{:U("Admin/Devices/devicesList")}}';

                    })
                    
                /**************** 搜索关键字保留 -- 结束 ******************/

                $('.remove').click(function(){
                    var a=$(this).attr('device_id');
                    tip('确定解除绑定？','提示',function(){
                        window.location.href = "{{:U('remove')}}"+"?device_code="+a;
                    })
                    return false;
                })
            </script>
        </div>
        <include file="Public/footer" />
    </div>  
</div>