<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="row-fluid fl" id="main" style="width: 100%">
            <div class="tableBox">
                <div class="titleBar">设备管理/<span>设备列表</span></div>
                <form class="form-search fr" action="__URL__/devicesList" method="">
                    <input type="text" class="input-medium" name="code" placeholder="请输入设备编号" / >  
                    <button type="submit" class="btn">查找</button>
                </form>
                <table class="table table-bordered table-hover text-center" >
                    <thead class="h4 ">
                        <tr class="danger">
                            <td>编号</td>
                            <td>设备编号</td>
                            <td>绑定的用户</td>
                            <td>经销商名称</td>
                            <td>设备类型(滤芯)</td>
                            <td>最近更新时间</td>
                            <td>设备状态</td>
                        </tr>
                    </thead>
                    <tbody>
                        <empty name="deviceInfo['data']">
                            <tr><td colspan="8">暂无设备信息</td></tr>
                        <else />
                        <!-- {{:dump($deviceInfo['data'])}} -->
                    <foreach name="deviceInfo['data']" item="data" key="key">

                                <tr>
                                    <td>{{$key+1}}</td>
                                    <td>
                                        <a class="btn-link detail" href="__URL__/devices_detail.html#{{$data.device_code}}">{{$data.device_code}}
                                        </a>
                                    </td>
                                    <td>{{$data.dname}}</td>
                                    <td>{{$data.name}}</td>
                                    <td>{{$data.typename}}</td>
                                    <if condition="$data['updatetime'] == null ">
                                        <td></td>
                                        <td>未激活</td>
                                        <else />
                                        <td>{{$data.updatetime|date='Y-m-d H:i:s', ###}}</td>
                                        <td>已激活</td>
                                    </if>
                                </tr>
                            </foreach>
                        </empty>
                    </tbody>
                </table>
                <!-- 上下页，请加样式 -->
                <div class="pagination pagination-lg pull-center">
                    <ul>
                        {{$deviceInfo['show']}}
                    </ul>
                </div>
            </div>
            <script>
                if(window.location.search){
                    $('input[name=code]').val(decodeURI(window.location.search.slice(6)))
                }
            </script>
        </div>
        <include file="Public/footer" />
    </div>  
</div>
<script type="text/javascript">
    $('.remove').click(function(){
        var a=$(this).attr('device_id');
        tip('确定解除绑定？','提示',function(){
            window.location.href = "{{:U('remove')}}"+"?device_code="+a;
        })
        return false;
    })
</script>