<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
		<title>滤芯 </title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/lvxin-chongzhi.css">
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_495581_xn0gpcbuksc92j4i.css">
		<script src="__PUBLIC__/Home/js/flexible.js"></script>
		<script src="__PUBLIC__/Home/js/lvxinDetail.js"></script>
	</head>
	<body>

	<div id="contain">
		<div id="btn">
			<input type="button" value="充值">
			<input type="button" value="滤芯">
		</div>
		<hr>
		<div id="but1"></div>
		<div id="but2"></div>

		<div id="liuliang">
			<h3><b>选择套餐</b></h3>
			<input type="button" value="100元套餐含1000l流量"><br>
			<input type="button" value="100元套餐含1000l流量" style="background: #7D7FCE;"><br>
			<input type="button" value="100元套餐含1000l流量"><br>
			<input type="button" value="100元套餐含1000l流量"><br>
			<input type="button" value="100元套餐含1000l流量"><br>
			<input type="button" value="100元套餐含1000l流量">
		</div>

		<!-- 滤芯开始 -->
		<div id="mo">
			<div id="ro1" class="ro1">
				<div id="ro-left"><img src="__PUBLIC__/Home/images/ro2_02.png" alt=""></div>
				<div id="ro-right">
					<div class="top">
						<h3>RO膜</h3>
						<p>RO膜能够有效地去除水中钙、镁、 细菌、有机物、无机物、金属离子和 放射性物质等</p>
					</div>
					<div class="bott">
					 <b>￥120.00</b>
					 <i>
					 	<input type="button" value="-"><input type="text" value="0"><input type="button" value="+">
					 </i>
					</div>
				</div>
			</div>
			<hr>



			<div id="ro1" class="ro2">
				<div id="ro-left"><img src="__PUBLIC__/Home/images/ro2_02.png" alt=""></div>
				<div id="ro-right">
					<div class="top">
						<h3>RO膜</h3>
						<p>RO膜能够有效地去除水中钙、镁、 细菌、有机物、无机物、金属离子和 放射性物质等</p>
					</div>
					<div class="bott">
					 <b>￥120.00</b>
					 <i>
					 	<input type="button" value="-"><input type="text" value="0"><input type="button" value="+">
					 </i>
					</div>
				</div>
			</div>
			<hr>

		</div>
			

		<!-- 滤芯结束 -->
        <div id="foot">
			<i class="iconfont icon-gouwuche"></i>
			<input type="button" value="加入购物车"><input type="button" value="立即购买">
		</div>	
	</div>
	
	</body>

</html>