<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
		<title>滤芯---充值 </title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/lvxin-chongzhi.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_495581_xn0gpcbuksc92j4i.css">
		<!-- layui.css -->
    	<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
    	<!-- layui.js -->
    	<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
		<script src="__PUBLIC__/Home/js/jquery-1.11.1.min.js"></script>
		<script src="__PUBLIC__/Home/js/flexible.js"></script>
		<!-- 微信支付支持JS部分代码 -->
		<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>	
		<style type="text/css">
			body {
				font-size: .4rem !important;
			}
			#contain{
				margin-top: 0;
			}
			#ulDiv {
				height: 10vh;
				position: relative;
			}
			#lineDiv {
				margin: 0;
				top: auto;
				bottom: 0;
				margin-bottom: 1vh;
			} 
			._line{
				width: 100%;
				border-top: 1px solid #EFEFEF;
				margin: 15px 0;
				position: absolute;
				left: 85px;
				top: 36px;
				background-color: #24254D;
				width: 50px;
				height: 6px;
				border-radius: 8px;

			}
			._ul{
				width: 100vw;
				height: 8vh;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #FFFFFF;
				text-align: center;
				position: relative;
				border-bottom: 1vh solid #ccc;
			}
			._ul li{
				display: inline-block;
				padding: 0 30px;
				cursor: pointer;
				font-weight: 600;
				color: #555673;
				font-size: .5rem;
			}
			#ro-right input{
				color: #9E9E9E;
				font-style: normal;
			}
			#ro-right input:nth-child(2){
				color: #7D7D7D;
				font-size:20px;
			}
			#foot>a:active {
				text-decoration: none;
			}
			#foot>input {
				font-size: 0.426667rem;
			}
			#ro1 {
				height: 16vh;
				margin-top: 0.853333rem;
				margin-bottom: 0.853333rem;
			}
			#ro-right {
				height: auto;
			}
			#ro-right .bott {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
			#ro-right .bott i{
				width: 40%;
				display: flex;
				align-items: center;
				position: relative;
				margin-left: 6px;
			} 
			#ro-right .bott i input {
				width: 33.33% !important;
				padding: 0;
				background: #fff;
				border: 1px solid;
				border-radius: 6px;
				appearance: none;
				-webkit-appearance: none;
				text-align: center;
			}
			#ro-right .top p {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
	<div id="contain">
		<div id="ulDiv">
			<ul class="_ul _position">
				<li>充值</li>
				<li>滤芯</li>
			</ul>
			<div id="lineDiv" class="_line"></div>
		</div>
 
		<div class="contentBox">
			<div id="liuliang" class="contentbox">
				<h3><b>选择套餐</b></h3>
				<foreach name="setmeallist" item="vo" key="ke">
					<input type="button" value="{{$vo['describe']}}" sid="{{$vo['id']}}"><br>
				</foreach>
			</div>

			<!-- 滤芯开始 -->
			<div id="mo" class="contentbox">
				
				<foreach name="filtersList" item="v" key="k">
				<div class="item" state="0">
					<div id="ro1" class="ro1">
						<div id="ro-left" index="{{$v}}"><img src="__PUBLIC__/{{$v['picpath']}}" alt=""></div>
						<div id="ro-right">
							<div class="top">
								<h3>{{$v['filtername']}}</h3>
								<p>{{$v['introduce']|msubstr=0,45,'utf-8'}}</p>
							</div>
							<div class="bott">
							 <b>￥{{$v['price']/100}} </b>
							 <i>
							 	<input type="button" value="━" class="minus"><input fid="{{$v['id']}}" class="num" type="number" value="0"><input type="button" value="╋" class="plus">
							 </i>
							</div>
						</div>
					</div>
					<hr>
				</div>
				</foreach>	
			</div>
		</div>
			

		<!-- 滤芯结束 -->
        <div id="foot">
			<a href="{{:U('ShoppingCart/shopBill')}}"><i class="iconfont icon-gouwuche">
				<notempty name="cartNum">
				<span id="cartNun">{{$cartNum}}</span>
				</notempty>	
			</i></a>
			<input id="cart" type="button" value="加入购物车"><input id="buy" type="button" value="立即购买">
		</div>
		
	</div>
	<script>
		// console.log('lineRight: ',sessionStorage.getItem("lineRight"));
		// console.log('lineMove: ',sessionStorage.getItem("lineMove"));

		var lineMove = sessionStorage.getItem("lineMove");	//判断上次选择的是充值还是滤芯
		var lineRight = sessionStorage.getItem("lineRight"),
			lineLeft = sessionStorage.getItem("lineRight");

		if(lineMove == lineLeft && lineMove && lineLeft ){	//上次选择的是充值
			$("#lineDiv").css({left: lineLeft + 'px'});

			// // 显示当前的内容盒子
			$(".contentBox").children('div').eq(1).slideDown().siblings().slideUp();
			// 下划线动画
			$('._line').animate({left:lineLeft+'px'});

		}else if(lineMove == lineRight && lineMove && lineRight){	//上次选择的是滤芯
			$("#lineDiv").css({left: lineRight + 'px'});

			// // 显示当前的内容盒子
			$(".contentBox").children('div').eq(1).slideDown().siblings().slideUp();
			// 下划线动画
			$('._line').animate({left: lineRight+'px'});
		}
		$("#ro-right>.top>p").click(function(){
			layuiHint( $(this).text() )
		})
		//微信接口
		wx.config({
		    debug: false,
		    appId: '{{$info["appId"]}}',
		    timestamp: '{{$info["timestamp"]}}',
		    nonceStr: '{{$info["nonceStr"]}}',
		    signature: '{{$info["signature"]}}',
		    jsApiList: [
		      // 所有要调用的 API 都要加到这个列表中
		      'chooseWXPay'
		    ]
		});

		/**
		 * TAB切换
		 * 找到充值和滤芯按钮并绑定点击事件
		 */
		$('._line').css({left:($('._ul > li').eq(0).offset().left+$('._ul > li').eq(0).innerWidth()/2 - 25)+'px'});
		//点击事件
		$('._ul > li').click( function () {
			// 左边偏移量
			var $left = $(this).offset().left+$(this).innerWidth()/2 - 25;
			// // 显示当前的内容盒子
			$(".contentBox").children('div').eq($(this).index()).slideDown().siblings().slideUp();
			// 下划线动画
			$('._line').animate({left:$left+'px'});
		});

		/**
		 *  套餐被选中效果
		 */
		$('#liuliang>input').click(function(){
			// 找到所有的充值套餐，设置默认样式
			$('#liuliang>input').css({'background': 'rgba(0,0,0,0)','color':'#585858'});
			// 被选中的充值套餐改变样式
			$(this).css({'background': '#7D7FCE','color':'#FFF'});
			// 清除所有的class属性sid值
			$('#liuliang>input').removeClass("sid");
			// 给被选中的套餐添加class属性sid值
			$(this).addClass("sid");
		});

		/**
		 *  减号按钮让产品购买数量自减
		 */
		 //layuiHint弹框提示封装
		function layuiHint(text){
		    layui.use('layer', function(){
		        var layer = layui.layer;
		        layer.msg(text);
		    });
		}
		$('.minus').next('input').on('blur',function(){
			console.log($(this).val().trim())
			if(/[^\d]+/.test($(this).val().trim())){
				layuiHint('请输入数字')
				$(this).val('0') 
			}
		})
		$('.minus').click(function(){
			// 点击减号按钮获取当前产品的value值,隐式转数值型
			var num = $(this).next('input').val()-0;

			// 判断产品数量大于0
			if(num>0){
				// 产品数量自减
				$(this).next('input').val(--num);
				// 如果产品数量等于0
				if(num==0){
					// 找祖先元素.item下面的子元素hr设置样式
					$(this).parents('.item').find("hr").css({'border':'1px solid #CCC'});
					// 找祖先元素.item设置样式
					$(this).parents('.item').css({'background':'#FFF'});
					// 清除class属性fid值
					$(this).next('input').removeClass("fid");
				}
			}

		});

		/**
		 *  加号按钮让产品购买数量自增
		 */
		$('.plus').click(function(){
			// 点击加号按钮获取当前产品的value值,隐式转数值型
			var num = $(this).prev('input').val()-0;

			// 判断产品数量小于库存
			if(true){
				// 产品数量自增
				$(this).prev('input').val(++num);

				// 找祖先元素.item设置样式
				$(this).parents('.item').css({'background':'#F0F0F0'});
				// 找祖先元素.item下面的子元素hr设置样式
				$(this).parents('.item').find("hr").css({'border':'1px solid #7D7FCE'});
				// 给被选中的产品添加class属性fid值
				$(this).prev('input').addClass("fid");
			}
		});

		/**
		 *  失去焦点事件检测产品购买数量设置样式
		 */
		$('.num').blur(function(){
			// 获取产品购买数量
			var num = $(this).val()-0;
			if(num<=0){
				// 特异常处理
				$(this).val(0);
				// 找祖先元素.item下面的子元素hr设置样式
				$(this).parents('.item').find("hr").css({'border':'1px solid #CCC'});
				// 找祖先元素.item设置样式
				$(this).parents('.item').css({'background':'#FFF'});
				// 清除class属性fid值
				$(this).removeClass("fid");
			}else{
				// 找祖先元素.item设置样式
				$(this).parents('.item').css({'background':'#F0F0F0'});
				// 找祖先元素.item下面的子元素hr设置样式
				$(this).parents('.item').find("hr").css({'border':'1px solid #7D7FCE'});
				// 给被选中的产品添加class属性fid值
				$(this).addClass("fid");
			}

		});

		/**
		 * 购买按钮和加入购物车按钮鼠标经过效果
		 */
		$('#foot>input').mouseenter(function(){
			// 将所有的input恢复默认样式
			$(this).parents('#foot').find('input').css({'background':'rgba(0,0,0,0)','color':'#15164c'});
			// 设置当前的按钮样式
			$(this).css({'background':'#353659','color':'#FFF'});

		});

		/**
		 * 加入购物车操作
		 */
		$('#cart').click(function(){


			// 创建空数组，将来装套餐和产品
			var data = [];
			// 初始化下标
			var index = 0;
			// 获取被选中的套餐
			var sid = $('input.sid').attr('sid');
			if(sid !== undefined){
				// 设置套餐ID为数组
				data = [
					{'sid':sid-0,'num':1}
				];
			}

			// 获取被选中的滤芯产品
			var fid = $('input.fid');
			if(fid.length>0){
				for(var i=fid.length-1;i>=0;i--){
					// 设置产品ID为数组
					data.push(
						{'fid':$(fid[i]).attr('fid')-0,'num':$(fid[i]).val()-0}
					);
				}
			}

			// 检测是否选择产品
			if(data.length>0){
				// ajax请求添加购物车
				var date = JSON.stringify(data)
				// 异步提交
				$.post('{{:U("ShoppingCart/shopAdd")}}',{ 'data':date }, function(res){
					// 判断购物车是否添加成功
					if(res.status){
						// console.log(res);
						// 刷新页面
						// location.reload();
						location.href = "{{:U('Home/Shop/index')}}";
						// for(var i in res.msg){
						// 	$("#cartNun").val($("#cartNun").val() + res.msg.num)
						// }
						
					}
				});
				// console.log(parseInt($("#lineDiv").css("left")) , $(window).innerWidth()/2);

				// 选中滤芯
				if(parseInt($("#lineDiv").css("left")) > $(window).innerWidth()/2){
					sessionStorage.setItem("lineRight", 
						parseInt($("#lineDiv").offset().left+$("#lineDiv").innerWidth()/2 - 25)
						)
					//设置判断当前所在“充值”还是”滤芯“的判断值
					sessionStorage.setItem("lineMove", 
						parseInt($("#lineDiv").offset().left+$("#lineDiv").innerWidth()/2 - 25)
						)

				}else if(parseInt($("#lineDiv").css("left")) < $(window).innerWidth()/2){
					// 选中充值
					sessionStorage.setItem("lineLeft", 
						parseInt($("#lineDiv").css("left"))
						)
					sessionStorage.setItem("lineMove", 
						parseInt($("#lineDiv").offset().left+$("#lineDiv").innerWidth()/2 - 25)
						)
				}
			}else{
				// 用户未添加产品
				alert('请先选择产品！');
			}
			
		});

		/**
		 * 立即购买操作
		 */
		$('#buy').click(function(){
			// 获取购物车产品数量，隐转数值
			var cartNun = $('#cartNun').html()-0;
			// 创建空数组，将来装套餐和产品
			var data = [];
			// 初始化下标
			var index = 0;
			// 获取被选中的套餐
			var sid = $('input.sid').attr('sid');
			if(sid !== undefined){
				// 设置套餐ID为数组
				data = [
					{'sid':sid-0,'num':1}
				];
			}

			// 获取被选中的滤芯产品
			var fid = $('input.fid');
			if(fid.length>0){
				for(var i=fid.length-1;i>=0;i--){
					// 设置产品ID为数组
					data.push(
						{'fid':$(fid[i]).attr('fid')-0,'num':$(fid[i]).val()-0}
					);
				}
			}

			// 检测是否选择产品
			if(data.length>0){
				// ajax请求添加购物车
				var date = JSON.stringify(data)
				// 异步提交
				$.post('{{:U("ShoppingCart/shopAdd")}}',{ 'data':date }, function(res){

					// 判断购物车是否添加成功
					if(res.status==1){
						// 添加购物车成功跳转
						// 异步提交请求支付系统
						$.post('{{:U("PaymentSystem/action")}}',{ 'data':1 }, function(res){
							if(res==2){
								// 套餐确认
								window.location.href='{{:U("ShoppingProcess/sureSetmeal")}}';
							}else if(res==3){
								// 快递确认
								window.location.href='{{:U("ShoppingProcess/sureBill")}}';
							}else{
								// 立即付款
								weixinPay(res);
							}
						});
					}
				});
			}else{
				// 购物车有产品
				if(cartNun>0){
					// 直接跳转到购买页面
					//window.location.href='{{:U("PaymentSystem/action")}}';
					// 异步提交
					$.post('{{:U("PaymentSystem/action")}}',{ 'data':1 }, function(res){
						if(res==2){
							// 套餐确认
							window.location.href='{{:U("ShoppingProcess/sureSetmeal")}}';
						}else if(res==3){
							// 快递确认
							window.location.href='{{:U("ShoppingProcess/sureBill")}}';
						}else{
							// 立即付款
							weixinPay(res);
						}
					});
				}else{
					// 请先选择产品
					alert('请先选择产品!');	
				}
			}
		});

		// 微信支付方法
		function weixinPay(res){
		    WeixinJSBridge.invoke(
		        'getBrandWCPayRequest',
		        JSON.parse(res),
		        function(res){
		            if (res.err_msg.substr(-2) == 'ok') {
		                // 付款成功，跳转前台主页
		                location.href = "{{:U('Home/PaymentSystem/paySuccess')}}";
		            } else if (res.err_msg.substr(-6) == 'cancel') {
		                    // 取消付款
		                    // 跳转到待付款订单页面
		                    location.href = "{{:U('Home/PaymentSystem/failureToPay')}}";
		            }else{
		                    // 付款失败
		                    // 跳转到待付款订单页面
		                    location.href = "{{:U('Home/PaymentSystem/failureToPay')}}";
		            }
		        }
		    );
		};
	</script>
	</body>

</html>