<!-- header part -->
<include file="Public/header" />
<!-- content part -->
<div class="content">
    <!-- nav part-->
    <include file="Public/nav" />
    <!-- from part-->
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">产品管理/<span>滤芯设置</span></div>
            <div class="formBox">
                <form class="form-horizontal" action="__URL__/filter_add" method="post" id="_form" enctype="multipart/form-data" id>
                
                    <div class="control-group">
                        <span>滤芯名称<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input type="text" name="filtername" placeholder="请输入滤芯名称...">
                    </div>
                    <div class="control-group">
                        <span>滤芯别名</span>
                        <input type="text" name="alias" placeholder="请输入滤芯别名...">
                    </div>
                    <div class="control-group">
                        <span>滤芯图片<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input type="file" name="myfile" style="padding:0">
                    </div>
                    <div class="control-group">
                        <span>滤芯价格<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input type="text" name="price" placeholder="请输入滤芯价格...">
                    </div>
                    <div class="control-group">
                        <span>时间寿命(小时)<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input type="text" name="timelife" placeholder="请输入数字...">
                    </div>
                    <div class="control-group">
                        <span>流量寿命(升)<sub style="color:red;margin-left: 5px;">*</sub></span>
                        <input type="text" name="flowlife" placeholder="请输入数字...">
                    </div>
                    <div class="control-group">
                        <span>滤芯简介</span>
                        <textarea name="introduce" id="" cols="30" rows="5"></textarea>
                    </div>
                    <div class="control-group">
                        <span>购买网址</span>
                        <input type="url" name="url" placeholder="请加上http://...">
                    </div>
                    
                    <div class="btn-groups">
                        <button class="subbtn btns btn-primary oddbtn" type="submit">确认</button>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript">
            
            $('#_form').submit(function(event) {
                var _filtername = $('input[name=filtername]').val().trim()
                var _myfile = $('input[name=myfile]').val().trim()
                var _price = $('input[name=price]').val().trim()
                var _timelife = $('input[name=timelife]').val().trim()
                var _flowlife = $('input[name=flowlife]').val().trim()
                if(!_filtername){
                    layuiHint('滤芯名称不能为空')
                }else{
                    if(!_myfile){
                        layuiHint('滤芯图片不能为空')
                    }else{
                        if(!_price){
                            layuiHint('滤芯价格不能为空')
                        }else{
                            if(!_price){
                                layuiHint('滤芯价格不能为空')
                            }else{
                                if(!_timelife){
                                    layuiHint('时间寿命不能为空')
                                }else{
                                    if(!_timelife){
                                        layuiHint('时间寿命不能为空')
                                    }else{
                                        if(!_flowlife){
                                            layuiHint('流量寿命不能为空')
                                        }else{
                                            return true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                return false 
            });
            //layuiHint弹框提示封装
            function layuiHint(text){
                layui.use('layer', function(){
                    var layer = layui.layer;
                    layer.msg(text);
                });  
            }
        </script>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div>
