<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">订单管理/<span>订单列表</span></div>
            <form class="form-search fr" action="__URL__/index" method="get">
                <div class="input-group">                   
                <span class="input-group-addon" id="basic-addon">订单编号</span>
                   <input type="text" class="form-control" placeholder="用户昵称" aria-describedby="basic-addon1" name="orderid">
                  <span class="input-group-addon" id="basic-addon1">用户昵称</span>
                  <input type="text" class="form-control" placeholder="用户昵称" aria-describedby="basic-addon1" name="nickname">                    
                <span class="select-box">
                  <select class="select" size="1" name="is_pay" style="width: 100px;">
                    <option value="" selected>--付款状态--</option>
                    <option value="1">已付款</option>
                    <option value="0">未付款</option>
                  </select>
                </span>
                <span class="select-box">
                  <select class="select" size="1" name="is_receipt" style="width: 100px;">
                    <option value="" selected>--发货状态--</option>
                    <option value="1">已发货</option>
                    <option value="0">未发货</option>
                  </select>
                </span>
                <span class="select-box">
                  <select class="select" size="1" name="is_recharge" style="width: 100px;">
                    <option value="" selected>--充值状态--</option>
                    <option value="1">已充值</option>
                    <option value="0">未充值</option>
                  </select>
                </span>               
                <button type="submit" class="btn">查找</button>
                </div>
            </form>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>订单编号</th>
                    <th>下单用户</th>
                    <th>购买商品数量</th>
                    <th>购买总额</th>
                    <th>收货人</th>
                    <th>收货人电话</th>
                    <th>收货地址</th>
                    <th>下单时间</th>
                    <th>是否付款</th>
                    <th>是否发货</th>
                    <th>是否收货</th>
                    <th>是否充值</th>
                </tr>
                </thead>
                <tbody>
                    <notempty name="list">
                        <foreach name="list" item="vo" key="key">
                        <tr>
                            <td><a href="__URL__/order_detail.html#{{$vo.order_id}}">{{$vo.order_id}}</a></td>
                            <td>{{$vo.nickname}}</td>
                            <td>{{$vo.total_num}}</td>
                            <td>{{$vo['total_price']/100}}</td>
                            <td>{{$vo.name}}</td> 
                            <td>{{$vo.phone}}</td>
                            <td>{{$vo.addres}}</td>
                            <td>{{$vo.created_at|date='Y-m-d H:i:s',###}}</td>
                            <td>
                                <switch name="vo.is_pay">
                                    <case value="0">未付款</case>
                                    <case value="1">已付款</case>
                                    <default />
                                </switch>
                            </td>
                            <!-- 需要一个弹窗  输入快递单号 -->
                            <td>
                                <switch name="vo.is_receipt">
                                    <case value="0"><a href="javascript:void(0)"><span style="color:red" class="_send">点击发货</span></a></case>
                                    <case value="1">已发货</case>
                                    <default />
                                </switch>
                                <input type="hidden" name="order_id" value="{{$vo.order_id}}">
                                <input type="hidden" name="is_receipt" value="1">
                            </td>
                            <td>
                                <switch name="vo.is_ship">
                                    <case value="0">未收货</case>
                                    <case value="1">已收货</case>
                                    <default />
                                </switch>
                            </td>
                            <td>
                                <switch name="vo.is_recharge">
                                    <case value="0">未充值</case>
                                    <case value="1">已充值</case>
                                    <default />
                                </switch>
                            </td>
                        </tr>
                        </foreach>
                    <else />
                        <tr>
                            <td colspan="10">查无数据</td>
                        </tr>
                    </notempty>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    {{$button}}
                </ul>
            </div>

            <!-- 弹框信息 -->
            <div class="modal fade" id="_send" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                请输入订单信息：
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form id="_orders" class="form-inline" url="__URL__/edit/order_id/{{$vo.order_id}}/is_receipt/1"
                            method="post">
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <tr>
                                        <th width="20%" class="">
                                            快递名称：
                                        </th>
                                        <td>
                                            <input class="input-medium" type="text" name="express" id="input_name" style="vertical-align:top;">
                                            <span style="color: red; display: inline-block;width: 230px;"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            快递单号：
                                        </th>
                                        <td>
                                            <input class="input-medium" type="text" name="mca" id="input_num" style="vertical-align:top;">
                                            <span style="color: red; display: inline-block;width: 230px;"></span>
                                        </td>
                                    </tr>
                                </table>

                               

                                <div class="text-center">
                                    <input class="btn btn-info" type="button" value="取消">&nbsp;&nbsp;&nbsp;
                                    <input class="btn btn-success" type="button" value="确定">
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $('.pagination ul a').unwrap('div').wrap('<li></li>');
                $('.pagination ul span').wrap('<li class="active"></li>');
                
                // 弹框信息
                var name_bool = false;
                var num_bool = false;
                $('table tr th').css('vertical-align','middle');
                $('._send').click(function(){
                    $('#_send').modal('show');
                    var _order_id = $(this).parent().parent().parent().children().eq(0).text().trim()
                    $('#_orders').attr('action','__URL__/edit/order_id/'+_order_id+'/is_receipt/1')
                });

                $('#input_name').change(function(){
                    if(/[\u4e00-\u9fa5]{2}/.test($(this).val())){
                        $(this).next().text('');
                        name_bool = true;
                    }else{
                        $(this).next().html('请输入正确的快递名称&nbsp;(&nbsp;2位以上中文字符&nbsp;)&nbsp;！');
                    }
                });
                $('#input_num').change(function(){
                    if(/^\w{9,15}/.test($(this).val())){
                        $(this).next().text('');
                        num_bool = true;
                    }else{
                        $(this).next().html('请输入正确的快递单号&nbsp;(&nbsp;9-15位数字或字母&nbsp;)&nbsp;！');
                    }
                });

                $('input[type=button]').eq(0).click(function(){
                    $('#_send').modal('hide');
                });

                $('input[type=button]').eq(1).click(function(){

                    if(name_bool&&num_bool){
                        $('#_orders').submit();
                    }else{
                        return false;
                     }
                });
                if(window.location.search){
                    $('input[name=order_id]').val(window.location.search.slice(10))
                }
            </script>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
    <script>
        // 显示当前页面所在的导航
        showNav();
        function showNav(){
            console.log($(this));
            $(".nav").children("li").eq(4).attr("class","open");
            $(".nav").children("li").eq(4).find(".submenu").show();
        }
    </script>
</div>


