ul, li, dl, dt, dd, form, h1, h2, h3, h4, p, input, form {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-webkit-appearance: none;
}
#advice-all {
	width: 10.0rem;
}

#advice-container {
	width: 9.2rem;
	margin: 0.4rem 0.4rem 1.333333rem 0.4rem;
}

#advice-container h3 {
	font-size: 0.426667rem;
	line-height: 0.8rem;
	margin-bottom: 0.266667rem;
}

#advice-container h3 b {
	color: #F9586B;
}

#advice-container textarea {
	margin-top: 0.133333rem;
	height: 4.186667rem;
	width: 9.173333rem;
	display: inline-block;
	resize: none;
	overflow: hidden;
	border: 1px dashed #CCC;
}

#advice-container p {
	color: #767676;
}

#advice-container input {
	width: 8.266667rem;
	height: 1.2rem;
	background: #353659;
	margin-top: 6.4rem;
	margin-left: 0.466667rem;
	border: none;
	border-radius: 0.106667rem;
	color: #FFF;
	font-size: 0.64rem;
}
* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	
	body {
		width: 100vw;
		height: 100vh;
	}

	#advice-container {
	    padding: 0 0.4rem 0.4rem 0.4rem;
	    margin: 0;
	}
	#advice-container input {
		position: absolute;
		bottom: 0;
		margin-top: 1rem;
		margin-bottom: 1rem;
		background: #039CE9;
	}
	#advice-container textarea {
		border-radius: 5px;
		border: 1px dashed #039CE9;
	}
	#form {
		height: 92%;
	}