/*滤芯详情页面*/
*{
    box-sizing: border-box;
}
#_box{
    width: 100%;
    height: 100%;
}
p{
    color: #7A7A7A;
    padding: 3px 0;
}
._progress{
    height: 4px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    background: #dfdfdf;
    overflow: visible;
}
.progress-bar {
    height: 12px;
    border-radius: 6px;
    background: #039CE9;
    background-size: 10px 10px;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
h3{
    color: #585858;
    font-weight: 600;
}

._float_left{
    float: left;
}
._float_right{
    float: right;
}
._text_align{
    text-align: center;
    display:fixed;
    left:0;
    bottom:0;
}
._line{
    width: 100%;
}
._font_weigth{
    font-weight: 600;
}
._padding{
    padding: 10px 10px 0 10px;
    position: relative;
}
._padding p{
    margin-bottom: 5px;
}
._padding p .filtername{
    padding-left: 10vw;
}
._radius{
    border-radius: 100%;
}
._btn{
    border: none;
    border-radius: 5px;
    width: 80%;
    background-color: #353659;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 0;
    margin: 35px 0 15px;
    cursor: pointer;
}
._width{
    width: 80%
}
._dian{
    position: absolute;
    left: 15px;
    top: 18px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border:2px solid #68698F;
    cursor: pointer;
}
._active{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
._padding_left{
    padding-left: 30px;
}

#ulDiv {
    height: 10vh;
    position: relative;
}
#lineDiv {
    height: 1vh;
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0;
    left: 81px;
    margin-bottom: 1vh;
}
._ul{
    width: 100vw;
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    text-align: center;
    position: relative;
    border-bottom: 1vh solid #ccc;
}
._ul li{
    display: inline-block;
    padding: 0 30px;
    cursor: pointer;
    font-weight: 600;
    color: #555673;
}
._background_color{
    background-color: #FFFFFF;
}
._displey{
    display: none;
}
._line{
    position: relative;
    left: 0;
    bottom: 0;
    background-color: #24254D;
    width: 50px;
    height: 8px;
    border-radius: 18px;
}
._position{
    position: relative;
}
#lvxinIntroduce {
    padding: 0;
    margin: 2vh 0;
}
#lvxinIntroduce>div {
    padding: 2vh 1vh;
    border-bottom: 1px solid #ccc;
}
#lvxinIntroduce>div:nth-of-type(1) {
    border-top: 1px solid #ccc;
}
#lvxinDetailUL .checkbox {
    display: none;
}
#lvxinReset p{
    padding-left:10vw; 
}
.progress {
    position: relative;
    margin-left: 10vw;
}
.progress>.checkbox {
    width: 6vw;
    height: 6vw;   
    position: absolute;
    top: -4vw;
    left: 0;
    margin-left: -6vh;
    right: 15px;
    border:1px solid #039CE9;
    border-radius: 50%;
}
.progress>.checkbox>span {
    width: 3vw;
    height:3vw;
    position: absolute;
    margin: auto;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background: #039CE9;;
    visibility: hidden;
}
.progress>.checkbox>input[type="checkbox"]:checked {
    background: #7D7FCE;
}
.linkBox{
    position: fixed;
    top:0;
}
#ulDiv {
	height: 10vh;
	position: fixed;
    top: 7.5vh;
	background: #fff;
	z-index: 999;
}
#lvxinDetailUL>._padding,
#lvxinReset>._padding {
    margin-bottom: 3vh;
}
#ulDiv>ul>li {
    height: 9vh;
    line-height: 9vh;
    vertical-align: middle;
    font-size: .5rem;
}
._ul li:nth-of-type(1) {
    color: #039CE9;
    font-weight: normal;
}

._ul li:nth-of-type(2) {
    color: #6F6F6F;
    font-weight: normal;
}
._btn {
    background: #039CE9;
}
._line {
    background: #039CE9;
}
#_box {
    height: 100vh;
}
#_box>div:nth-of-type(2) {
    position: relative;
    top: 18vh;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 6px !important;  
    height: 16px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 20px !important;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px !important;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}