a{text-decoration:none;color: #000;}
a:link{text-decoration:none}   /* 指正常的未被访问过的链接*/
a:visited{text-decoration:none;} /*指已经访问过的链接*/
a:active{text-decoration:none;}/* 指正在点的链接*/
.top{
	width:10rem;
	background: url("../images/yun_01.png") no-repeat;
	background-size: 100% 100%;
	border-top:1px solid #fff;
	margin-top:-1px;
}

.topcontent{
	width:6.4rem;
	height: 6.4rem;
	margin:1.2rem auto 0;
	background-color: #5AC8FF;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}

.xuanhuan{
	width:6.4rem;
	height: 6.4rem;
	border-radius:6.4rem;
	overflow: hidden;
	background: url("../images/yuan_02.png") no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	position: absolute;
	top:0;
	left: 0;
	z-index: 4;
	
}

.bolang{
	width:6.4rem;
	height: 2.4rem;
	position: absolute;
	left:0;
	bottom: 0;
	background: url("../images/bolang_01.png") repeat-x;
	background-size: 100% 100%;
	-webkit-animation:bolang 6.5s linear infinite;
	animation:bolang 6.5s linear infinite;
}
.bolang1{
	width:6.4rem;
	height: 2.4rem;
	position: absolute;
	left:-0vw;
	bottom: 0;
	background: url("../images/bolang_01.png") repeat-x;
	background-size: 100% 100%;
	-webkit-animation:bolang1 6.5s linear infinite;
	animation:bolang1 6.5s linear infinite;
}

.containTxt{
	width: 6.4rem;
    height: 6.4rem;
    /*border: 1px solid #F00;*/
    z-index: 5;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left:0;
    text-align: center;
}

.dazi{
	width: 6.4rem;
	height:2.4rem;
	font-size: 2.2rem;
	text-align: center;
	margin-top:0.6rem;
	position: relative;
}
.dazi>span{
	display: inline-block;
	position: absolute;
	bottom: 0;
	font-size: 0.4rem;
	color:#fff;
}
.queshui{
	width: 6.4rem;
	font-size: 0.7rem;
	text-align: center;
	position: relative;
	color:#fff;
}

.dazi1{
	width: 6.4rem;
	font-size: 1rem;
	margin-top: 0.2rem;
	text-align: center;
	position: relative;
}
.dazi1>span{
	display: inline-block;
	position: absolute;
	bottom: 0;
	font-size: 0.25rem;
	color:#fff;
}
.queshui1{
	width: 6.4rem;
	font-size: 0.4rem;
	text-align: center;
	position: relative;
	color:#fff;
}

.allStatus{
	background-color: red;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.allStatus>div{
	display: none;
	text-align: center;
}
.allStatus>div.left{
	float: left;
}
.allStatus>div.right{
	float: right;
}

.allStatus>div.statusZhishui{
	display: block;
}

.allStatus>div.service{
	display: block;
}
.allStatus>div>p>i{
	font-size: 1.6rem;
	line-height: 0.05rem;
	-webkit-animation:aImg3 3s linear infinite;
	animation:aImg3 3s linear infinite;
}
.allStatus>.fullWaters>p>i{
	font-size: 1.6rem;
	line-height: 0.05rem;
	animation: none;
}
.allStatus>div>span{
	font-size: 0.45rem;
}

.shuibolang{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 10rem;
    height: 2rem;
    position: relative;
    overflow: hidden;
	/*padding-bottom: -5vw;*/
	font-size: 0.4rem;
	color:#fff;
}
.shuibolang1{
	width: 10rem;
    height: 2rem;
    position: absolute;
    left:0;
    background: url("../images/bolang_01.png") repeat-x;
	background-size: 100% 100%;
    -webkit-animation:shuibolang1 6s linear infinite;
	animation:shuibolang1 6s linear infinite;
}
.shuibolang2{
	width: 10rem;
    height: 2rem;
    position: absolute;
    left:-100vw;
    background: url("../images/bolang_01.png") repeat-x;
	background-size: 100% 100%;
    -webkit-animation:shuibolang2 6s linear infinite;
	animation:shuibolang2 6s linear infinite;
}

.shuibolang b{
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}

.textLeft{
	position: absolute;
	top:0.8rem;
	left:0.5rem;
	z-index: 11;
}

.textRight{
	position: absolute;
	top:0.8rem;
	right:0.5rem;
	z-index: 11;
}
.bottom{

	background: #A8E2FF;
}
.bottom ul{
	width: 10rem;
	background: #A8E2FF;
}
.bottom ul li{
	display: block;
	width: 3.333333rem;
	height: 1rem;
	float: left;
	text-align: center;
	margin-top: 0.8rem;
}

.bottom ul li:nth-child(4),.bottom ul li:nth-child(5),.bottom ul li:nth-child(6){
	margin-top: 1.4rem;
}

.bottom ul li p{
	font-size: 1.1rem;
}
.bottom ul li span{
	font-size:0.6rem;
}

/*底部图标颜色*/
.icon-lvxin1{
	color: #217D64;
}
.icon-kaiguan{
	color: #E72534;
}
.icon-chongxi1{
	color: #039CE9;
}
.icon-chongzhi1{
	color: #D99241;
}
.icon-wode1{
	color: #0A56A3;
}
.icon-chongzhi{
	color: #217D64;
}


/*水的动画*/
@-webkit-keyframes bolang{
			0%{left:0;}
			100%{left:6.4rem;}
}
@keyframes bolang{
			0%{left:0;}
			100%{left:6.4rem;}
}
/*水的动画*/
@-webkit-keyframes bolang1{
			0%{left:-6.4rem;}
			100%{left:0;}
}
@keyframes bolang1{
			0%{left:-6.4rem;}
			100%{left:0;}
}

/*水的动画*/
@-webkit-keyframes shuibolang1{
			0%{left:0;}
			100%{left:10rem;}
}
@keyframes shuibolang1{
			0%{left:0;}
			100%{left:10rem;}
}
/*水的动画*/
@-webkit-keyframes shuibolang2{
			0%{left:-10rem;}
			100%{left:0;}
}
@keyframes shuibolang2{
			0%{left:-10rem;}
			100%{left:0;}
}

i.icon-zhishui,i.icon-shuiman{
	color:#039CE9!important;
}

i.icon-chongxi{
	color:#D98C34!important;
}
i.icon-jianxiu,i.icon-queshui{
	color:#DF2426!important;
}
@-webkit-keyframes aImg3{
	0%{opacity: 1;}
	50%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes aImg3{
	0%{opacity: 1;}
	50%{opacity: 0;}
	100%{opacity: 1;}
}

html{
	background-color: #A8E2FF;
}
@media screen and (max-height: 520px) {
    
    .top{
    	margin-top: -0.2rem;
    }

    .bottom ul li p{
		font-size: 0.8rem;
		
	}

	.bottom ul li:nth-child(4),.bottom ul li:nth-child(5),.bottom ul li:nth-child(6){
		margin-top: 0.8rem;
	}
	.bottom ul li{
		margin-top: 0.4rem;
 	}

 	.bottom ul li span{
	font-size:0.35rem;
	}
}