body {
	color: #585858;
	font-size: .4rem !important;
}

#contain{
	width: 100%;
}

#contain #btn{

	width:40%; 
	height:0.88rem; 
	position: relative;
	left: 50%;
	margin-left: -20%;
}
#btn>input{
	color:#353659;
	background: none;
}
#btn input:first-child{
	width:1.333333rem;
	height:0.88rem;
	float:left;
	border:none;
	font-size: 0.426667rem;
}
#btn input:last-child{
	width:1.333333rem;
	height:0.88rem;
	float:right;
	border:none;
	font-size: 0.426667rem;
	
}

#but1{
	width:1.2rem;
	height:0.17rem;
	background:#3D3E63;
	border-radius: 5px;
	position: relative;
	top:-0.17rem;
	left:31vw;
	animation: bottomMove1 .3s ease-in;
}
#but2{
	width:1.2rem;
	height:0.17rem;
	background:#3D3E63;
	border-radius: 5px;
	position: relative;
	top:-0.17rem;
	left:57.4vw;
	display: none;
	animation: bottomMove2 .3s ease-in;
}
@keyframes bottomMove1 {
	0% {
		margin-left: 25vw;
	}
	50% {
		margin-left: -6vw;
	}
	100% {
		margin-left: 0vw;
	}
}
@keyframes bottomMove2 {
	0% {
		margin-left: -25vw;
	}
	50% {
		margin-left: 6vw;
	}
	100% {
		margin-left: 0vw;
	}
}
@-webkit-keyframes bottomMove1 {
	0% {
		margin-left: 25vw;
	}
	50% {
		margin-left: -6vw;
	}
	100% {
		margin-left: 0vw;
	}
}
@-webkit-keyframes bottomMove2 {
	0% {
		margin-left: -25vw;
	}
	50% {
		margin-left: 6vw;
	}
	100% {
		margin-left: 0vw;
	}
}
#liuliang{
	/*display:none;*/
	  /*=======显示=======*/
	margin-bottom: 4.5rem;
	padding: 1vw 4vw;
}

#liuliang h3{
line-height:1.333333rem;
font-size: 0.426667rem; 

}
#liuliang input{
	width:7.52rem; /*564*/
	height:1.2rem;  /*90*/
	margin-top: 0.346667rem; /*26*/
	margin-left: 0.84rem; /*126/2=63*/
	border: 1px solid #ddd;
	border-radius: 5px;
	color: #585858;
	background: #fff;
	-webkit-background: #fff;
}
/*==========<!-- 滤芯开始 -->============*/
#mo{
	margin-bottom: 4.5rem; 
	display: none;   /*=======显示=======*/ 
}
#mo>.item{
	padding: 1px;
/*	background: #F0F0F0;*/
}
#ro1{
	margin-top: 0.853333rem;
	width: 90%;
	height:3.04rem;
    position: relative;
    left: 50%;
    margin-left: -45%;
	margin-bottom: 0.573333rem;
	/*background:pink;*/
}
#ro-left{
	width: 2.88rem;
	height:3.013333rem;
	float: left;
	background: #eee;
}
#ro-left img{
	width: 2.88rem;
	height: 3.013333rem;
}
#ro-right{
	width:5.546667rem;
	height:3.013333rem;
	float: right;
	/*background-color: red;*/
}
#ro-right .top{
	height: 2.453333rem;	
}
#ro-right .top h3{
	font-size: 0.426667rem;
	margin-bottom:0.133333rem;
}
#ro-right .top p
{
	font-size: 0.346667rem;
}
#ro-right .bott{
	width: 5.546667rem;
	position: relative;
	
}
#ro-right .bott>b {
	color: red;
	font-weight: normal;
}
#ro-right .bott i{
	font-size: 0.426667rem;
	color:red;
	position: absolute;
	right: 0.0rem;
	bottom: 0.0rem;
}
#ro-right .bott i input{
	padding:5px 12px;
	text-align: center;
	background: #fff;
}
#ro-right .bott i input:first-child,
#ro-right .bott i input:last-child{
	border:none;
}

.ro1 + hr,.ro2 + hr{border:1px solid #ccc;}
hr{
	height:4px;
	background:#f2f2f2;
	    box-shadow: 0 0 1px rgba(183, 169, 169, 0.6) inset;
	    border: 1px solid #ccc !important;
}
/*================<!-- 滤芯结束 -->=================*/



#foot{
	width: 100%; 
	display: flex;
	position: fixed;
	height: 1.2rem; /*90*/
	bottom: 0.0rem;
	border-top: 1px solid #dedede;
	color: #15164c;
	background: #FFF;
}
#foot>a {
	width: 20%;
	text-align: right;
}
#foot i{
	background: #FFF;
	text-align: center;
	line-height: 1.2rem;
	font-size: 0.8rem; /*60*/
	margin:0.266667rem; /*20*/
	position: relative;
	
}
#foot i span{
	display: inline-block;
	width: 6vw;
    height: 6vw;
    line-height: 6vw;
	position: absolute;
	right: -30%;
	top:-16%;
	border-radius:50%;
	background: #f15050;
	font-weight: 800;
	font-size:  40%; /*60*/
	color:#fff;

}

#foot input{
	width: 40%;
	height: 1.2rem;
	border:none;
	color: #15164c;
	background: rgba(0,0,0,0);
}

#foot input:last-child{
	background:#353659;
	color:#fff;
}

#contain{
	margin-top: 0;
}
#ulDiv {
	height: 10vh;
	position: fixed;
	top: 40px;
	background: #fff;
	z-index: 999;
}
.contentBox {
	position: relative;
	top: 16vh;
}
#lineDiv {
	margin: 0;
	top: auto;
	bottom: 0;
	margin-bottom: 1vh;
}
._line{
	width: 100%;
	border-top: 1px solid #EFEFEF;
	margin: 15px 0;
	position: absolute;
	left: 85px;
	top: 36px;
	background-color: #24254D;
	width: 50px;
	height: 6px;
	border-radius: 8px;

}
._ul li:nth-of-type(1) {
	color: #039CE9;
	font-weight: normal;
}

._ul li:nth-of-type(2) {
	color: #6F6F6F;
	font-weight: normal;
}
._btn {
	background: #039CE9;
}
._line {
	background: #039CE9;
}
#back2Home {
	width: 8vh;
	height: 8vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
}
#back2Home>i {
	width: 5vh;
	height: 5vh;
	text-align: center;
	line-height: 5vh;
	color: #fff;
	font-weight: 600;
	border-radius: 5vh;
	background: #039CE9;
}
._ul{
	width: 100vw;
	height: 8vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	text-align: center;
	position: relative;
	border-bottom: 1vh solid #ccc;
}
._ul li{
	display: inline-block;
	padding: 0 30px;
	cursor: pointer;
	font-weight: 600;
	color: #555673;
	font-size: .5rem;
}
#ro-right input{
	color: #9E9E9E;
	font-style: normal;
}
#ro-right input:nth-child(2){
	color: #7D7D7D;
	font-size:20px;
}
#foot>a:active {
	text-decoration: none;
}
#foot>input {
	color: #039CE9;
	font-size: 0.426667rem;
	font-weight: 600;
}
#foot input:last-child {
	color: #fff;
	background: #039CE9;
}
#ro1 {
	height: 16vh;
	margin-top: 0.853333rem;
	margin-bottom: 0.853333rem;
}
#ro-right {
	height: auto;
}
#ro-right .bott {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
#ro-right .bott i{
	width: 40%;
	display: flex;
	align-items: center;
	position: relative;
	margin-left: 6px;
}
#ro-right .bott i input {
	width: 33.33% !important;
	padding: 0;
	background: #fff;
	border: 1px solid;
	border-radius: 6px;
	appearance: none;
	-webkit-appearance: none;
	text-align: center;
}
#ro-right .top p {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}






