/*注册页面css*/
* {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    box-sizing: border-box;
}

html,
body {
    margin: 0 auto;
    width: 100%;
   	height: 100%;
    overflow-x: hidden;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
ul li{
	list-style: none;
	overflow: hidden;
}
h4{
	padding-left: 2vw;
}
/*index css */
.canvasBox{
    width: 100vw;
    height: 75vh;
    padding: 0;
    margin: 0;
    position: relative;
    background: url("../images/status_bg.png") no-repeat;
    background-size: 100% auto;
    background-position: 0 100%;
}
.canvasBox canvas{
    z-index: 10;
	position: absolute;
	margin: auto;
	top: 5%;
	right: 0;
    left: 0;
}
#canvas {
    top: 5vh;
}
.canvasBox .wash{
    width: 30vw;
    height: 30vw;
    position: absolute;
    display: none;
    margin: auto;
    left: 0;
    right: 0;
    top: 20%;
    z-index: 0;
}
.canvasBox .wash img{ 
    width: 100%;
    animation:wash 1s linear infinite;
    -webkit-animation:wash 1s linear infinite;
}
@keyframes wash{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.canvasBox .status_text{
    padding-top: 70vw;
    text-align: center;
    color: #8A57F6;
}
.btnList{
	width: 100vw;
	height: 10vh;
	padding: 0;
	margin: 0;
}
.btnList ul{
	width: 100vw;
	height: 10vh;
	margin-top: 1vh;
} 
.btnList ul li{
    list-style: none;
    float: left;
    width: 25vw;
    text-align: center;
}
.btnList ul li a{width: 25vw;height: 10vw; display:block;}
.btnList ul li .i1{background:url("../images/wash_btnBg.png") no-repeat;background-position: 50% 30%;background-size: 35%; }
.btnList ul li .i2{background:url("../images/filter_btnBg.png") no-repeat;background-position: 50% 30%; background-size: 20% 95%;}
.btnList ul li .i3{background:url("../images/mall_btnBg.png") no-repeat; background-position: 50% 30%;background-size: 35%;}
.btnList ul li .i4{background:url("../images/my_btnBg.png") no-repeat;background-position: 50% 30%; background-size: 35%;}
.footerBtn{
    width: 90%; 
    height: 12vw; 
    line-height: 12vw;
    margin:0 auto 6vh; 
    background: #2C2B4E; 
    color: #fff;
    border-radius: 2vw;
    text-align: center;
}
.canvasBox .service{
    width: 20vw;
    height: 20vw;
    position: absolute;
    right: 20%;
    top: 38%;
    z-index: 10;
}
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
} 
@keyframes spin-reverse {    
    from {
        transform: rotate(1turn);
    }
}
.avatar{
    animation: spin 1s infinite linear;   
}
.avatar > img {
    width: 80%;
    animation:spin-reverse 1s infinite linear;
}
.addwater{ 
    width: 65vw;
    height: 65vw;
    background: url("../images/addwater.png") no-repeat;
    background-size: 100%;
    background-origin:5px 5px;
    position: absolute;
    margin: auto;
    top: 8.5vh;
    right: 0;
    left: 0;
    z-index: 10000;

}
.ring-out{
    width: 65vw;
    height: 65vw;
    background: url("../images/ring-out.png") no-repeat;
    background-size: 100%;
    background-origin:5px 5px;
    position: absolute;
    margin: auto;
    top: 8.7vh;
    right: 0;
    left: 0;
}
.ring-inside{
    width: 65vw;
    height: 65vw;
    background: url("../images/ring-inside.png") no-repeat;
    background-size: 100%;
    position: absolute;
    margin: auto;
    top:8.5vh;
    right: 0;
    left: 0;
}
.dripping1{
    position: absolute;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 3vh;
    animation:dripping1 2s linear infinite;
    -webkit-animation:dripping1 2s linear infinite;;
}
.dripping2{
    position: absolute;
    width: 4%;
    margin: auto;
    left: 0;
    right: 0;
    top: 25vh;
    animation:dripping2 2s 1s linear infinite;
    -webkit-animation:dripping2 2s 1s linear infinite;;
}
@keyframes dripping1{
    0%{
        opacity: 0;
        top: 3vh;
        width: 10%;
    }
    100%{
        opacity:1;
        top: 20vh;
        width: 10%;
    }
    
}
@-webkit-keyframes dripping1{
    0%{
        top: 3vh;
        width: 10%;
    }
    100%{
        top: 20vh;
        width: 10%;
    }
    
}
@keyframes dripping2{
    0%{
        top: 25vh;
        width: 4%;
    }
    100%{
        top: 37vh;
        width: 4%;
    }
}
@-webkit-keyframes dripping2{
    0%{
        top: 25vh;
        width: 4%;
    }
    100%{
        top: 37vh;
        width: 4%;
    }   
}

.canvasBox .service{
    width: 20vw;
    height: 20vw;
    position: absolute;
    right: 20%;
    top: 38%;
    z-index: 10;
}
#waterDetial {
    width: 100%;
    /*display: none;*/
    position: absolute;
    bottom: 6vh;
    border-top: 1px solid #bedbf0;
    border-bottom: 1px solid #bedbf0;
    font-size: 18px;
}
#waterDetial>div {
    display: flex;
    padding: 2% 6%;
}
#waterDetial>div>span {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    white-space: nowrap;
}
#waterDetial>div>span>img {
    height: 50%;
}
.footerBtn {
    position: relative;
}
.footerBtn>div {
    width: 102%;
    height: 114%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -1%;
    margin-top: -1%;
    border: 1px solid #d4d4d4;
    border-radius: 2vw;
}