ins,a{text-decoration:none!important;color: #333;}
a:link{text-decoration:none!important;}   /* 指正常的未被访问过的链接*/
a:visited{text-decoration:none!important;} /*指已经访问过的链接*/
a:hover{text-decoration:none!important;}/*指鼠标在链接*/}
a:active{text-decoration:none!important;}/* 指正在点的链接*/
ul, li, dl, dt, dd, form, h1, h2, h3, h4, p, input, form {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-webkit-appearance: none;
}
body {
	overflow-x: hidden;
}
#container{

    margin: 0.4rem 0.4rem 0.5rem 0.4rem !important;
}
 
#order-all-header{
	position: relative;

}

/*<!-- order-all的头部开始 -->*/
#order-all-header>ul
{
	width: 100vw;
	height:0.98rem;
	/*position: relative;*/
}
#order-all-header>ul>li
{
   float: left;
	display: inline-block;
	width: 25vw;
	height:0.88rem;
	font-size: 0.426667rem;
	text-align: center;
	line-height: 0.88rem;
	border-bottom: 4px solid #EEEEEE;
	position:relative;
}
#order-all-header>ul>li>a{
    padding-bottom: 0.22rem;
    border-radius: 0.05rem;
     border-bottom: 2px solid #EEEEEE;
}
/*#order-all-header>ul>li>a.headOne{
	 border-bottom: 4px solid #039CE9;

}*/
/*#order-all-header>.slip
{
	width:1.3rem;
	height:4px;
	background: #2E2F55;
	position: absolute;
	top:1.278rem;
	left:0.880911rem;
	border-radius: 0.053333rem;

}*/

/*<!-- order-all的头部结束 -->
*/
#all-sure-head
{
	width:97vw;
	margin:0.6rem 0;
	border-bottom: 1px solid #ccc;
	
}
#all-sure-head>input{

	
}
.fini-change{
	border: 1px solid #039CE9;
    border-radius: 0 0.3rem 0.3rem 0;
    width:2.533333rem; 
    background: #039CE9;
    color: #fff;
    font-size: 0.533333rem;
    margin-top:0.7rem;
}

#all-information>b
{
	line-height: 0.666667rem;
	margin-bottom: 0.266667rem;
	display: inline-block;
	font-weight: normal;
	width: 100%;
}

#order-all-foot{
	margin-top:1.2rem; 
	width:94vw;
	padding-bottom: 1.2rem;
	position: relative;
	bottom:-1.0rem;
	border-bottom: 6px solid #EBEBEB;
}

#order-all-foot>input{
width:2.85333rem;
height:0.70rem;
float:right;
border:none;
background: #FFF;
border:1px solid #000;
}
#order-all-foot>#ord-btn1{
	position: absolute;
	left: 0.0rem;
}

#order-all-foot>#ord-btn2{
	position: absolute;
	right: 0.0rem;
	background:#FFF;
	color: #000;
	letter-spacing: 1px;
}

#mo-left{
	display: inline-block;
}
#mo2{
	position: relative;
}
/*#mo-right2>p,#mo-right>b{

	display: inline-block;
    font-size: 0.426667rem;
	float: right!important;
}*/
#mo-right2{
	width:5.733333rem;
	float: right;

}
/*#mo-right2>p{

	display: inline-block;
    font-size: 0.426667rem;
	float: right!important;
}*/
#mo-right>b{
	 font-size: 0.426667rem;
	float: left;

}

#mo-right2>p{
	display: inline-block;
    font-size: 0.473667rem;
	color: #FF0000;
	float: right !important;
}
#mo-right2>p>span{
	color: #000;
}

/*============未支付============*/
.no-pay{
	clear: both;
}

/*补全模块的css样式*/
#all-information{
	margin-top: 1.0rem;
}
#all-information>b>span.readyedpay{
	font-size: 0.4rem;
	color:#353659;
	float: right;

}

.nopay-kuai{
	border-top: 6px solid #EBEBEB;
	/*margin-top: 2.7rem;*/
	margin: 1rem  0.4rem 0rem 0.4rem;
}

/*清除浮动*/
.clearfix:after{
	content:"";
	height:0;
    line-height:0;
    display:block;
    visibility:hidden;
    clear:both
}

.orderFulfil {
	width: 9.2rem;
	padding: 0 0 10vh 0;
	border-bottom: 6px solid #EBEBEB;
}
.nopay-kuai {
	border-top: 0px solid #EBEBEB;
	margin: 1rem 0.4rem 0rem 0rem;
}
#order-all-header>ul>li:nth-of-type(1)>a{
	color: #039CE9;
}
#all-information {
	margin-top: 1rem;
}
#ro-right .bott {
	text-align: right;
}
.bott p {
	position: relative;
	margin-left: 5vw;
}
#ord-btn1, #ord-btn2 {
	border: 1px solid #353659;
	border-radius: 6px;
	font-size: .36rem;
	line-height:0;
}
.fini-change {
	background: #039CE9;
	height: .8rem;
	line-height: .8rem;
}
#order-all-header{
	margin-top:.4rem;
}
.suojin, .becomePay, .becomeSend, .becomeAccept{
	padding-left:.4rem;
}
.slideLine {
	position:absolute;
	bottom:-1vh;
	width:8vh;
	left:4.2vh;
	height:1vh;
	border-radius:2px;
	background-color:#039CE9;
}
.ordernull {
	text-align:center;
	margin-top:8vh;
	font-size:3vh;
}
.layui-btn{
	line-height: 0;
}
#order-all-foot>#ord-btn1 {
    color: #000;
}
