.take-slip{
    position: absolute;
    top: 1.278rem;
    left: 7.812222rem !important;
}
.paied{
	display: inline-block;
	margin-left: 1.066667rem;
	font-family: "微软雅黑";
	font-size: 0.266667rem;
	float: right !important;
}
