* {
	padding: 0;
	margin: 0;
}
ul, li, dl, dt, dd, form, h1, h2, h3, h4, p, input, form {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-webkit-appearance: none;
}
#repair-all {
	width: 10.0rem;
}

#repair-container {
	width: 9.2rem;
	margin: 0.4rem 0.4rem 1.333333rem 0.4rem;
}

#repair-timer {
	height: 3.0rem;
	position: relative;
}

#repair-timer>p {
	font-size: 0.426667rem;
	margin-top: 0.2rem;
	line-height: 0.533333rem;
	display: inline-block;
}

#repair-timer .timer-set {
	display: inline-block;
	height: 2.166667rem;
	width: 6.68rem;
	float: right;
	position: absolute;
	top: 0.5633333rem;
}

#repair-timer .timer-set input,
#repair-timer .timer-set b {
	margin-top: 0.4rem;
}

#repair-timer .timer-set input {
	width: 2.33999rem;
	height: 0.633333rem;
	background: #fff;
}

#repair-timer .timer-set .in-first {
	width: 5.18555rem;
}

#repair-main {
	width: 9.2rem;
	height: 9.6rem;
	margin: 0.933333rem 0.0rem;
	position: relative;
}

#repair-main>h3 {
	font-size: 0.426667rem;
	line-height: 0.8rem;
}

#repair-main>h3>b {
	color: #F9586B;
}

#repair-main>textarea {
	margin-top: 0.133333rem;
	height: 4.186667rem;
	width: 9.173333rem;
	display: inline-block;
	resize: none;
	overflow: hidden;
	border: 1px dashed #CCC;
}
#repair-main form{
	position: relative;
	top:-2.866667rem;
	left: 0rem;
	opacity: 0;
}

#repair-main form input {
	margin-top: 0.163333rem;
	height: 2.466667rem;
	width: 2.42822rem;
	background: #ccc;
	color: #fff;
	position: absolute;
	top:0rem;
	left: 0rem;
	border-radius: 0.4rem;
	z-index: 6;
	
}

#repair-main>p {
	margin-top: 0.933333rem;
	font-size: 0.426667rem;
}

#repair-main>i {
	margin: -0.133333rem;
	font-size: 2.666667rem;
	color: #D0D1FC;
}

#repair-link {
	width: 9.2rem;
	height: 3.626667rem;
}

#repair-link>p {
	font-size: 0.426667rem;
	height: 0.906667rem;
	line-height: 0.906667rem;
}

#repair-link>p>label {
	font-size: 0.426667rem;
	float: left;
}

#repair-link>p>input {
	float: right;
	width: 6.90rem;
	height: 0.72rem;
	border: 1px dashed #CCC;
	border-radius: 0.106667rem;
	background: #FFF;
}

#repair-container>input {
	width: 8.266667rem;
	height: 1.2rem;
	background: #353659;
	color: #FFF;
	border: none;
	font-size: 0.64rem;
	margin-top: 2.4rem;
	margin-left: 0.466667rem;
	border-radius: 0.106667rem;
}