
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td 
{ margin: 0; padding: 0; } 

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: .7rem;
}
.rewardTop{
   width: 100%;
   /*height: 2rem;*/
   padding: 5%;
   background: linear-gradient(to right, #3B90E1, #76F5E4); 
   border-bottom: 6px solid #F6F6F6;
   color: #fff;
}
.myReward{
  width: 100%;
  height: 100%;
}
.iconReward{
  margin: 0.933333rem 0 0;
  color: #fff;
} 
.iconReward span{
  font-size: 0.666667rem;
}
.iconReward span b em{
  font-size: 0.7rem;
  padding: 0 0.2rem;
}
.iconReward span p{
  display: inline-block;
}
.iconReward>.spanRight{
  margin-left: 1.5rem;
}
.iconReward>p {
  width: 26%;
  display: inline-block;
}
.rewardFoot {
  overflow-y: scroll;
}
.adviceFoot ul{
  width: 100%;
}
.rewardFoot ul li{
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  padding: 0 5%;
  line-height: 2rem;
  /*border-bottom: 1px solid #F6F6F6;*/
}
.rewardFoot ul li:nth-of-type(1) {
  border-top: 1px solid #e2e2e2;
}
.litem>div {
  display: inline-block;
}
.rewardFoot ul li span:nth-of-type(2){
  position: absolute;
  right: 5%;
  font-size: 0.7rem;
}
.rewardFoot ul li div.iconBig{
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
}
.rewardFoot ul li div b{
  margin-left: 0.26rem
}

.rewardFoot>li {
  border-bottom: 6px solid #eee;
}
.rewardFoot>li>h4 {
  display: block;
  padding: 3% 5%;
  z-index: 100;
}
.rewardFoot>li>ul {
  z-index: 99;
}
.noRewardFoot {
  margin: 8.0rem auto 0;
  width: 40%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}
/*显示*/
._reward .show {
  width: 100%;
  height: 0;
  max-height: 262px;
  display: block;
  padding: 0 5%;
  border-top: 1px solid #f1f1f1;
  /*background: #fff;*/
  z-index: 99;
  transition: .2s ease-out;
  overflow: hidden;
}
._reward .show>span,
._reward .show>div {
  color: #000;
}
._reward .show>span>span,
._reward .show>div>span {
  color: #444;
}

.litem>div {
  /*overflow: hidden;*/
}
