ul, li, dl, dt, dd, form, h1, h2, h3, h4, p, input, form {
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-webkit-appearance: none;
}
#contain{
	width:100%; 
	padding: 1vh 0 16vh;
	/*margin:0.4rem 0.4rem 4.5rem 0.4rem;*/
}
#sure-head {
	position: relative;
}
#mo {
	position: relative;
}
#mo .item, #mo2{
	display: flex;
	justify-content: center;
	align-items: center;

}
#mo .item {
	padding: 3vh 0;
	border-bottom: 1px solid #dedede;
}
/*==========<!-- 滤芯开始 -->============*/

#ro1{
	width:9.2rem;
	height:3.04rem;
	/*margin-bottom: 0.573333rem;*/
	/*background:pink;*/
}

#ro-left{
	width: 3.413333rem;
	height:3.013333rem;

	display: inline-block;
	
}
.bott i,.bott b{
	font-weight: normal;
	color: red;
	font-size: 0.426667rem;
}
#ro-left input{
	font-family: "宋体","微软雅黑";
	width: 0.533333rem;
	height: 0.533333rem;
	border:1px solid red;
	margin-top: 1.173333rem;
	text-align: center;
	border-radius: 1.066667rem;
	color:#FF0000;
	float: left;
	/*font-size: 0.426667rem;*/
}
#ro-left img{
	margin-left: 0.133333rem;
	width: 2.533333rem;
	height: 3.013333rem;
	float: left;
}
#ro-right, #ro-rightVisi{
	width:5.546667rem;
	height:3.013333rem;
	float: right;
	display: inline-block;
}
#ro-right .top{
	height: 2.4rem;	
}
#ro-right .top h3{
	font-size: 0.426667rem;
	margin-bottom:0.133333rem;
}
#ro-right .top p
{
	font-size: 0.346667rem;
}

#ro-right .tops{
	height: 2rem;	
}
#ro-right .tops h3{
	font-size: 0.426667rem;
	margin-bottom:0.133333rem;
}
#ro-right .tops p
{
	font-size: 0.346667rem;
}
#ro-right .bott{
	width: 5.546667rem;
	position: relative;
	
}
.bott p{
	font-family: "宋体","微软雅黑";
	display:inline-block;
	width: 0.666667rem;
	letter-spacing: 0.133333rem;
	color:#FF0000;
	font-size: 0.426667rem;
	position: absolute;
	right: 0.0rem;
	bottom: 0.0rem;
}
#ro-right .bott i{
	font-size: 0.426667rem;
	color:red;
	position: absolute;
	right: 0.0rem;
	bottom: 0.0rem;
}
#ro-right .bott i input{
	width: 0.533333rem;
	height: 0.533333rem;
	text-align: center;
	background: #fff;
}
#ro-right .bott i input:first-child,
#ro-right .bott i input:last-child{
	border:none;

}
.bottomBtn {
	height:1rem;
}
.bottomBtn:after {
	content:"";
	height:0;
	display:block;
	clear:both;
}
.numadd {
	width:50%;
	float:left;
	border:1px solid #DEDEDE;
}
.numadd > div{
    width:100%;
    flex-direction:row;
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	box-orient:horizontal;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	-ms-box-orient:horizontal;
} 
.numadd > div > span {
	flex:1;
	box-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-ms-box-flex:1;
	box-flex:1;
	text-align:center;
	line-height:.95rem;
}
.numadd > div > span:first-child {
	border-right:1px solid #DEDEDE;
}
.numadd > div > span:last-child {
	border-left:1px solid #DEDEDE;
	
}
.numadd > div > input {
	flex:1;
	box-flex:1;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-ms-box-flex:1;
	width:1rem !important;
	border:none;
	text-align:center;
}
.finish {
	width:50%;
	text-align:center;
	line-height:1rem;
	color:white;
	background-color: #4AA3E0;
	float: right;
}
i.num{
	font-size: 0.426667rem;
	color:red;
	position: absolute;
	right: 20px;
	top: 0.0rem;
}
i.num input{
	
    width: 30px;
    height: 25px;
	text-align: center;
	background: #fff;
	color: #9E9E9E;
	border:none;
}

i.num input:nth-child(2){
	width: 22px;
    height:22px;
	color: #7D7D7D;
	font-size:20px;
	border: solid 1px #ccc;
}
hr{
	border:1px solid #ccc;
}
#mo2{
	width: 9.2rem;
	/*background: pink;*/
}
.res {
	padding: 3vh 4vw 3vh 0 !important;    
	border: none !important;
	margin-top: 4vh;
}
#mo2 b, #mo2 p ,#mo2 i{
	display: inline-block;
	font-size: 0.426667rem;
}
#mo2>input{
	font-family: "宋体","微软雅黑";
	text-align: center;
	border-radius: 0.533333rem;
	display: inline-block;
	width:0.533333rem;
	height: 0.533333rem;
	border-radius: 0.533333rem;
	border: 1px solid #FF0000;
	color: #FF0000;
	margin-right: 0.32rem;
}
#mo-right{
	width: 80%;
	display: inline-block;
	/*background: green;*/
}

#mo-right>p{
	display: inline-block;
	margin:0.0rem 0.066667rem;
	color: #FF0000;
	/*background: red;*/
}
#mo2>.bill{
	display: inline-block;
	height: 0.666667rem;
    width: 2.666667rem;
    font-family: "宋体","微软雅黑";
    letter-spacing: 0.133333rem;
	float: right;
	color: #FF0000;
	font-size: 0.426667rem;
}
.franking{
    position: relative;
	display: block;
	float:right;
	padding-right: 4vw;
	font-size: 0.24rem;
	font-size: 0.346667rem;
	margin: 2vh 0;
}

/*================<!-- 滤芯结束 -->=================*/



#foot{
	width: 100%; 
	display: flex;
	position: fixed;
	height: 1.2rem; /*90*/
	bottom: 0.0rem;
	color: #15164c;    
	border-top: 1px solid #dedede;
	background: #FFF;
}
#foot b{
	/*font-size: 0.426667rem;*/
	width: 26%;
	display: inline-block;
	height: 1.2rem;
	font-size: 0.453333rem;
	text-align: center;
	line-height: 1.2rem;
}
#foot b:first-child {
	padding-left: 4vw;
}
#foot .chang{
	width: 36%;
	color:#FF0000;
}

#foot input{
	width: 40%;
	height: 1.2rem;
	border:none;
	font-size: 0.426667rem;
}

#foot input:last-child{
	background:#353659;
	color:#fff;
}







