<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" >
<script src="__PUBLIC__/Home/js/flexible.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Home/css/advice.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/iconfontHome.css">
<title>建议</title>
</head> 
	<body>
		<div id="advice-all">
			<div id="advice-container">
				<h3>请写下您对设备的宝贵建议<b>*</b></h3>
				<form id="form" action="__URL__/proposal" method="post">
					<textarea autofocus name="content" id="" cols="30" rows="10"></textarea>
					<p>收到建议后，我们会对设备不断进行调试，力求为您提供更好的体验，谢谢~</p>
					<input type="button" value="提交" type="button">
				</form>
			</div>
		</div>
	</body>
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script src="__PUBLIC__/Admin/layui/layui.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css"> 
	<script>
	var oHeight = $(document).height(); //浏览器当前的高度
    $(window).resize(function(){
        if($(document).height() < oHeight){
            $("#form>input").css("position","static");
        }else{
            $("#form>input").css("position","absolute");
        } 
    });
    
	//layuiHint弹框提示封装
	function layuiHint(text){
	    layui.use('layer', function(){
	        var layer = layui.layer;
	        layer.msg(text);
	    });  
	}

	$("#form>input").click(function(){

		//console.log($("#form>textarea").val());

		$("#form>textarea").val()
		? $(this)[0].type="submit"
		: layuiHint("别忘了留下您宝贵的意见！")
	})
	
	</script>

</html>