<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >

<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css"> -->
<script src="__PUBLIC__/Home/js/flexible.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Home/css/advice.css">
<title>建议</title>
</head> 
	<body>
		<div id="advice-all">
			<div id="advice-container">
				<h3>请写下您对设备的宝贵建议<b>*</b></h3>
				<form action="__URL__/proposal" method="post">
					<textarea name="content" id="" cols="30" rows="10" style="margin: 0px;"></textarea>
					<p>收到建议后，我们会对设备不断进行调试，力求为您提供更好的体验，谢谢~</p>
					<input type="submit" value="提交">
				</form>
			</div>

		</div>

	</body>

</html>