<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">套餐管理/<span>套餐列表</span></div>
            <form class="form-search" action="__URL__/index" method="post">
                <span class="select-box">产品类型:
                    <input type="text" class="input-medium" name="typename" placeholder="请输入产品类型" style="width: 70px;"/ >
                </span>
                <span class="select-box">套餐模式:
                    <select class="select" size="1" name="remodel" style="width: 100px;">
                    <option value="" selected>- 套餐模式 -</option>
                    <option value="0">流量</option>
                    <option value="1">时长</option>
                    </select>
                </span>
                <span class="select-box">套餐金额:
                    <input type="text" class="input-medium" name="minmoney" placeholder="" style="width: 60px;" / > ~ 
                    <input type="text" class="input-medium" name="maxmoney" placeholder="" style="width: 60px;" / >
                </span>
                <span class="select-box">套餐量（天）:
                    <input type="text" class="input-medium" name="flow" placeholder="请输入查询条件" style="width: 70px;" / >
                </span>
                <span class="select-box">套餐名称:
                    <input type="text" class="input-medium" name="describe" placeholder="请输入查询条件" style="width: 70px;" / >
                </span>
                <span class="select-box" style="display: inline-block;position:relative">时间:
                    <input type="text" id="date-start" class="input-medium form-control" name="describe" placeholder="请选择时间" style="width: 76px;left: 0"/ > ~ <input type="text" id="date-end" class="input-medium form-control" name="describe" placeholder="请选择时间" style="width:76px;right: 0"/ >
                </span>
                
                <!-- <span class="select-box">查询条件:
                    <input type="text" class="input-medium" name="value" placeholder="请输入查询条件" / >
                </span>
                <span class="select-box">产品类型:
                    <select class="select" size="1" name="key" style="width: 100px;">
                    <option value="1" selected>产品类型</option>
                    <option value="2">套餐模式</option>
                    </select>
                </span>
                <span class="select-box">查询条件:
                    <input type="text" class="input-medium" name="value" placeholder="请输入查询条件" / >
                </span> -->
                <div class="submitBtn">
                    <button type="reset" class="btn fr" style="float: left;color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe62f;</i> 导出</button>
                    <button type="reset" class="btn fr" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#x1002;</i> 重置</button>
                    <button type="submit" class="btn fr" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe615;</i> 查找</button>
                </div>               
            </form>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>套餐编号</th>
                    <th>产品类型</th>
                    <th>套餐模式</th>
                    <th>套餐金额</th>
                    <th>套餐量（天）</th>
                    <th>套餐名称</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <notempty name="list">
                    <foreach name="list" item="vo" key="key">
                    <tr>
                        <td>{{$vo.id}}</td>
                        <td>{{$vo.typename}}</td>
                        <td>
                            <switch name="vo.remodel">
                                <case value="0">流量</case>
                                <case value="1">时长</case>
                                <default />
                            </switch>
                        </td>
                        <td>{{$vo['money']/100}}</td>
                        <td>{{$vo.flow}}</td>
                        <td>{{$vo.describe}}</td>
                        <td>{{$vo.addtime|date='Y-m-d H:i:s',###}}</td>
                        <td><a class="deletBnt" ruleId="{{$vo['id']}}" href="javascript:;">删除</a></td>
                    </tr>
                    </foreach>
                    <else />
                    <tr>
                        <td colspan="12">查无数据</td>
                    </tr>
                    </notempty>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    {{$button}}
                </ul>
            </div>
            <script>
                $('.pagination ul a').unwrap('div').wrap('<li></li>');
                $('.pagination ul span').wrap('<li class="active"></li>')
            </script>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div>
<script>
    $(function(){
        // 搜索关键字保留
        if(window.location.search){
            // 获取搜索关键字
            var arr = window.location.search.split("&");
            $('select[name="key"] option[value='+decodeURI(arr[0].slice(arr[0].indexOf('=')+1))+']').attr("selected", true);
            $('input[name=value]').val(decodeURI(arr[1].slice(arr[1].indexOf('=')+1)))
            // console.log(arr)
        }

    })
</script>
<script type="text/javascript">
    
    $(".deletBnt").click(function(){
        var _this=$(this);
        var id = $(this).attr('ruleId');
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.confirm('确定删除?', {icon: 3, title:'提示'}, function(index){
                window.location.href='{{:U("Admin/Setmeal/del","","")}}?id='+id;
                layer.close(index);
            });
        });
    });

</script>