<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><block name="title"></block></title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/style.css" />
    <!--响应式特性 css-->
    <link href="__PUBLIC__/Admin/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- jquery -->
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-1.8.3.min.js"></script>
    <!-- bootstrap.js -->
    <script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
    <!-- layui.js -->
    <script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
    <!-- 城市三级联动.js -->
    <script type="text/javascript" src="__PUBLIC__/Admin/js/area.js"></script>
    <!-- layui.css -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/ace.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
    <!-- 左边导航栏引用 -->
    <script src="__PUBLIC__/Admin/js/ace.min.js"></script>
    
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/style.css">
    <script src="__PUBLIC__/Admin/js/adminPublic.js"></script>
    <block name="link"></block>
</head>
<body>
    <block name="content"></block>
</body>
</html>
<block name="admin_js"></block>