
body,ul,ol {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
body {
	overflow: hidden;
}
a {
	height: auto;
    line-height: initial;
} 
#hTop a:link {
	color: #fff !important;
}
#hTop a:visited {
	color: #aaa !important;
}
#hTop a:hover {
	color: #eee !important;
}
#hTop a:active {
	color: #999 !important;
}
.nav>li>a {
	padding: 0 16px 0 7px !important;
}
.content {
	background: #ecf0f5;
}
.content .welcomePage {
	width: auto;
    height: auto;
    margin: auto auto;
    font-size: 40px;
}
/*内容头部*/
#hTop {
	width: 85%;
	display: inline-flex;
	position: relative;
	top: 70px;
    left: 0;
    margin-left: 15%;
    padding-top: 2%;
}
/*数字*/
.h1 {
	font-size: 3rem;
	padding: 0 4%;
	font-weight: bold;
}
#hTop>div {
	width: 24%;
	display: inline-block;
	padding-top: 1%;
	margin: 0 2%;
	color: #FFF;    
	border-radius: 3px;
}
#hTop>div:nth-of-type(1) {
	background: #00C0EF;
}
#hTop>div:nth-of-type(2) {
	background: #00A65A;
}
#hTop>div:nth-of-type(3) {
	background: #F39C12;
}
#hTop>div:nth-of-type(4) {
	background: #DD4B39;
}
/*描述*/
#hTop>div>p {
	padding: 0 4%;
	margin: 10px 0;
	font-size: 1.4rem;
}
/*更多*/
#hTop>div>a {
	width: 100%;
	display: block;
	margin-top: 6px;
	text-align: center;
	background: rgba(0,0,0,.1);
	border-radius: 3px;
}
/*底部统计图、地图*/
#hBottom {
	width: 85%;
	height: 75vh;
	position: relative;
	top: 70px;
	left: 0;
	margin-left: 15%;
	padding-top: 2%;
}

#hBottom>div {
	width: 46%;
	height: 100%;
	display: inline-block;
	position: relative;
	margin: 0 2%;
}
/*左侧折线图*/
#bottomLeft {
	float: left;
}
#bottomLeft:after {
	content: '';
	display: block;
	clear: both;
	line-height: 1;
	visibility: hidden;
}
#bottomLeft>div {
	width: 100%;
	height: 48%;
	position: relative;
	background: #fff !important
}
#bottomLeft>div:nth-of-type(2){
	position: absolute;
	left: 0;
	bottom: 0;
}

/*右侧地图*/
#map {
	float: right;
	background: #fff;
}

#map:after {
	content: '';
	display: block;
	clear: both;
	line-height: 1;
	visibility: hidden;
}
/*标题*/
#map>h5 {
	width: 100%;
	padding: 0% 2%;
}
/*百度地图*/
#allmap {
	width: 100%;
	height: 95%;
	overflow: hidden;
	margin: 0;
	font-family: "微软雅黑";
}
#footer {
	background: #ecf0f5;
}
#footer .span8 {
	width: 80%;
	line-height: 2;
    vertical-align: middle;
	text-align: center;
}