<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>支付失败</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_495581_9yess21xmgyzaor.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/pay-succeed.css">
	<script src="__PUBLIC__/Home/js/flexible.js"></script>
	<script src="__PUBLIC__/Home/js/jquery-1.11.1.min.js"></script>
	<style>
		#pay-succeed-btn>input {
			padding: 2% 3%;
			border: 1px solid #039CE9;
		}
	</style>
</head>
<body>
<div id="pay-succeed-all">
	<div id="pay-succeed-container">
		<p class="pay-succeed-pic"><i class="iconfont icon-shibai change-font"></i></p>
		<p class="pay-succeed-font">支付失败</p>
		<div id="pay-succeed-btn">
			<input type="button" value="再次支付">
			<input type="button" value="返回首页">
		</div>
	</div>
</div>
	<script>
		// 再次支付
		$('#pay-succeed-btn>input[value="再次支付"]').click(function(){
			location.href = "{{:U('Home/Orders/orderPay')}}";
		});
		
		// 返回首页
		$('#pay-succeed-btn>input[value="返回首页"]').click(function(){
			location.href = "{{:U('Home/Index/index')}}";
		});
	</script>	
</body>
</html>