<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">用户管理/<span>充值记录</span></div>
            <form class="form-search" action="__URL__/flow" method="get">
                <span class="select-box">用户昵称:
                    <input type="text" value="" class="input-medium name" name="name" placeholder="请输入用户昵称" style="width: 70px;"/ >
                </span>

                <span class="select-box">充值金额:
                    <input type="text" class="input-medium minmoney" name="minmoney" placeholder="" style="width: 60px;" / > ~ 
                    <input type="text" class="input-medium maxmoney" name="maxmoney" placeholder="" style="width: 60px;" / >
                </span>
                <span class="select-box">充值量（天）:
                    <input type="text" class="input-medium minflow" name="minflow" placeholder="" style="width: 60px;" / > ~ 
                    <input type="text" class="input-medium maxflow" name="maxflow" placeholder="" style="width: 60px;" / >
                </span>
                <span class="select-box">账户余量（天）:
                    <input type="text" class="input-medium mincurrentflow" name="mincurrentflow" placeholder="" style="width: 60px;" / > ~ 
                    <input type="text" class="input-medium maxcurrentflow" name="maxcurrentflow" placeholder="" style="width: 60px;" / >
                </span>
                <!--<span class="select-box">充值方式:-->
                    <!--<select class="select mode" size="1" name="mode" style="width: 100px;">-->
                        <!--<option value="" selected>- 充值方式 -</option>-->
                        <!--<option value="0">系统赠送</option>-->
                        <!--<option value="1">微信</option>-->
                        <!--<option value="2">支付宝</option>-->
                    <!--</select>-->
                <!--</span>               -->
                <span class="select-box" style="display: inline-block;position:relative">充值时间:
                    <input type="text" value="{{:I('get.minaddtime')}}" id="date-start" class="input-medium form-control" name="minaddtime" placeholder="请选择时间" style="width: 76px;left: 0"/ > ~
                    <input type="text" id="date-end" class="input-medium form-control" name="maxaddtime" placeholder="请选择时间" style="width:76px;right: 0"/ >
                </span>
                <div class="submitBtn">
                    <button type="submit" name="output" value="1" class="btn fr mbtn" style="float: left;color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe62f;</i> 导出</button>
                    <button type="reset" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#x1002;</i> 重置</button>
                    <button type="submit" name="search" value="1" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe615;</i> 查找</button>
                </div>               
            </form>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>充值流水ID</th>
                    <th>用户昵称</th>
                    <th>充值金额</th>
                    <th>充值量（天）</th>
                    <th>账户余量（天）</th>
                    <th>充值方式</th>
                    <th>充值时间</th>
                    <!-- <th>操作</th> -->
                </tr>
                </thead>
                <tbody>
                    <notempty name="list">
                    <foreach name="list" item="vo" key="key">
                    <tr>
                        <td>{{$vo.id}}</td>
                        <td>{{$vo.name}}</td>
                        <td>{{$vo['money']/100}}</td>
                        <td>{{$vo['flow']*$vo['num']}}</td>
                        <td>{{$vo.reday}}</td>
                        <td>
                            <switch name="vo.mode">
                                <case value="0">系统赠送</case>
                                <case value="1">微信</case>
                                <case value="2">支付宝</case>
                                <default />
                            </switch>
                        </td>
                        <td>{{$vo.addtime|date='Y-m-d H:i:s',###}}</td>
                    </tr>
                    </foreach>
                    <else />
                    <tr>
                        <td colspan="10">查无数据</td>
                    </tr>
                    </notempty>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    {{$button}}
                </ul>
            </div>
            <script>
                $('.pagination ul a').unwrap('div').wrap('<li></li>');
                $('.pagination ul span').wrap('<li class="active"></li>')

                 /**************** 搜索关键字保留 -- 开始 ******************/
                    var srearchInfo = {};
                    var name, minmoney, maxmoney, minflow, maxflow,
                    mincurrentflow, maxcurrentflow, date_start, date_end;
                    /**
                     * phone：电话, minmoney：最小金额, maxmoney：最大金额, 
                     * minflow：最小流量, maxflow：最大流量, 
                     * mincurrentflow：账户余量最小, maxcurrentflow：账户余量最大, 
                     * date_start： 开始时间, date_end：结束时间
                     */
                    // 点击搜索
                    $("button[name='search']").click(function(){
                        setSearchWord();
                    })
                    function setSearchWord(){
                        sessionStorage.setItem('search', '');   // 初始化

                        name = $('.name').val();
                        minmoney = $('.minmoney').val();
                        maxmoney = $('.maxmoney').val();
                        minflow = $('.minflow').val();
                        maxflow = $('.maxflow').val();

                        mincurrentflow = $('.mincurrentflow').val();
                        maxcurrentflow = $('.maxcurrentflow').val();
                        date_start = $('#date-start').val();
                        date_end = $('#date-end').val();
                        
                        srearchInfo['name'] = name;
                        srearchInfo['minmoney'] = minmoney;
                        srearchInfo['maxmoney'] = maxmoney;
                        srearchInfo['minflow'] = minflow;
                        srearchInfo['maxflow'] = maxflow;
                        srearchInfo['mincurrentflow'] = mincurrentflow;
                        srearchInfo['maxcurrentflow'] = maxcurrentflow;
                        srearchInfo['mintime'] = date_start;
                        srearchInfo['maxtime'] = date_end;

                        sessionStorage.setItem('search', JSON.stringify(srearchInfo));
                    }
                    // 搜索关键字保留
                    if(sessionStorage.getItem('search')){
                        var srearchInfo = JSON.parse(sessionStorage.getItem('search'));
                        if($('.form-search').length){
                            // console.log(srearchInfo)
                            $('.name').val(srearchInfo['name']);
                            $('.minmoney').val(srearchInfo['minmoney']);
                            $('.maxmoney').val(srearchInfo['maxmoney']);
                            $('.minflow').val(srearchInfo['minflow']);
                            $('.maxflow').val(srearchInfo['maxflow']);
                            $('.mincurrentflow').val(srearchInfo['mincurrentflow']);
                            $('.maxcurrentflow').val(srearchInfo['maxcurrentflow']);
                            $('#date-start').val(srearchInfo['mintime']);
                            $('#date-end').val(srearchInfo['maxtime']);

                            setTimeout(function(){
                                sessionStorage.setItem('search', '');   // 初始化
                            },500)
                        }
                    }
                    // 重置搜索结果
                    $('button[type="reset"]').click(function(){
                        location.href = '{{:U("Admin/Users/flow")}}';

                    })
                    
                /**************** 搜索关键字保留 -- 结束 ******************/

            </script>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div>

