<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">用户管理/<span>用户列表</span></div>
            <form class="form-search" action="__URL__/index" method="post">
                <span class="select-box">用户ID:
                    <input type="text" class="input-medium" name="id" placeholder="请输入id" style="width: 70px;"/ >
                </span>
                <span class="select-box">姓名:
                    <input type="text" class="input-medium" name="nickname" placeholder="请输入姓名" style="width: 70px;"/ >
                </span>
                <span class="select-box">设备ID:
                    <input type="text" class="input-medium" name="device_code" placeholder="请输入设备ID" style="width: 100px;"/ >
                </span>
                <span class="select-box">手机:
                    <input type="text" class="input-medium" name="phone" placeholder="请输入手机号" style="width: 100px;"/ >
                </span>
                <span class="select-box">地址:
                    <input type="text" class="input-medium" name="address" placeholder="请输入地址" style="width: 100px;"/ >
                </span>
                <span class="select-box">登录IP:
                    <input type="text" class="input-medium" name="login_ip" placeholder="请输入IP地址" style="width: 100px;"/ >
                </span>                
                <span class="select-box" style="display: inline-block;position:relative">时间:
                    <input type="text" id="date-start" class="input-medium form-control" name="mincreated_at" placeholder="请选择时间" style="width: 76px;left: 0"/ > ~ <input type="text" id="date-end" class="input-medium form-control" name="maxcreated_at" placeholder="请选择时间" style="width:76px;right: 0"/ >
                </span>
                <div class="submitBtn">
                    <button type="submit" name="output" value="1" class="btn fr" style="float: left;color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe62f;</i> 导出</button>
                    <button type="reset" class="btn fr" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#x1002;</i> 重置</button>
                    <button type="submit" name="search" value="1" class="btn fr" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe615;</i> 查找</button>
                </div>               
            </form>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>用户ID</th>
                    <th>姓名</th>
                    <th>当前设备ID</th>
                    <th>手机</th>
                    <th>地址</th>
                    <!-- <th>账户余额</th> -->
                    <th>最后登录</th>
                    <th>登录IP</th>
                    <th>关注日期</th>
                    <!-- <th>状态</th> -->
                    <!-- <th>操作</th> -->
                </tr>
                </thead>
                <tbody>
                    <notempty name="list">
                    <foreach name="list" item="vo" key="key">
                    <tr>
                        <td>{{$vo.id}}</td>
                        <td><a href="__URL__/user_info?open_id={{$vo.open_id}}">{{$vo.nickname}}</a></td>
                        <td>{{$vo.device_code}}</td>
                        <td>{{$vo.phone}}</td>
                        <td>{{$vo.address}}</td>
                        <td>{{$vo.login_time|date='Y-m-d H:i:s',###}}</td>
                        <td>{{$vo.login_ip}}</td>
                        <td>{{$vo.created_at|date='Y-m-d H:i:s',###}}</td>
                    </tr>
                    </foreach>
                    <else />
                    <tr>
                        <td colspan="10">查无数据</td>
                    </tr>
                    </notempty>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    {{$button}}
                </ul>
            </div>
            <script>
                
                $('.pagination ul a').unwrap('div').wrap('<li></li>');
                $('.pagination ul span').wrap('<li class="active"></li>')
                if(window.location.search){
                    $('input[name=name]').val(decodeURI(window.location.search.slice(6)))
                }

            </script>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
    <script>
        // 搜索关键字保留
        if(window.location.search){
            // 获取搜索关键字
            var arr = window.location.search.split("&");
            $('select[name="key"] option[value='+decodeURI(arr[0].slice(arr[0].indexOf('=')+1))+']').attr("selected", true);
            $('input[name=value]').val(decodeURI(arr[1].slice(arr[1].indexOf('=')+1)))
            // console.log(arr)
        }
    </script>
</div>

