<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">用户管理/<span>用户列表</span></div>
            <form class="form-search fr" action="__URL__/index" method="get">
                <input type="text" name="name" class="input-medium" placeholder="请输入真实姓名...">
                <button type="submit" class="btn">搜索</button>
            </form>
            
            
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>用户ID</th>
                    <th>姓名</th>
                    <th>手机</th>
                    <th>地址</th>
                    <th>账户余额</th>
                    <th>最后登录</th>
                    <th>登录IP</th>
                    <th>注册时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <notempty name="list">
                    <foreach name="list" item="vo" key="key">
                    <tr>
                        <td>{{$vo.id}}</td>
                        <td><a href="user_info?id={{$vo.id}}">{{$vo.name}}</a></td>
                        <td>{{$vo.phone}}</td>
                        <td>{{$vo.address}}</td>
                        <td>{{$vo.balance}}</td>
                        <td>{{$vo.login_time|date='Y-m-d H:i:s',###}}</td>
                        <td>{{$vo.login_ip}}</td>
                        <td>{{$vo.created_at|date='Y-m-d H:i:s',###}}</td>
                        <td>{{$vo.status}}</td>
                        <td>
                            <switch name="vo.status">
                                <case value="禁用"><a href="__URL__/edit/id/{{$vo.id}}/status/1">启用&nbsp;&nbsp;</a></case>
                                <case value="启用"><a href="__URL__/edit/id/{{$vo.id}}/status/0">禁用&nbsp;&nbsp;</a></case>
                                <default />
                            </switch>
                        </td>
                    </tr>
                    </foreach>
                    <else />
                    <tr>
                        <td colspan="10">查无数据</td>
                    </tr>
                    </notempty>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    {{$button}}
                </ul>
            </div>
            <script>
                $('.pagination ul a').unwrap('div').wrap('<li></li>');
                $('.pagination ul span').wrap('<li class="active"></li>')
            </script>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div>

