
<include file="Public/header" />
<div class="content" style="background-color: #ECF0F5">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">用户管理/<span>用户详情</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:history.go(-1)" class="btn btn-info">&lt;&lt;返回</a></div>
            
            <h1 class="text-center __user">当前用户：</h1>
            <input type="hidden" value='{{$user}}' class="_inp">
            <input type="hidden" value='{{$flow}}' class="_inp">
            <input type="hidden" value='{{$userinfo}}' class="_inp">
            <input type="hidden" value='{{$balance}}' class="balance">
            <div class="_tb _user" style="border-top: 4px #5ED0F4 solid;
    border-bottom:  1px #CCCCCC solid">
                <h3>用户基础信息</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <td>姓名</td>
                            <td>手机</td>
                            <td>安装地址</td>
                            <td>已绑定的设备</td>
                            <td>剩余量（天）</td>
                            <td>最后登录时间</td>
                            <td>登录IP</td>
                            <td>关注日期</td>
                            <td>用户状态</td>
                            <td>解绑</td>
                        </tr>
                    </thead>
                    <tbody class="_user_"></tbody>
                </table>
            </div>
            
            <div class="_tb _user" style="border-top: 4px #5ED0F4 solid;
    border-bottom:  1px #CCCCCC solid">
                <h3>充值记录</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <td>用户ID</td>
                            <td>充值方式</td>
                            <td>订单号码</td>
                            <td>充值金额/元</td>
                            <td>充值量（天）</td>
                            <td>充值时间</td>
                        </tr>
                    </thead>
                    <tbody class="_flow"></tbody>
                </table>
                
            </div>
        </div>
        <script>
            var _inp = $('._inp')
            var user = _inp.eq(0).val()
            var flow = _inp.eq(1).val()
            var consume = _inp.eq(2).val();
            var balance = JSON.parse($(".balance").val());

            console.dir(balance);
            var userStatus = {
                '0':'禁用',
                '1':'启用'
            }
            var mode = {
                '0':'系统赠送',
                '1':'微信',
                '2':'支付宝'
            }
            user.replace(/({.+})/,function(match,p1,offset,str){
                var data = JSON.parse(match)
                $('.__user').append(data.nickname)
            })
            flow.replace(/(\[.+\])/,function(match,p1,offset,str){
                var data = JSON.parse(match)
                console.log('data: ',data);
                data.forEach(function(el,i,arr){
                    var time = el.addtime?new Date(Number(el.addtime)*1000).toLocaleString():'--'
                    var ordernumber = el.order_id?el.order_id:'--'
                    var currentbalance = el.reday?el.reday:'--'
                    var flow = el.flow?el.flow:'--'
                    var money = el.money?el.money/100:'--'
                    var userId = el.id ? el.id : '--'
                    var payWay = mode[el.mode] ? mode[el.mode] : '--'
                    var html = '<tr>'+
                                    '<td>'+userId+'</td>'+
                                    '<td>'+payWay+'</td>'+
                                    '<td>'+ordernumber+'</td>'+
                                    '<td>'+money+'</td>'+
                                    '<td>'+flow+'</td>'+
                                    '<td>'+currentbalance+'</td>'+
                                    '<td>'+time.trim()+'</td>'+
                                '</tr>'
                    $('._flow').append(html)
                }) 
            })

            consume.replace(/(\[.+\])/,function(match,p1,offset,str){
                var data = JSON.parse(match)
                // console.dir(data);

                data.forEach(function(el,i,arr){
                    // console.dir(arr);
                    var login_time = data[i].login_time?new Date(Number(data[i].login_time)*1000).toLocaleString():'--'
                    var addtime = data[i].addtime?new Date(Number(data[i].addtime)*1000).toLocaleString():'--'
                    var installaddress= data[i].address?data[i].address:'--';
                    var html = '<tr>'+
                        '<td>'+data[i].name+'</td>'+
                        '<td>'+data[i].phone+'</td>'+
                        '<td>'+installaddress+'</td>'+
                        '<td class="device_code">'+data[i].device_code+'</td>'+
                        '<td class="balance"></td>'+
                        '<td>'+addtime+'</td>'+
                        '<td>'+data[i].login_ip+'</td>'+
                        '<td>'+login_time+'</td>'+
                        '<td>'+userStatus[data[i].user_status]+'</td>'+
                        '<td><a class="unb" did="'+data[i].device_code+'" href="javascript:;">解绑</a></td>'+
                    '</tr>'
                    if(data[i].device_code != null){
                        $('._user_').append(html)
                    } else {
                        $('._user_').append('<tr><td>暂无绑定设备</td></tr>')
                    }
                })
                                
            })

            $('._user_').on("click",".unb",function(){
                var dcode = $(this).attr("did");
                layui.use('layer', function(){
                    var layer = layui.layer;
                    layer.confirm('点击"确定"解绑！',function(){
                        $.ajax({
                            url:"{{:U('Admin/Users/unbind')}}",
                            data:{"device_code":dcode},
                            dataType:"json",
                            type: 'post',
                            success:function(res){
                                console.log(res);
                                location.reload();
                                 layui.use('layer', function(){
                                    var layer = layui.layer;
                                    layer.msg('解绑成功！');
                                });
                            },
                            error:function(res){
                                console.log(res);
                            }
                        });
                    });
                });
            })
            // 遍历剩余流量
            for(var i=0; i<balance.length; i++){
                // console.log($(".device_code").eq(i).text())
                // console.log(balance[i].deviceid)
                if($(".device_code").eq(i).text() == balance[i].deviceid){

                    if(!balance[i].reday){
                        $(".device_code").eq(i).siblings(".balance").text(0)
                    }else{
                        $(".device_code").eq(i).siblings(".balance").text(balance[i].reday)
                    }
                }
                
            }
        </script>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div> 

