
<include file="Public/header" />
<div class="content" style="background-color: #ECF0F5">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">用户管理/<span>用户详情</span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:history.go(-1)" class="btn btn-info">&lt;&lt;返回</a></div>
            
            <h1 class="text-center __user">当前用户：</h1>
            <input type="hidden" value='{{$user}}' class="_inp">
            <input type="hidden" value='{{$flow}}' class="_inp">
            <input type="hidden" value='{{$userinfo}}' class="_inp">
            <div class="_tb _user" style="border-top: 4px #5ED0F4 solid;
    border-bottom:  1px #CCCCCC solid">
                <h3>用户基础信息</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <td>姓名</td>
                            <td>手机</td>
                            <td>安装地址</td>
                            <td>已绑定的设备</td>
                            <td>剩余流量</td>
                            <td>最后登录时间</td>
                            <td>登录IP</td>
                            <td>关注日期</td>
                            <td>用户状态</td>
                            <td>解绑</td>
                        </tr>
                    </thead>
                    <tbody class="_user_"></tbody>
                </table>
            </div>
            
            <div class="_tb _user" style="border-top: 4px #5ED0F4 solid;
    border-bottom:  1px #CCCCCC solid">
                <h3>充值记录</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <td>用户ID</td>
                            <td>充值方式</td>
                            <td>订单号码</td>
                            <td>充值流量/L</td>
                            <td>当前流量/L</td>
                            <td>充值时间</td>
                        </tr>
                    </thead>
                    <tbody class="_flow"></tbody>
                </table>
                
            </div>
        </div>
        <script>
            var _inp = $('._inp')
            var user = _inp.eq(0).val()
            var flow = _inp.eq(1).val()
            var consume = _inp.eq(2).val()
            var userStatus = {
                '0':'禁用',
                '1':'启用'
            }
            var mode = {
                '0':'系统赠送',
                '1':'微信',
                '2':'支付宝'
            }
            user.replace(/({.+})/,function(match,p1,offset,str){
                var data = JSON.parse(match)
                $('.__user').append(data.nickname)
            })
            flow.replace(/(\[.+\])/,function(match,p1,offset,str){
                var data = JSON.parse(match)
                console.log(data)
                data.forEach(function(el,i,arr){
                    var time = el.addtime?new Date(Number(el.addtime)*1000).toLocaleString():'--'
                    var ordernumber = el.order_id?el.order_id:'--'
                    var currentbalance = el.currentflow?el.currentflow:'--'
                    var money = el.flow?el.flow:'--'
                    var html = '<tr>'+
                                    '<td>'+el.id+'</td>'+
                                    '<td>'+mode[el.mode]+'</td>'+
                                    '<td>'+ordernumber+'</td>'+
                                    '<td>'+money+'</td>'+
                                    '<td>'+currentbalance+'</td>'+
                                    '<td>'+time.trim()+'</td>'+
                                '</tr>'
                                console.log(ordernumber);
                    $('._flow').append(html)
                }) 
            })

            consume.replace(/(\[.+\])/,function(match,p1,offset,str){
                var data = JSON.parse(match)
                data.forEach(function(el,i,arr){
                    var login_time = data[i].login_time?new Date(Number(data[i].login_time)*1000).toLocaleString():'--'
                    var addtime = data[i].addtime?new Date(Number(data[i].addtime)*1000).toLocaleString():'--'
                    var installaddress= data[i].address?data[i].address:'--';
                    var html = '<tr>'+
                        '<td>'+data[i].name+'</td>'+
                        '<td>'+data[i].phone+'</td>'+
                        '<td>'+installaddress+'</td>'+
                        '<td>'+data[i].device_code+'</td>'+
                        '<td>'+data[i].balance+'</td>'+
                        '<td>'+login_time+'</td>'+
                        '<td>'+data[i].login_ip+'</td>'+
                        '<td>'+addtime+'</td>'+
                        '<td>'+userStatus[data[i].user_status]+'</td>'+
                        '<td><a class="unb" did="'+data[i].device_code+'" href="javascript:;">解绑</a></td>'+
                    '</tr>'
                    if(data[i].device_code != null){
                        $('._user_').append(html)
                    } else {
                        $('._user_').append('<tr><td>暂无绑定设备</td></tr>')
                    }
                })
                                
            })

            $('._user_').on("click",".unb",function(){
                var dcode = $(this).attr("did");
                $.ajax({
                    url:"unbind",
                    data:{"device_code":dcode},
                    dataType:"json",
                    type: 'post',
                    success:function(res){
                        location.reload();
                        alert(res.msg);
                    }
                });
            })
        </script>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div>
<script>
    // 显示当前页面所在的导航
    showNav();
    function showNav(){
       
        $(".nav").children("li").eq(6).attr("class","open");
        $(".nav").children("li").eq(6).find(".submenu").show();
    }
</script>

