<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">权限管理/<span>权限组</span></div>
            
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            用户组名
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <foreach name="data" item="v">
                    <tr>
                        <td>
                            {{$v['title']}}
                        </td>
                        <td>
                            <a href="javascript:;" ruleId="{{$v['id']}}" ruleTitle="{{$v['title']}}" onclick="edit(this)">
                                修改
                            </a>
                            |
                            <a class="deleteBtn" ruleId="{{$v['id']}}" href="javascript:;">
                                删除
                            </a>
                            |
                            <a href="{{:U('Admin/Rule/rule_group',array('id'=>$v['id']))}}">
                                分配权限
                            </a>
                            |
                            <a href="{{:U('Admin/Rule/group_list',array('group_id'=>$v['id']))}}">
                                成员列表
                            </a>
                        </td>
                    </tr>
                </foreach>
                </tbody>
            </table>
            <div class="text-right">
                <a href="javascript:;" onclick="add()" class="btn btn-success">添加用户组</a>
            </div>
            <script>
                $('.pagination ul a').unwrap('div').wrap('<li></li>');
                $('.pagination ul span').wrap('<li class="active"></li>')
            </script>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div>
<!-- 弹框信息 -->
<div class="modal fade" id="bjy-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" style='width:46%;box-sizing:border-box;padding:0px !important;'>
                <div class="" style='box-sizing:border-box;padding:5px;margin-left:-10px;'>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                添加用户组
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form id="bjy-form" class="form-inline" action="{{:U('Admin/Rule/add_group')}}"
                            method="post">
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <tr>
                                        <th width="15%">
                                            用户组名：
                                        </th>
                                        <td>
                                            <input class="input-medium" type="text" name="title">
                                        </td>
                                    </tr>
                                </table>
                                <div class="text-right">
                                    <input class="btn btn-success" type="submit" value="添加" style='width:20%'>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="bjy-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" style='width:46%;box-sizing:border-box;padding:0px !important;'>
                <div class="" style='box-sizing:border-box;padding:5px;margin-left:-10px;'>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                修改规则
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form id="bjy-form" class="form-inline" action="{{:U('Admin/Rule/edit_group')}}"
                            method="post">
                                <input type="hidden" name="id">
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <tr>
                                        <th width="12%">
                                            规则名：
                                        </th>
                                        <td>
                                            <input class="input-medium" type="text" name="title">
                                        </td>
                                    </tr>
                                </table>
                                <div class="text-right">
                                    <input class="btn btn-success" type="submit" value="修改" style='width:20%'>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
 
<script>
    // 添加菜单
    function add() {
        $("input[name='title']").val('');
        $('#bjy-add').modal('show');
    }

    // 修改菜单
    function edit(obj) {
        var ruleId = $(obj).attr('ruleId');
        var ruletitle = $(obj).attr('ruletitle');
        $("input[name='id']").val(ruleId);
        $("input[name='title']").val(ruletitle);
        $('#bjy-edit').modal('show');
    }
    $(".deleteBtn").click(function(){
        var id=$(this).attr('ruleId');
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.confirm('确定删除?', {icon: 3, title:'温馨提示'}, function(index){
                window.location.href='delete_group?id='+id;                
            });
        });
    });
</script>

