<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>广东电子科技有限公司</title>
	<script src="__PUBLIC__/Home/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/Admin/layui/layui.js"></script>
</head>
<body>
	<div id="contain">
		<div class="footer">
			
		</div>
	</div>
</body>
<script src="__PUBLIC__/Home/js/flexible.js"></script>
<script src="__PUBLIC__/Admin/layui/layui.js"></script>
<script>
	
</script>
</html>