<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<title>充值跳转</title>
	<script src="__PUBLIC__/Home/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/Admin/layui/layui.js"></script>
	<style>
		.chongzhiForm{
			padding:2rem .5rem;
			font-size:.5rem;
			color:rgb(89,89,89);
		}
		.chongzhiForm > p{
			margin-bottom:1rem;
		}
		.chongzhiForm > p > input[type=text] {
			height:.8rem;
			border:1px solid rgb(222,222,222);
			padding-left:5px;
		}
		.chongzhiForm > p > input[type=button] {
			border:none;
			border-radius:5px;
			width:95%;
			height:1.2rem;
			color:white;
			display:block;
			margin:0 auto;
			background:rgb(3,155,231);
		}
	</style>
</head>
<body>
	<div id="contain">
		<form action="" method="" class="chongzhiForm">
			<p>
				<label for="">设备编码：</label>
				<input type="text">
			</p>
			<p>
				<label for="">充值金额：</label>
				<input type="text">
			</p>
			<p>
				<input type="button" value="确认充值">
			</p>
		</form>
	</div>
</body>
<script src="__PUBLIC__/Home/js/flexible.js"></script>
<script src="__PUBLIC__/Admin/layui/layui.js"></script>
<script src="__PUBLIC__/Home/js/comment.js"></script>
</html>