 {__CONTENT__}
 <!-- <link rel="stylesheet" href="__PUBLIC__/Home/css/iconfont/iconfont.css"> -->
 <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/iconfontHome.css">
<style type="text/css">
	/*首页键*/
	.linkBox{
		width: 100%;
		height: 7.5vh;
		line-height: 7.5vh;
		z-index: 100000000000000;
		background:rgba(12, 93, 134, 1);
		font-size: .5rem !important;
		font-family: "微软雅黑";
		
	}
	.linkBox a{
		color: #fff;
		display: inline-block;
		
	}
	.linkBox a:hover{
		text-decoration: none !important;
	}
	.linkBox a:first-child{
		float: left;
	}
	.linkBox a:last-child{
		float:right;
		padding: 0 20px;
	}
	.linkBox .icon-zuo{
		display: inline-block;
		color: #fff;
		margin-left: .2rem;
	}
</style>
<script type="text/javascript">

    // 公版项目“首页”、“返回”按钮
    !function(){
    var aHtml='<div class="linkBox"><i class="iconfont icon-zuo"></i>'+
            '<a class="returnBtn" href="javascript:history.go(-1);">返回</a>'+
            '<a class="indexBtn" href="{{:U('/Home/index')}}">首页</a>'+
            '</div>';
    $("body").prepend(aHtml);
    }()
</script>