<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
	<script src="__PUBLIC__/Home/js/flexible.js"></script> 
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
	<title>滤芯详情</title>
	<style>
	#ulDiv {
	height: 10vh;
	position: fixed;
	background: #fff;
	z-index: 999;
    }
    #ulDiv>ul>li {
        height: 9vh;
        line-height: 9vh;
        vertical-align: middle;
        font-size: .5rem;
    }
    #back2Home {
        width: 10vh;
        height: 8vh;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        -ms-align-items: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
    }
    #back2Home:active {
        background: #ccc;
    }

    #_box {
        height: 100vh;
    }
    #_box>div:nth-of-type(2) {
        position: relative;
        top: 10vh;
    }
    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
    ::-webkit-scrollbar  
    {  
        width: 6px !important;  
        height: 16px;  
        background-color: #F5F5F5;  
    }  
      
    /*定义滚动条轨道 内阴影+圆角*/  
    ::-webkit-scrollbar-track  
    {  
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
        border-radius: 20px !important;  
        background-color: #F5F5F5;  
    }  
      
    /*定义滑块 内阴影+圆角*/  
    ::-webkit-scrollbar-thumb  
    {  
        border-radius: 10px !important;  
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
        background-color: #555;  
    }
	</style>
</head>
<body>
<!-- 滤芯详情页面 -->
<section id="_box">
    <div id="ulDiv">
        <ul class="_ul _position">
            <li>滤芯详情</li>
            <li>滤芯复位</li>
        </ul>
        <div id="lineDiv" class="_line"></div>
        <a id="back2Home" href="{{:U('Home/index/index')}}">
            <p>《 返回</p>
        </a>
    </div>
    <div>
        <!-- 滤芯详情 -->
        <div class="_background_color">
            <!-- progress -->
            <div>
                <ul id="lvxinDetailUL"></ul>
            </div>            
            <!-- RO膜 -->
            <div class="_padding" id="lvxinIntroduce">
            </div>
        </div>
        <!-- 滤芯复位 -->
        <div class="_background_color _displey">
            <!-- progress -->
			<div class="filterBtn">
				<ul id="lvxinReset">
				</ul>
			</div>
            <div class="_text_align">
                <button class="_btn">
                    复位
                </button>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
//变量定义

var filterName="";//获取选择滤芯的名称
var filterNumber=0;//获取选择滤芯的索引
// js进入滤芯详情页面
    $('._line').css({left:($('._ul li').eq(0).offset().left+$('._ul li').eq(0).innerWidth()/2-25)+'px'});
    $(".layui-layer-move").hide();
	//滤芯选中状态样式
	$("#lvxinReset li").unbind("click").click(function(){
		alert(123);
		$(this).children(".progress").children(".checkbox").children(".chBox").css({"visibility":"visible"});
		$(this).siblings().children(".progress").children(".checkbox").children(".chBox").css({"visibility":"hidden"});
		filterName=$(this).children("p").children().eq(0).text();
		filterNumber=$(this).index()+1;
	});
	


//tab按钮切换
$('._ul > li').click(function(){
    // 左边偏移量
    var $left = $(this).offset().left+$(this).innerWidth()/2 - 25;
    // 内容
    $('#_box').children('div').eq(1).children('div').eq($(this).index()).slideDown().siblings().slideUp();
    // 下划线动画
    $('._line').animate({left:$left+'px'});
})

var data=JSON.parse($(".status").val());
var res=JSON.parse($('.res').val());
var deviceInfo=JSON.parse($(".deviceInfo").val());
// 存放膜、滤芯、滤芯简介的遍历的标签
var moHTML = '',lvxinHTML = '',lvxinIntroduceHTML = '';
var filtermode = data.filtermode;
for(var i=0; i<res.length; i++){
//alert(data.filtermode);

    if(filtermode == 0){
		//按时间
        // 遍历膜的详情, 不存在则不遍历
        if(res[i].filtername){

            moHTML += '<li class="_padding">'+
                '<p><span class="">'+ res[i].filtername +
                '</span><span class="_float_right">'+
                ((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0)
                +'%</span></p>'+
                '<p class="_text_align">'+
                    '<div class="progress _progress _width">'+
                       '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
                      '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
                     ((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0) +
                      '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                    '</div>'+
                '</p>'+
            '</li>';
        }

        //滤芯简介
        if(res[i].introduce){

            res[i].timelife = !res[i].timelife ? 0 : res[i].timelife;
            data['redayfilter'+(i+1)] = !data['redayfilter'+(i+1)] ? 0 : data['redayfilter'+(i+1)];

            lvxinIntroduceHTML += '<div>'+
                '<h3>'+
                    res[i].filtername +
                '</h3>'+
                '<p>'+
                    res[i].introduce +
                '</p>'+
                '<p>'+
                    '<span class="_font_weigth">总寿命：'+ res[i].timelife +
                    '小时</span>'+
                    '<span class="_float_right _font_weigth">剩余：'+ data['redayfilter'+(i+1)] +
                    '小时</span>'+
                '</p>'+
            '</div>';
        }
    }else if(filtermode == 1){
        //流量模式
         // 遍历滤芯详情, 不存在则不遍历
        if(res[i].filtername){

            moHTML += '<li class="_padding">'+
                '<p><span class="">'+ res[i].filtername +
                '</span><span class="_float_right">'+
                ((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0)
                +'%</span></p>'+
                '<p class="_text_align">'+
                    '<div class="progress _progress _width">'+
                       '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
                      '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
                     ((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0) +
                      '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                    '</div>'+
                '</p>'+
            '</li>';
        }

        //滤芯简介
        if(res[i].introduce && data.reflowfilter+[i+1]){
            res[i].flowlife = !res[i].flowlife ? 0 : res[i].flowlife;
            data['reflowfilter'+(i+1)] = !data['reflowfilter'+(i+1)] ? 0 : data['reflowfilter'+(i+1)];

            lvxinIntroduceHTML += '<div>'+
                '<h3>'+
                    res[i].filtername +
                '</h3>'+
                '<p>'+
                    res[i].introduce +
                '</p>'+
                '<p>'+
                    '<span class="_font_weigth">总寿命：'+ res[i].flowlife +
                    'L</span>'+
                    '<span class="_float_right _font_weigth">剩余：'+ data['reflowfilter'+(i+1)] +
                    'L</span>'+
                '</p>'+
            '</div>';
        }
    }else if(filtermode == 2){
        //按流量和时间
        // 遍历膜的详情, 不存在则不遍历

       if( ((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0) >
        ((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0) ){
            //时间剩余比例小则显示时间
            if(res[i].filtername){

                moHTML += '<li class="_padding">'+
                    '<p><span class="">'+ res[i].filtername +
                    '</span><span class="_float_right">'+
                    ((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0)
                    +'%</span></p>'+
                    '<p class="_text_align">'+
                        '<div class="progress _progress _width">'+
                           '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
                          '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
                         ((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0) +
                          '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                        '</div>'+
                    '</p>'+
                '</li>';
            }

            //滤芯简介
            if(res[i].introduce){
                res[i].timelife = !res[i].timelife ? 0 : res[i].timelife;
                res[i]['redayfilter'+(i+1)] = !res[i]['redayfilter'+(i+1)] ? 0 : res[i]['redayfilter'+(i+1)];

                lvxinIntroduceHTML += '<div>'+
                    '<h3>'+
                        res[i].filtername +
                    '</h3>'+
                    '<p>'+
                        res[i].introduce +
                    '</p>'+
                    '<p>'+
                        '<span class="_font_weigth">总寿命：'+ res[i].timelife +
                        '</span>'+
                        '小时<span class="_float_right _font_weigth">剩余：'+ res[i]['redayfilter'+(i+1)] +
                        '小时</span>'+
                    '</p>'+
                '</div>';
            }
        }else{
            //流量剩余比例小则显示流量
            if(res[i].filtername){

                moHTML += '<li class="_padding">'+
                    '<p><span class="">'+ res[i].filtername +
                    '</span><span class="_float_right">'+
                   ((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0)
                    +'%</span></p>'+
                    '<p class="_text_align">'+
                        '<div class="progress _progress _width">'+
                           '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
                          '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
                         ((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0) +
                          '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                        '</div>'+
                    '</p>'+
                '</li>';
            }

            //滤芯简介
            if(res[i].introduce){
                res[i].flowlife = !res[i].flowlife ? 0 : res[i].flowlife;
                res[i].balancaflow = !res[i].balancaflow ? 0 : res[i].balancaflow;

                lvxinIntroduceHTML += '<div>'+
                    '<h3>'+
                        res[i].filtername +
                    '</h3>'+
                    '<p>'+
                        res[i].introduce +
                    '</p>'+
                    '<p>'+
                        '<span class="_font_weigth">总寿命：'+ res[i].flowlife +
                        '</span>'+
                        'L<span class="_float_right _font_weigth">剩余：'+ res[i].balancaflow +
                        'L</span>'+
                    '</p>'+
                '</div>';
            }
        }
    }else{
        // 没有数据时的显示状态
        if(((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0) >
        ((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0) ){
            //时间比例小则按时间显示
            moHTML += '<li class="_padding">'+
                '<p><span class="">'+ res[i].filtername +
                    '</span><span class="_float_right">0%</span></p>'+
                '<p class="_text_align">'+
                    '<div class="progress _progress _width">'+
                       '<div class="checkbox"><span class="chBox" name="0"></span></div>'+
                      '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                    '</div>'+
                '</p>'+
            '</li>';

            //滤芯简介
            res[i].timelife = !res[i].timelife ? 0 : res[i].timelife;
            data['redayfilter'+(i+1)] = !data['redayfilter'+(i+1)] ? 0 : data['redayfilter'+(i+1)];
            lvxinIntroduceHTML += '<div>'+
                '<h3>'+
                    res[i].filtername +
                '</h3>'+
                '<p>'+
                    res[i].introduce +
                '</p>'+
                '<p>'+
                    '<span class="_font_weigth">总寿命：'+ res[i].timelife +
                    '小时</span>'+
                    '<span class="_float_right _font_weigth">剩余：'+ data['redayfilter'+(i+1)] +
                    '小时</span>'+
                '</p>'+
            '</div>';

        }else{
             //流量比例小则按流量显示
             moHTML += '<li class="_padding">'+
                '<p><span class="">'+ res[i].filtername +
                    '</span><span class="_float_right">0%</span></p>'+
                '<p class="_text_align">'+
                    '<div class="progress _progress _width">'+
                       '<div class="checkbox"><span class="chBox" name="0"></span></div>'+
                      '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                    '</div>'+
                '</p>'+
            '</li>';

            //滤芯简介
            res[i].flowlife = !res[i].flowlife ? 0 : res[i].flowlife;
            data['reflowfilter'+(i+1)] = !data['reflowfilter'+(i+1)] ? 0 : data['reflowfilter'+(i+1)];
            lvxinIntroduceHTML += '<div>'+
                '<h3>'+
                    res[i].filtername +
                '</h3>'+
                '<p>'+
                    res[i].introduce +
                '</p>'+
                '<p>'+
                    '<span class="_font_weigth">总寿命：'+ res[i].flowlife +
                    'L</span>'+
                    '<span class="_float_right _font_weigth">剩余：'+ data['reflowfilter'+(i+1)] +
                    'L</span>'+
                '</p>'+
            '</div>';
        }
    }

}

// 遍历滤芯详情，然后添加到$("#lvxinDetailUL")
$("#lvxinDetailUL").html(moHTML + lvxinHTML);
//遍历膜、滤芯简介
$("#lvxinIntroduce").html(lvxinIntroduceHTML);
// 遍历滤芯复位，然后添加到$("#lvxinDetailUL")
$("#lvxinReset").html(moHTML + lvxinHTML);

// 剩余比例小于100%
for(var i=0; i<$("._float_right").length; i++){

    parseInt($("._float_right").eq(i).text()) > 100
    ? $("._float_right").eq(i).text('100%')
    : parseInt($("._float_right").eq(i).text())
}

$(function(){
	//websoket
	var websoket=new WebSocket("ws://120.27.12.1:6001");
	var PackNum=0;//包数据
	var CmdList=[];//命令队列
	websoket.onopen=function(){
		//包数据
		ajson={
			"DeviceID":deviceId,
			"PackType":"login",
			"Vison":0,
		};
		websoket.send(JSON.stringify(ajson));
	}
		
			
			
			//复位按钮操作
			$('._btn').click(function(){
				var _this=$(this).text();
				var ajson;//数据对象
				//判断操作类型
				if(filterName==""){
					layui.use('layer', function(){
					  var layer = layui.layer;
					  layer.msg('请选择要复位的滤芯项');
					});
				} else {
					var tipsText = "确定要"+ _this + "<a>滤芯" + filterName +"</a>吗";
					//弹框提示
					layui.use('layer', function(){
						var layer = layui.layer;
						layer.confirm(tipsText, {icon: 3, title:'温馨提示'}, function(index){
							layer.close(index);
							ajson={
								"DeviceID":deviceId,
								"PackType":"SetData",
								"Vison":0,
								"PackNum":PackNum,
								"curTime":0,
							};
							var type=0;
							ajson['ReFlowFilter'+filterNumber]=100;
							ajson['ReDayFilter'+filterNumber]=100;
							type=filterNumber;
							//发送数据
							websoket.send(JSON.stringify(ajson));
							CmdList.push({
								cmd:ajson,
								type:type
							});
							//window.location.reload();
						});
					});
				}

			});
});



//实时接收数据
	websoket.onmessage=function(data)
	{
		var dataList=JSON.parse(data.data);//读取websoket数据，转换为json对象
		var leasingmode = dataList.LeasingMode;
		
		if(dataList.PackType=="Select")//返回查询数据类型数据
		{			
			// 存放膜、滤芯、滤芯简介的遍历的标签
			var moHTML = '',lvxinHTML = '',lvxinIntroduceHTML = '';
			
			for(var i=0; i< parseInt(dataList.FilerNum); i++){
			//console.log(res);
			
				if(parseInt(dataList['ReDayFilter1']) > 0 && parseInt(dataList['ReFlowFilter1']) <= 0 ){
					//按时间
					return ;
					// 遍历膜的详情, 不存在则不遍历
					if(res[i].filtername){
						if(parseInt(dataList['ReDayFilter'+(i+1)])){
						parseInt(dataList['ReDayFilter'+(i+1)])=parseInt(dataList['ReDayFilter'+(i+1)])
						}else{
							parseInt(dataList['ReDayFilter'+(i+1)])=0
						}
						moHTML += '<li class="_padding">'+
										'<p><span class="">'+ res[i].filtername +
										'</span><span class="_float_right">'+
										((parseInt(dataList['ReDayFilter'+(i+1)])/res[i].timelife)*100).toFixed(0)
										+'%</span></p>'+
										'<p class="_text_align">'+
											'<div class="progress _progress _width">'+
											   '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
											  '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
											 ((dataList['ReDayFilter'+(i+1)]/res[i].timelife)*100).toFixed(0) +
											  '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
											'</div>'+
										'</p>'+
									'</li>';
					}

					//滤芯简介
					if(res[i].introduce){

						res[i].timelife = !res[i].timelife ? 0 : res[i].timelife;
						dataList['ReDayFilter'+(i+1)] = !dataList['ReDayFilter'+(i+1)] ? 0 : dataList['ReDayFilter'+(i+1)];

						lvxinIntroduceHTML += '<div>'+
							'<h3>'+
								res[i].filtername +
							'</h3>'+
							'<p>'+
								res[i].introduce +
							'</p>'+
							'<p>'+
								'<span class="_font_weigth">总寿命：'+ res[i].timelife +
								'小时</span>'+
								'<span class="_float_right _font_weigth">剩余：'+ parseInt(dataList['ReDayFilter'+(i+1)]) +
								'小时</span>'+
							'</p>'+
						'</div>';
					}
				}else if(parseInt(dataList['ReFlowFilter1'])>0 && parseInt(dataList['ReDayFilter1'])<=0){
					//流量模式
					 // 遍历滤芯详情, 不存在则不遍历
					if(res[i].filtername){
						moHTML += '<div class="aaa"><li class="_padding">'+
							'<p><span class="">'+ res[i].filtername +
							'</span><span class="_float_right">'+
							((parseInt(dataList['ReFlowFilter'+(i+1)])/res[i].flowlife)*100).toFixed(0)
							+'%</span></p>'+
							'<p class="_text_align">'+
								'<div class="progress _progress _width">'+
								   '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
								  '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
								 ((parseInt(dataList['ReFlowFilter'+(i+1)])/res[i].flowlife)*100).toFixed(0) +
								  '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
								'</div>'+
							'</p>'+
						'</li></div>';
					}

					//滤芯简介
					if(res[i].introduce && data.ReFlowFilter+[i+1]){
						res[i].flowlife = !res[i].flowlife ? 0 : res[i].flowlife;
						dataList['ReFlowFilter'+(i+1)] = !dataList['ReFlowFilter'+(i+1)] ? 0 : dataList['ReFlowFilter'+(i+1)];

						lvxinIntroduceHTML += '<div>'+
							'<h3>'+
								res[i].filtername +
							'</h3>'+
							'<p>'+
								res[i].introduce +
							'</p>'+
							'<p>'+
								'<span class="_font_weigth">总寿命：'+ res[i].flowlife +
								'L</span>'+
								'<span class="_float_right _font_weigth">剩余：'+ parseInt(dataList['ReFlowFilter'+(i+1)]) +
								'L</span>'+
							'</p>'+
						'</div>';
					}	
				}else if(parseInt(dataList['ReFlowFilter1'])>0 && parseInt(dataList['ReDayFilter1'])>0){
					//按流量和时间
					// 遍历膜的详情, 不存在则不遍历
				   if( ((parseInt(dataList['ReFlowFilter'+(i+1)])/res[i].flowlife)*100).toFixed(0) >
					((parseInt(dataList['ReDayFilter'+(i+1)])/res[i].timelife)*100).toFixed(0) ){
						//时间剩余比例小则显示时间
						if(res[i].filtername){

							moHTML += '<li class="_padding">'+
								'<p><span class="">'+ res[i].filtername +
								'</span><span class="_float_right">'+
								((parseInt(dataList['ReDayFilter'+(i+1)])/res[i].timelife)*100).toFixed(0)
								+'%</span></p>'+
								'<p class="_text_align">'+
									'<div class="progress _progress _width">'+
									   '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
									  '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
									 ((parseInt(dataList['ReDayFilter'+(i+1)])/res[i].timelife)*100).toFixed(0) +
									  '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
									'</div>'+
								'</p>'+
							'</li>';
						}

						//滤芯简介
						if(res[i].introduce){
							res[i].timelife = !res[i].timelife ? 0 : res[i].timelife;
							res[i]['redayfilter'+(i+1)] = !res[i]['redayfilter'+(i+1)] ? 0 : res[i]['redayfilter'+(i+1)];

							lvxinIntroduceHTML += '<div>'+
								'<h3>'+
									res[i].filtername +
								'</h3>'+
								'<p>'+
									res[i].introduce +
								'</p>'+
								'<p>'+
									'<span class="_font_weigth">总寿命：'+ res[i].timelife +
									'</span>'+
									'小时<span class="_float_right _font_weigth">剩余：'+ parseInt(dataList['ReDayFilter'+(i+1)]) +
									'小时</span>'+
								'</p>'+
							'</div>';
						}
					}else{
						//流量剩余比例小则显示流量
						if(res[i].filtername){

							moHTML += '<li class="_padding">'+
								'<p><span class="">'+ res[i].filtername +
								'</span><span class="_float_right">'+
							   ((parseInt(dataList['ReFlowFilter'+(i+1)])/res[i].flowlife)*100).toFixed(0)
								+'%</span></p>'+
								'<p class="_text_align">'+
									'<div class="progress _progress _width">'+
									   '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
									  '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
									 ((parseInt(dataList['ReFlowFilter'+(i+1)])/res[i].flowlife)*100).toFixed(0) +
									  '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
									'</div>'+
								'</p>'+
							'</li>';
						}

						//滤芯简介
						if(res[i].introduce){
							res[i].flowlife = !res[i].flowlife ? 0 : res[i].flowlife;
							res[i].balancaflow = !res[i].balancaflow ? 0 : res[i].balancaflow;

							lvxinIntroduceHTML += '<div>'+
								'<h3>'+
									res[i].filtername +
								'</h3>'+
								'<p>'+
									res[i].introduce +
								'</p>'+
								'<p>'+
									'<span class="_font_weigth">总寿命：'+ res[i].flowlife +
									'</span>'+
									'L<span class="_float_right _font_weigth">剩余：'+ parseInt(dataList['ReFlowFilter'+(i+1)]) +
									'L</span>'+
								'</p>'+
							'</div>';
						}
					}
				}else{
					// 没有数据时的显示状态
					if(((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0) >
					((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0) ){
						//时间比例小则按时间显示
						moHTML += '<li class="_padding">'+
							'<p><span class="">'+ res[i].filtername +
								'</span><span class="_float_right">0%</span></p>'+
							'<p class="_text_align">'+
								'<div class="progress _progress _width">'+
								   '<div class="checkbox"><span class="chBox" name="0"></span></div>'+
								  '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
								'</div>'+
							'</p>'+
						'</li>';

						//滤芯简介
						res[i].timelife = !res[i].timelife ? 0 : res[i].timelife;
						data['redayfilter'+(i+1)] = !data['redayfilter'+(i+1)] ? 0 : data['redayfilter'+(i+1)];
						lvxinIntroduceHTML += '<div>'+
							'<h3>'+
								res[i].filtername +
							'</h3>'+
							'<p>'+
								res[i].introduce +
							'</p>'+
							'<p>'+
								'<span class="_font_weigth">总寿命：'+ res[i].timelife +
								'小时</span>'+
								'<span class="_float_right _font_weigth">剩余：'+ data['redayfilter'+(i+1)] +
								'小时</span>'+
							'</p>'+
						'</div>';

					}else{
						 //流量比例小则按流量显示
						 moHTML += '<li class="_padding">'+
							'<p><span class="">'+ res[i].filtername +
								'</span><span class="_float_right">0%</span></p>'+
							'<p class="_text_align">'+
								'<div class="progress _progress _width">'+
								   '<div class="checkbox"><span class="chBox" name="0"></span></div>'+
								  '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
								'</div>'+
							'</p>'+
						'</li>';

						//滤芯简介
						res[i].flowlife = !res[i].flowlife ? 0 : res[i].flowlife;
						data['reflowfilter'+(i+1)] = !data['reflowfilter'+(i+1)] ? 0 : data['reflowfilter'+(i+1)];
						lvxinIntroduceHTML += '<div>'+
							'<h3>'+
								res[i].filtername +
							'</h3>'+
							'<p>'+
								res[i].introduce +
							'</p>'+
							'<p>'+
								'<span class="_font_weigth">总寿命：'+ res[i].flowlife +
								'L</span>'+
								'<span class="_float_right _font_weigth">剩余：'+ data['reflowfilter'+(i+1)] +
								'L</span>'+
							'</p>'+
						'</div>';
					}
				}

			}

			// 遍历滤芯详情，然后添加到$("#lvxinDetailUL")
			$("#lvxinDetailUL").html(moHTML + lvxinHTML);
			//遍历膜、滤芯简介
			$("#lvxinIntroduce").html(lvxinIntroduceHTML);
			// 遍历滤芯复位，然后添加到$("#lvxinDetailUL")
			$("#lvxinReset").html(moHTML + lvxinHTML);

			// 剩余比例小于100%
			for(var i=0; i<$("._float_right").length; i++){

				parseInt($("._float_right").eq(i).text()) > 100
				? $("._float_right").eq(i).text('100%')
				: parseInt($("._float_right").eq(i).text())
			}
		}
		else if(dataList.PackType=="SetData")//设置数据类型数据
		{
			console.log(dataList);
			for(var i=0;i<CmdList.length;i++){
				if(CmdList[i].PackNum==dataList.PackNum)
				{
					if(CmdList[i].type=="关机中")
					{
						var resetNum=parseInt(CmdList[i].type);
						alert(resetNum);
						$("._padding").eq(resetNum-1).children("p").children("._float_right").html("100%");
						$("._padding").eq(resetNum-1).children(".progress").children(".progress-bar").width("100%");
					}
					
					CmdList.splice(i,1);
					break;
				}
			}
		}
		
	}
	</script>
</body>
</html>