<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/iconfontHome.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/filter.css">
	<title>滤芯详情</title>
</head>
<body>
    <input type="hidden" class="status" value={{$status}} name=""><!--滤芯详情页面设置-->
    <input type="hidden" class="res" value={{$res}} name=""><!--res数据-->
<!-- 滤芯详情页面 -->
<section id="_box">
    <div id="ulDiv">
        <ul class="_ul _position">
            <li>滤芯详情</li>
            <li>滤芯复位</li>
        </ul>
        <div id="lineDiv" class="_line"></div>
        <a id="back2Home" href="{{:U('Home/index/index')}}"><i class="iconfont icon-zhuye"></i></a>
    </div>
    <div>
        <!-- 滤芯详情 -->
        <div class="_background_color">
            <!-- progress -->
            <div>
                <ul id="lvxinDetailUL"></ul>
            </div>            
            <!-- RO膜 -->
            <div class="_padding" id="lvxinIntroduce">
            </div>
        </div>
        <!-- 滤芯复位 -->
        <div class="_background_color _displey">
            <!-- progress -->
			<ul id="lvxinReset">
			</ul>
            <div class="_text_align">
                <button class="_btn">立即复位</button>
            </div>
        </div>
    </div>
</section>
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
<script src="__PUBLIC__/Home/js/flexible.js"></script>
<script type="text/javascript">
//变量定义
var data=JSON.parse($(".status").val());

var res=JSON.parse($('.res').val());
console.log(data);
console.log(res);
var deviceId=data.deviceid;//设备id
// var deviceId=112233445566778;//设备id
var filterName="";//获取选择滤芯的名称
var filterNumber=0;//获取选择滤芯的索引
$('._line').css({left:($('._ul li').eq(0).offset().left+$('._ul li').eq(0).innerWidth()/2-25)+'px'});

//tab按钮切换
$('._ul > li').click(function(){
    // 左边偏移量
    var $left = $(this).offset().left+$(this).innerWidth()/2 - 25;
    // 内容
    $('#_box').children('div').eq(1).children('div').eq($(this).index()).slideDown().siblings().slideUp();
    // 下划线动画
    $('._line').animate({left:$left+'px'});
	$(".layui-layer-move").hide();
    // 选中和不选中的状态
    $(this).css({color: "#039CE9"});
    $(this).siblings("li").css({color: "#6F6F6F"});
	//滤芯选中状态样式
	$("#lvxinReset").on("click","li",function(){
		$(this).children(".progress").children(".checkbox").children(".chBox").css({"visibility":"visible"});
		$(this).siblings().children(".progress").children(".checkbox").children(".chBox").css({"visibility":"hidden"});
		filterName=$(this).children("p").children().eq(0).text();
		filterNumber=$(this).index();

	});
	
})






// 存放膜、滤芯、滤芯简介的遍历的标签
var moHTML = '',lvxinHTML = '',lvxinIntroduceHTML = '';
var filtermode = data.filtermode;
for(var i=0; i<res.length; i++){
//alert(data.filtermode);
    if(filtermode =="0"){
		//按时间
        // 遍历膜的详情, 不存在则不遍历
        if(res[i].filtername){

            moHTML += '<li class="_padding">'+
                '<p><span class="">'+ res[i].filtername +
                '</span><span class="_float_right">'+
                ((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0)
                +'%</span></p>'+
                '<p class="_text_align">'+
                    '<div class="progress _progress _width">'+
                       '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
                      '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
                     ((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0) +
                      '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                    '</div>'+
                '</p>'+
            '</li>';
        }

        //滤芯简介
        if(res[i].introduce){

            res[i].timelife = !res[i].timelife ? 0 : res[i].timelife;
            data['redayfilter'+(i+1)] = !data['redayfilter'+(i+1)] ? 0 : data['redayfilter'+(i+1)];

            lvxinIntroduceHTML += '<div>'+
                '<h3>'+
                    res[i].filtername +
                '</h3>'+
                '<p>'+
                    res[i].introduce +
                '</p>'+
                '<p>'+
                    '<span class="_font_weigth">参考总寿命：'+ res[i].timelife +
                    '天</span>'+
                    '<span class="_float_right _font_weigth">剩余：'+ data['redayfilter'+(i+1)] +
                    '天</span>'+
                '</p>'+
            '</div>';
        }
    }else if(filtermode == "1"){
        //流量模式
         // 遍历滤芯详情, 不存在则不遍历
        if(res[i].filtername){

            moHTML += '<li class="_padding">'+
                '<p><span class="">'+ res[i].filtername +
                '</span><span class="_float_right">'+
                ((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0)
                +'%</span></p>'+
                '<p class="_text_align">'+
                    '<div class="progress _progress _width">'+
                       '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
                      '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
                     ((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0) +
                      '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                    '</div>'+
                '</p>'+
            '</li>';
        }

        //滤芯简介
        if(res[i].introduce && data.reflowfilter+[i+1]){
            res[i].flowlife = !res[i].flowlife ? 0 : res[i].flowlife;
            data['reflowfilter'+(i+1)] = !data['reflowfilter'+(i+1)] ? 0 : data['reflowfilter'+(i+1)];

            lvxinIntroduceHTML += '<div>'+
                '<h3>'+
                    res[i].filtername +
                '</h3>'+
                '<p>'+
                    res[i].introduce +
                '</p>'+
                '<p>'+
                    '<span class="_font_weigth">参考总寿命：'+ res[i].flowlife +
                    'L</span>'+
                    '<span class="_float_right _font_weigth">剩余：'+ data['reflowfilter'+(i+1)] +
                    'L</span>'+
                '</p>'+
            '</div>';
        }
    }else if(filtermode == "2"){
        //按流量和时间
        // 遍历膜的详情, 不存在则不遍历

       if( ((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0) >
        ((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0) ){
            //时间剩余比例小则显示时间
            if(res[i].filtername){

                moHTML += '<li class="_padding">'+
                    '<p><span class="">'+ res[i].filtername +
                    '</span><span class="_float_right">'+
                    ((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0)
                    +'%</span></p>'+
                    '<p class="_text_align">'+
                        '<div class="progress _progress _width">'+
                           '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
                          '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
                         ((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0) +
                          '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                        '</div>'+
                    '</p>'+
                '</li>';
            }

            //滤芯简介
            if(res[i].introduce){
                res[i].timelife = !res[i].timelife ? 0 : res[i].timelife;
                res[i]['redayfilter'+(i+1)] = !res[i]['redayfilter'+(i+1)] ? 0 : res[i]['redayfilter'+(i+1)];

                lvxinIntroduceHTML += '<div>'+
                    '<h3>'+
                        res[i].filtername +
                    '</h3>'+
                    '<p>'+
                        res[i].introduce +
                    '</p>'+
                    '<p>'+
                        '<span class="_font_weigth">参考总寿命：'+ res[i].timelife +
                        '</span>'+
                        '天<span class="_float_right _font_weigth">剩余：'+ res[i]['redayfilter'+(i+1)] +
                        '天</span>'+
                    '</p>'+
                '</div>';
            }
        }else{
            //流量剩余比例小则显示流量
            if(res[i].filtername){

                moHTML += '<li class="_padding">'+
                    '<p><span class="">'+ res[i].filtername +
                    '</span><span class="_float_right">'+
                   ((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0)
                    +'%</span></p>'+
                    '<p class="_text_align">'+
                        '<div class="progress _progress _width">'+
                           '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
                          '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
                         ((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0) +
                          '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                        '</div>'+
                    '</p>'+
                '</li>';
            }

            //滤芯简介
            if(res[i].introduce){
                res[i].flowlife = !res[i].flowlife ? 0 : res[i].flowlife;
                res[i].balancaflow = !res[i].balancaflow ? 0 : res[i].balancaflow;

                lvxinIntroduceHTML += '<div>'+
                    '<h3>'+
                        res[i].filtername +
                    '</h3>'+
                    '<p>'+
                        res[i].introduce +
                    '</p>'+
                    '<p>'+
                        '<span class="_font_weigth">参考总寿命：'+ res[i].flowlife +
                        '</span>'+
                        'L<span class="_float_right _font_weigth">剩余：'+ res[i].balancaflow +
                        'L</span>'+
                    '</p>'+
                '</div>';
            }
        }
    }else{
        // 没有数据时的显示状态
        if(((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0) >
        ((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0) ){
            //时间比例小则按时间显示
            moHTML += '<li class="_padding">'+
                '<p><span class="">'+ res[i].filtername +
                    '</span><span class="_float_right">0%</span></p>'+
                '<p class="_text_align">'+
                    '<div class="progress _progress _width">'+
                       '<div class="checkbox"><span class="chBox" name="0"></span></div>'+
                      '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                    '</div>'+
                '</p>'+
            '</li>';

            //滤芯简介
            res[i].timelife = !res[i].timelife ? 0 : res[i].timelife;
            data['redayfilter'+(i+1)] = !data['redayfilter'+(i+1)] ? 0 : data['redayfilter'+(i+1)];
            lvxinIntroduceHTML += '<div>'+
                '<h3>'+
                    res[i].filtername +
                '</h3>'+
                '<p>'+
                    res[i].introduce +
                '</p>'+
                '<p>'+
                    '<span class="_font_weigth">参考总寿命：'+ res[i].timelife +
                    '天</span>'+
                    '<span class="_float_right _font_weigth">剩余：'+ data['redayfilter'+(i+1)] +
                    '天</span>'+
                '</p>'+
            '</div>';

        }else{
             //流量比例小则按流量显示
             moHTML += '<li class="_padding">'+
                '<p><span class="">'+ res[i].filtername +
                    '</span><span class="_float_right">0%</span></p>'+
                '<p class="_text_align">'+
                    '<div class="progress _progress _width">'+
                       '<div class="checkbox"><span class="chBox" name="0"></span></div>'+
                      '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                    '</div>'+
                '</p>'+
            '</li>';

            //滤芯简介
            res[i].flowlife = !res[i].flowlife ? 0 : res[i].flowlife;
            data['reflowfilter'+(i+1)] = !data['reflowfilter'+(i+1)] ? 0 : data['reflowfilter'+(i+1)];
            lvxinIntroduceHTML += '<div>'+
                '<h3>'+
                    res[i].filtername +
                '</h3>'+
                '<p>'+
                    res[i].introduce +
                '</p>'+
                '<p>'+
                    '<span class="_font_weigth">参考总寿命：'+ res[i].flowlife +
                    'L</span>'+
                    '<span class="_float_right _font_weigth">剩余：'+ data['reflowfilter'+(i+1)] +
                    'L</span>'+
                '</p>'+
            '</div>';
        }
    }

}

// 遍历滤芯详情，然后添加到$("#lvxinDetailUL")
$("#lvxinDetailUL").html(moHTML + lvxinHTML);
//遍历膜、滤芯简介
$("#lvxinIntroduce").html(lvxinIntroduceHTML);
// 遍历滤芯复位，然后添加到$("#lvxinDetailUL")
$("#lvxinReset").html(moHTML + lvxinHTML);

// 剩余比例小于100%
for(var i=0; i<$("._float_right").length; i++){

    parseInt($("._float_right").eq(i).text()) > 100
    ? $("._float_right").eq(i).text('100%')
    : parseInt($("._float_right").eq(i).text())
}

$(function(){
	//websoket
    var timer=null;
    var identify=0;
	var websoket=new WebSocket("ws://120.27.12.1:6001");
	var PackNum=0;//包数据 
	var CmdList=[];//命令队列
	websoket.onopen=function(){
		//包数据
		ajson={
			"DeviceID":deviceId,
			"PackType":"login",
			"Vison":0,
		};
        websoket.send(JSON.stringify(ajson));
        setTimeout(function(){
            ajson.PackType="Select";
            websoket.send(JSON.stringify(ajson));
            setInterval(function(){
                websoket.send(JSON.stringify(ajson));
            },10000);
        },1000);
	}
	//实时接收数据
	websoket.onmessage=function(data)
	{
		var dataList=JSON.parse(data.data);//读取websoket数据，转换为json对象
		var leasingmode = dataList.LeasingMode;
		console.log(dataList);
		if(dataList.PackType=="Select")//返回查询数据类型数据
		{			
			// 存放膜、滤芯、滤芯简介的遍历的标签
			var moHTML = '',lvxinHTML = '',lvxinIntroduceHTML = '';
			
			for(var i=0; i< parseInt(dataList.FilerNum); i++){
			//console.log(res);
			
				if(parseInt(dataList['ReDayFilter1']) > 0 && parseInt(dataList['ReFlowFilter1']) <= 0 ){
					//按时间
					// 遍历膜的详情, 不存在则不遍历
					if(res[i].filtername){
						// if(parseInt(dataList['ReDayFilter'+(i+1)])){
						// parseInt(dataList['ReDayFilter'+(i+1)])=parseInt(dataList['ReDayFilter'+(i+1)])
						// }else{
						// 	parseInt(dataList['ReDayFilter'+(i+1)])=0
						// }
						moHTML += '<li class="_padding">'+
										'<p><span class="">'+ res[i].filtername +
										'</span><span class="_float_right">'+
										((parseInt(dataList['ReDayFilter'+(i+1)])/res[i].timelife)*100).toFixed(0)
										+'%</span></p>'+
										'<p class="_text_align">'+
											'<div class="progress _progress _width">'+
											   '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
											  '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
											 ((dataList['ReDayFilter'+(i+1)]/res[i].timelife)*100).toFixed(0) +
											  '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
											'</div>'+
										'</p>'+
									'</li>';
					}
					
					//滤芯简介
					if(res[i].introduce){

						res[i].timelife = !res[i].timelife ? 0 : res[i].timelife;
						dataList['ReDayFilter'+(i+1)] = !dataList['ReDayFilter'+(i+1)] ? 0 : dataList['ReDayFilter'+(i+1)];

						lvxinIntroduceHTML += '<div>'+
							'<h3>'+
								res[i].filtername +
							'</h3>'+
							'<p>'+
								res[i].introduce +
							'</p>'+
							'<p>'+
								'<span class="_font_weigth">参考总寿命：'+ res[i].timelife +
								'天</span>'+
								'<span class="_float_right _font_weigth">剩余：'+ parseInt(dataList['ReDayFilter'+(i+1)]) +
								'天</span>'+
							'</p>'+
						'</div>';
					}
				}else if(parseInt(dataList['ReFlowFilter1'])>0 && parseInt(dataList['ReDayFilter1'])<=0){
					//流量模式
					 // 遍历滤芯详情, 不存在则不遍历
					if(res[i].filtername){
						moHTML += '<li class="_padding">'+
							'<p><span class="">'+ res[i].filtername +
							'</span><span class="_float_right">'+
							((parseInt(dataList['ReFlowFilter'+(i+1)])/res[i].flowlife)*100).toFixed(0)
							+'%</span></p>'+
							'<p class="_text_align">'+
								'<div class="progress _progress _width">'+
								   '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
								  '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
								 ((parseInt(dataList['ReFlowFilter'+(i+1)])/res[i].flowlife)*100).toFixed(0) +
								  '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
								'</div>'+
							'</p>'+
						'</li>';
					}

					//滤芯简介
					if(res[i].introduce && data.ReFlowFilter+[i+1]){
						res[i].flowlife = !res[i].flowlife ? 0 : res[i].flowlife;
						dataList['ReFlowFilter'+(i+1)] = !dataList['ReFlowFilter'+(i+1)] ? 0 : dataList['ReFlowFilter'+(i+1)];

						lvxinIntroduceHTML += '<div>'+
							'<h3>'+
								res[i].filtername +
							'</h3>'+
							'<p>'+
								res[i].introduce +
							'</p>'+
							'<p>'+
								'<span class="_font_weigth">参考总寿命：'+ res[i].flowlife +
								'L</span>'+
								'<span class="_float_right _font_weigth">剩余：'+ parseInt(dataList['ReFlowFilter'+(i+1)]) +
								'L</span>'+
							'</p>'+
						'</div>';
					}	
				}else if(parseInt(dataList['ReFlowFilter1'])>0 && parseInt(dataList['ReDayFilter1'])>0){
					//按流量和时间
					// 遍历膜的详情, 不存在则不遍历
				   if( ((parseInt(dataList['ReFlowFilter'+(i+1)])/res[i].flowlife)*100).toFixed(0) >
					((parseInt(dataList['ReDayFilter'+(i+1)])/res[i].timelife)*100).toFixed(0) ){
						//时间剩余比例小则显示时间
						if(res[i].filtername){

							moHTML += '<li class="_padding">'+
								'<p><span class="">'+ res[i].filtername +
								'</span><span class="_float_right">'+
								((parseInt(dataList['ReDayFilter'+(i+1)])/res[i].timelife)*100).toFixed(0)
								+'%</span></p>'+
								'<p class="_text_align">'+
									'<div class="progress _progress _width">'+
									   '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
									  '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
									 ((parseInt(dataList['ReDayFilter'+(i+1)])/res[i].timelife)*100).toFixed(0) +
									  '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
									'</div>'+
								'</p>'+
							'</li>';
						}

						//滤芯简介
						if(res[i].introduce){
							res[i].timelife = !res[i].timelife ? 0 : res[i].timelife;
							res[i]['redayfilter'+(i+1)] = !res[i]['redayfilter'+(i+1)] ? 0 : res[i]['redayfilter'+(i+1)];

							lvxinIntroduceHTML += '<div>'+
								'<h3>'+
									res[i].filtername +
								'</h3>'+
								'<p>'+
									res[i].introduce +
								'</p>'+
								'<p>'+
									'<span class="_font_weigth">参考总寿命：'+ res[i].timelife +
									'</span>'+
									'天<span class="_float_right _font_weigth">剩余：'+ parseInt(dataList['ReDayFilter'+(i+1)]) +
									'天</span>'+
								'</p>'+
							'</div>';
						}
					}else{
						//流量剩余比例小则显示流量
						if(res[i].filtername){

							moHTML += '<li class="_padding">'+
								'<p><span class="">'+ res[i].filtername +
								'</span><span class="_float_right">'+
							   ((parseInt(dataList['ReFlowFilter'+(i+1)])/res[i].flowlife)*100).toFixed(0)
								+'%</span></p>'+
								'<p class="_text_align">'+
									'<div class="progress _progress _width">'+
									   '<div class="checkbox"><span class="chBox" name='+ 'filter'+i +'></span></div>'+
									  '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+
									 ((parseInt(dataList['ReFlowFilter'+(i+1)])/res[i].flowlife)*100).toFixed(0) +
									  '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
									'</div>'+
								'</p>'+
							'</li>';
						}

						//滤芯简介
						if(res[i].introduce){
							res[i].flowlife = !res[i].flowlife ? 0 : res[i].flowlife;
							res[i].balancaflow = !res[i].balancaflow ? 0 : res[i].balancaflow;

							lvxinIntroduceHTML += '<div>'+
								'<h3>'+
									res[i].filtername +
								'</h3>'+
								'<p>'+
									res[i].introduce +
								'</p>'+
								'<p>'+
									'<span class="_font_weigth">参考总寿命：'+ res[i].flowlife +
									'</span>'+
									'L<span class="_float_right _font_weigth">剩余：'+ parseInt(dataList['ReFlowFilter'+(i+1)]) +
									'L</span>'+
								'</p>'+
							'</div>';
						}
					}
				}else{
					// 没有数据时的显示状态
					if(((data['reflowfilter'+(i+1)]/res[i].flowlife)*100).toFixed(0) >
					((data['redayfilter'+(i+1)]/res[i].timelife)*100).toFixed(0) ){
						//时间比例小则按时间显示
						moHTML += '<li class="_padding">'+
							'<p><span class="">'+ res[i].filtername +
								'</span><span class="_float_right">0%</span></p>'+
							'<p class="_text_align">'+
								'<div class="progress _progress _width">'+
								   '<div class="checkbox"><span class="chBox" name="0"></span></div>'+
								  '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
								'</div>'+
							'</p>'+
						'</li>';

						//滤芯简介
						res[i].timelife = !res[i].timelife ? 0 : res[i].timelife;
						data['redayfilter'+(i+1)] = !data['redayfilter'+(i+1)] ? 0 : data['redayfilter'+(i+1)];
						lvxinIntroduceHTML += '<div>'+
							'<h3>'+
								res[i].filtername +
							'</h3>'+
							'<p>'+
								res[i].introduce +
							'</p>'+
							'<p>'+
								'<span class="_font_weigth">参考总寿命：'+ res[i].timelife +
								'天</span>'+
								'<span class="_float_right _font_weigth">剩余：'+ data['redayfilter'+(i+1)] +
								'天</span>'+
							'</p>'+
						'</div>';

					}else{
						 //流量比例小则按流量显示
						 moHTML += '<li class="_padding">'+
							'<p><span class="">'+ res[i].filtername +
								'</span><span class="_float_right">0%</span></p>'+
							'<p class="_text_align">'+
								'<div class="progress _progress _width">'+
								   '<div class="checkbox"><span class="chBox" name="0"></span></div>'+
								  '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:0%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
								'</div>'+
							'</p>'+
						'</li>';

						//滤芯简介
						res[i].flowlife = !res[i].flowlife ? 0 : res[i].flowlife;
						data['reflowfilter'+(i+1)] = !data['reflowfilter'+(i+1)] ? 0 : data['reflowfilter'+(i+1)];
						lvxinIntroduceHTML += '<div>'+
							'<h3>'+
								res[i].filtername +
							'</h3>'+
							'<p>'+
								res[i].introduce +
							'</p>'+
							'<p>'+
								'<span class="_font_weigth">参考总寿命：'+ res[i].flowlife +
								'L</span>'+
								'<span class="_float_right _font_weigth">剩余：'+ data['reflowfilter'+(i+1)] +
								'L</span>'+
							'</p>'+
						'</div>';
					}
				}

			}

			// 遍历滤芯详情，然后添加到$("#lvxinDetailUL")
			$("#lvxinDetailUL").html(moHTML + lvxinHTML);
			//遍历膜、滤芯简介
			$("#lvxinIntroduce").html(lvxinIntroduceHTML);
			// 遍历滤芯复位，然后添加到$("#lvxinDetailUL")
			$("#lvxinReset").html(moHTML + lvxinHTML);

			// 剩余比例小于100%
			for(var i=0; i<$("._float_right").length; i++){

				parseInt($("._float_right").eq(i).text()) > 100
				? $("._float_right").eq(i).text('100%')
				: parseInt($("._float_right").eq(i).text())
			}
		}
		else if(dataList.PackType=="SetData")//设置数据类型数据
		{
		    console.log(dataList);
            identify=0;
			for(var i=0;i<CmdList.length;i++){
				if(CmdList[i].cmd.PackNum==dataList.PackNum)
				{
					CmdList.splice(i,1);
					break;
				}
			}
            identify=0;
            ajson={
                "DeviceID":deviceId,
                "PackType":"Select",
                "Vison":0,
            };
            websoket.send(JSON.stringify(ajson));

		}
		
	}	
			
			
			//复位按钮操作
			$('._btn').click(function(){
				var _this=$(this).text();
				var ajson;//数据对象
				//判断操作类型
				if(filterName==""){
					layui.use('layer', function(){
					  var layer = layui.layer;
					  layer.msg('请选择要复位的滤芯项');
					});
				} else {
					var tipsText = "确定要"+ _this + "<a>滤芯" + filterName +"</a>吗";
					//弹框提示
					layui.use('layer', function(){
						var layer = layui.layer;
						layer.confirm(tipsText, {icon: 3, title:'温馨提示'}, function(index){
							layer.close(index);
							ajson={
								"DeviceID":deviceId,
								"PackType":"SetData",
								"Vison":0,
								"PackNum":PackNum,
							};
							//alert(res[filterNumber].flowlife);
							var type=0;
                            ajson['ReFlowFilter'+(filterNumber+1)]=res[filterNumber].flowlife;
                            ajson['ReDayFilter'+(filterNumber+1)]=res[filterNumber].timelife;
                            ajson['FlowLifeFilter'+(filterNumber+1)]=res[filterNumber].flowlife;
                            ajson['DayLifeFiter'+(filterNumber+1)]=res[filterNumber].timelife;
                            ajson['type']='复位中';
							type=filterNumber;
							//发送数据
                            //console.log(ajson);
							websoket.send(JSON.stringify(ajson));
							CmdList.push({
								cmd:ajson,
								type:type
							});
                            identify=1;
							timer=setTimeout(function(){
                                if(identify==1){
                                    layui.use('layer', function(){
                                        var layer = layui.layer;
                                        layer.msg('复位超时！');
                                    });

                                    identify=0;
                                }
                            },10000)
						});
					});
				}

			});
            //页面关闭后关闭websoket;
            window.onunload=function(){
                websoket.close();
            };
});

	</script>
</body>
</html>