<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<title>点球共享水</title>
<style>
    #lvxinIntroduce {
        padding: 0;
        margin: 2vh 0;
    }
    #lvxinIntroduce>div {
        padding: 2vh 1vh;
        border-bottom: 1px solid #ccc;
    }
    #lvxinIntroduce>div:nth-of-type(1) {
        border-top: 1px solid #ccc;
    }
</style>
</head>
<body>
<!-- 设备状态显示页面 -->
<section class="DeviceStausePage">
    <input type="hidden" class="hiddenValue" value="5" name="">
    <input type="hidden" class="deviceID" value="2147483647" name="">
    <input type="hidden" class="status" value={{$status}} name=""><!--滤芯详情页面设置-->
    <input type="hidden" class="res" value={{$res}} name=""><!--res数据-->
    <input type="hidden" class="deviceInfo" value={{$deviceInfo}} name=""><!--设备状态数据-->
    <section class="btnList">
        <ul>
            <li>
                <a class="washBtn controlBtn">
                    <i class="i1"></i>
                    冲洗
                </a>
            </li>
            <li>
                <!-- <a href="{{:U('/Home/Filters/filterDetails')}}"> -->
                <a class="filterBtn">
                    <i class="i2"></i>
                    滤芯
                </a>
            </li>
            <li>
                <a href="{{:U('Home/Shop/index')}}">
                    <i class="i3"></i>
                    商城
                </a>
            </li>
            <li>
                <a href="{{:U('Home/Users/mine')}}">
                    <i class="i4"></i>
                    我的
                </a>
            </li>
        </ul>
    </section>
    <section class="canvasBox">
        <section class="ring-inside"></section>
        <canvas id="canvas"></canvas>
        <section class="wash"><img src="__PUBLIC__/Home/images/wash.png"></section><!--冲洗-->
        <section class="service avatar">
            <img src="__PUBLIC__/Home/images/service.png">
        </section><!--检修-->
        <section class="addwater"></section><!-- 制水 -->
         <section class="ring-out" ></section><!--外环 -->
        <img class="dripping dripping1" src="__PUBLIC__/Home/images/dripping.png">
        <img class="dripping dripping2" src="__PUBLIC__/Home/images/dripping.png">
        <div class="status_text_father">
            <section class="status_text">水满</section>
        </div>
        <div id="waterDetial" >
        </div>
    </section> 
    <footer id="footer">
        <div class="footerBtn">
            <div class="controlBtn">开机</div>
        </div>
    </footer>
</section>
<!-- 滤芯详情页面 -->
<section id="_box">
    <div id="ulDiv">
        <ul class="_ul _position">
            <li>滤芯详情</li>
            <li>滤芯复位</li>
        </ul>
        <div id="lineDiv" class="_line"></div>
    </div>
    <div>
        <!-- 滤芯详情 -->
        <div class="_background_color">
            <!-- progress -->
            <div>
                <ul id="lvxinDetailUL"></ul>
            </div>
            
            <!-- 横线 -->
            <!-- <div class="_line"></div> -->
            
            <!-- RO膜 -->
            <div class="_padding" id="lvxinIntroduce">
            </div>

            <!-- 横线 -->
            <!-- <div class="_line"></div> -->
            
        </div>

        <!-- 滤芯复位 -->
        <div class="_background_color _displey">
            <!-- progress -->
            <div>
                <form class="layui-form" action="">
                    <ul id="lvxinReset">
                    </ul>
                </form>
            </div>

            <div class="_text_align">
                <button class="_btn">
                    确定
                </button>
            </div>
        </div>
    </div>
</section>
<script>
// 设备状态js动画
const c = document.getElementById('canvas');
const g = c.getContext('2d');
const omega = 200;//值越大，波浪速度越慢
var widthC=$(window).width()*.55;//设置波浪动画宽度
c.width=widthC;
c.height=widthC;
function addCanvas(color1,color2,waterYield){
    class Point {
        constructor(x, y) {
            this.x = x;
            this.y = y;
        }
        fromPolar(radius, angle) {
            this.x = radius * Math.cos(angle);
            this.y = radius * Math.sin(angle);
            return this;
        }
        add(p) {
            this.x += p.x;
            this.y += p.y;
            return this;
        }
    }
    const center = new Point(canvas.width / 2, canvas.height / 2);
    const arc = (r, theta) => {
        r -= 1;
        g.arc(center.x, center.y, r, 0 - theta, Math.PI + theta);

        return {
            end: new Point().fromPolar(r, -theta).add(center),
            start: new Point().fromPolar(r, Math.PI + theta).add(center)
        };
    }
    const update = () => {
        //外圆环
        c.width = c.width;
        g.lineCap='round';//画线头样式
        g.lineWidth = 0;
        g.beginPath();
        var gradient=g.createLinearGradient(0,0,0,c.width);
        // gradient.addColorStop("0","#7112fb");
        // gradient.addColorStop("1","#1dd4fe");
        g.strokeStyle = gradient;
        g.arc(c.width*0.5, c.width*0.5, c.width, -37*Math.PI/180, 217* Math.PI/180,false);
        g.stroke();
        //第一波浪
        g.fillStyle =color1;
        g.beginPath();
        let sides = arc(c.width*0.5, waterYield);
        let dx = sides.end.x - sides.start.x;
        let xo = 0;
        for (var x = sides.start.x; x < sides.end.x; xo++, x++) {
            const envelope = xo / dx * (1 - (xo / dx)) * 1;
            g.lineTo(x, sides.start.y + 65 * envelope * Math.cos(Date.now() / omega + xo / dx * 3));//波浪高度
        }
        g.fill();
        //第二波浪
        g.fillStyle = color2;
        g.beginPath();
        sides = arc(c.width*0.5, waterYield);
        dx = sides.end.x - sides.start.x;
        xo = 0;
        for (var x = sides.start.x; x < sides.end.x; xo++, x++) {
            const envelope = xo / dx * (1 - (xo / dx)) * 1;
            g.lineTo(x, sides.start.y + 65 * envelope * Math.sin(Date.now() / omega + xo / dx * 3));//波浪高度
        }
        g.fill();
        requestAnimationFrame(update);
    }
    requestAnimationFrame(update);
}
// 设备状态页面数据渲染
var deviceInfo=JSON.parse($(".deviceInfo").val());
var deviceInfoHtml='';
deviceInfoHtml='<div><span><img src="__PUBLIC__/Home/images/4_47.png" alt="">&nbsp;纯水&nbsp;<span class="rawtdsVal"></span>'+(deviceInfo.rawtds-0)+'ppm</span><span class="spanTow"><img src="__PUBLIC__/Home//images/4_43.png" alt="">&nbsp;原水&nbsp;<span class="puretdsVal">'+(deviceInfo.puretds-0)+'ppm</span></span></div><div><span>剩余流量&nbsp;<span class="reflowVal">'+(deviceInfo.reflow-0)+'L</span></span><span class="spanTow">已用流量&nbsp;<span class="sumflowVal">'+(deviceInfo.sumflow-0)+'L</span></span></div>';
$("#waterDetial").html(deviceInfoHtml);

machineStatus();
//判断水机状态
//制水
function addwater(){
    addCanvas("#37BBD4","#87E8FD",-0.83);
    $(".status_text").html("制水");
    $(".addwater").show();
    $(".dripping").show();
    $(".ring-inside").show();
}
//冲洗
function wash(){
    addCanvas("#37BBD4","#87E8FD",-0.83);
    $(".status_text").html("冲洗");
    $(".wash").show();
    $(".ring-inside").show();
    $(".ring-out").show();
}
//缺水
function lessWaters(){
    addCanvas("#D34656","#FD8795",-0.83);
    $(".status_text").html("缺水");
    $(".ring-inside").show();
    $(".ring-out").show();
}
//水满
function fullWaters(){
    addCanvas("#37BBD4","#87E8FD",0.65);
    $(".status_text").html("水满");
    $(".ring-inside").show();
    $(".ring-out").show();
}
//检修
function service(){
    addCanvas("#37BBD4","#87E8FD",0.65);
    $(".status_text").html("检修");
    $(".service").show();
    $(".ring-inside").show();
    $(".ring-out").show();
}
//关机
function showDown(){
    $(".status_text").html("");
    $(".canvasBox").css({filter:'grayscale(100%)'});
    $(".btnList").css({filter:'grayscale(100%)'});
}
//显示当前设备状态
function machineStatus(){
    if($(".hiddenValue").val()==0){//制水
        addwater();
    }else if($(".hiddenValue").val()==1){//冲洗
        wash();
    }else if($(".hiddenValue").val()==2){//水满
        fullWaters();
    }else if($(".hiddenValue").val()==3){//缺水
        lessWaters();
    }else if($(".hiddenValue").val()==5){//检修
        service();
    }else if($(".hiddenValue").val()==7){ //关机
        showDown();
    }else if($(".hiddenValue").val()==8){//开机
        $(".footerBtn span").html("关机");
    }
}




//websoket
var websoket=new WebSocket("ws://120.27.12.1:6001");
var deviceId=$(".deviceID").val();//设备id

websoket.onopen=function(){
    //包数据
    ajson={
        "DeviceID":"201705120000197",
        "PackType":"login",
        "Vison":0,
    };
    websoket.send(JSON.stringify(ajson));
}
//接收数据
websoket.onmessage=function(data){

    console.log(data);
}
// 开机/关机/冲洗按钮操作
$(".controlBtn").click(function(){

    var btnText=$(this).html();
    var ajson;//数据对象
    var type="";
    var CmdList=[];//命令队列
    ajson={
        "DeviceID":deviceId,
        "PackType":"SetData",
        "Vison":0,
        // "PackNum":PackNum,
        "curTime":0,
    }; 
    if(btnText=="开机"){
        ajson['DeviceStause']=8;
        btnText="关机中";
        type="关机中";  
        alert("关机中");
    }else if(btnText=="关机"){
        ajson['DeviceStause']=7;
        btnText="开机中";
        type="开机中";
        alert("开机中");
    }else{
        ajson['DeviceStause']=1;
            type="冲洗中";
            alert("冲洗中");
    }
    //发送数据
    websoket.send(JSON.stringify(ajson));
    
    CmdList.push({
        cmd:ajson,
        type:type
    });
});

// 滤芯详情页面
var $_dian = $('._dian');
var $tab_li = $('._ul li');
var $_box = $('#_box');

// js进入滤芯详情页面
$(".filterBtn").click(function(){

    $(".DeviceStausePage").hide().siblings().show();
    $('._line').css({left:($tab_li.eq(0).offset().left+$tab_li.eq(0).innerWidth()/2-25)+'px'});
    // 滤芯详情页面数据渲染
    var status=JSON.parse($('.status').val());
    var data=JSON.parse($(".status").val());
    var res=JSON.parse($('.res').val());
    console.log('status ', status);
    // console.log('data ', data);
    console.log('res ', res);

    // 存放膜、滤芯、滤芯简介的遍历的标签
    var moHTML = '',lvxinHTML = '',lvxinIntroduceHTML = '';
    for(var i=0; i<res.length; i++){
        // console.log(res[i]);

        // 遍历膜的详情, 不存在则不遍历
        if(res[i].filtername){
            
            moHTML += '<li class="_padding">'+ 
                '<p><span class="">'+ res[i].filtername + ' ( '+res[i].alias+ ' ) ' +
                '</span><span class="_float_right">'+ 
                ((res[i].flowlife/res[i].timelife)*100).toFixed(0)
                +'%</span></p>'+
                '<p class="_text_align">'+
                    '<div class="progress _progress _width">'+
                      '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+ 
                      ((res[i].flowlife/res[i].timelife)*100).toFixed(0) +
                      '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                    '</div>'+
                '</p>'+
            '</li>';  
        }

        // 遍历滤芯详情, 不存在则不遍历
        if(status['reflowfilter'+(i+1)]){
           
            lvxinHTML += '<li class="_padding">'+
                '<p><span class="">'+ 
                status['reflowfilter'+(i+1)] +
                '</span><span class="_float_right">'+ 
                ((status['reflowfilter'+(i+1)]/status.sumflow)*100).toFixed(0)
                +'%</span></p>'+
                '<p class="_text_align">'+
                    '<div class="progress _progress _width">'+
                      '<div class="progress-bar progress-bar-striped" role="progressbar" style="width:'+ 
                      ((status['reflowfilter'+(i+1)]/status.sumflow)*100).toFixed(0) +
                      '%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>'+
                    '</div>'+
                '</p>'+
            '</li>';
        }
        
        //滤芯简介
        if(res[i].introduce){
            res[i].balancatime = !res[i].balancatime ? 0 : res[i].balancatime;
            res[i].balancaflow = !res[i].balancaflow ? 0 : res[i].balancaflow;

            lvxinIntroduceHTML += '<div>'+
                '<h3>'+
                    res[i].filtername +
                '</h3>'+
                '<p>'+
                    res[i].introduce +
                '</p>'+
                '<p>'+
                    '<span class="_font_weigth">总寿命：'+ res[i].balancatime +
                    '</span>'+
                    '<span class="_float_right _font_weigth">剩余：'+ res[i].balancaflow +
                    'L</span>'+
                '</p>'+
            '</div>';
        }
       
    }
    console.log(lvxinIntroduceHTML);

    // 遍历滤芯详情，然后添加到$("#lvxinDetailUL")
    $("#lvxinDetailUL").html(moHTML + lvxinHTML);
    //遍历膜、滤芯简介
    $("#lvxinIntroduce").html(lvxinIntroduceHTML);
    // 遍历滤芯复位，然后添加到$("#lvxinDetailUL")
    $("#lvxinReset").html(moHTML + lvxinHTML);

    // 剩余比例小于100%
    for(var i=0; i<$("._float_right").length; i++){
        
        parseInt($("._float_right").eq(i).text()) > 100
        ? $("._float_right").eq(i).text('100%')
        : parseInt($("._float_right").eq(i).text())
    }
    
    
    // console.log('$("#lvxinDetailUL").html() ', $("#lvxinDetailUL").html());
    //滤芯显示
    var str='reflowfilter';
    var filterHtml='';//滤芯显示html代码
    var filterList=[];//字符串数组
    var filterNum=[];//存放滤芯键值对
    var CmdList=[];//命令队列
    var reflowName=[];//存放滤芯名称
    var flowPercent;//剩余滤芯百分比值
    //遍历出以“reflowfilter”开头的数据字段
    for(var i=1;i<20;i++){
        if(data['reflowfilter'+i] >= 0){
            filterList['reflowfilter'+i] = data['reflowfilter'+i];
            filterList['length'] = i;
            reflowName.push(filterList['reflowfilter'+i]);
        }
    }
    console.log($(".deviceID").html());
    //遍历显示滤芯
    if($(".deviceID").html()!="--"){
        for(var i=0;i<reflowName.length;i++){
            filterNum[i]=reflowName[i];
            //计算百分比
            flowPercent=parseInt(reflowName[i]/res['flowlife']*100);
            if(flowPercent>100){
                flowPercent=100;
            }
            var filterVal;
            var filterSum;
            if(!flowPercent){
                flowPercent=0;
            }
            if(reflowName[i]){
                filterVal=reflowName[i];
            }else{
                filterVal=0;
            }
            if(res['flowlife']){
                filterSum=res['flowlife'];
            }else{
                filterSum=0;
            }
            filterHtml+='<li class="_padding"><p><span class="">RO膜</span><span class="_float_right">80%</span></p><p class="_text_align"><div class="progress _progress _width"><div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div></div></p></li>';
        }
    }else{
        filterHtml="无数据";
    }
    $(".filterInfoTable tbody").html(filterHtml);
});

//选定单个滤芯事件
$_dian.click(function(){
    $(this).find('span').toggleClass('_active');
})


//tab按钮切换
$tab_li.click(function(){
    // 左边偏移量
    var $left = $(this).offset().left+$(this).innerWidth()/2 - 25;
    // 内容
    $_box.children('div').eq(1).children('div').eq($(this).index()).slideDown().siblings().slideUp();
    // 下划线动画
    $('._line').animate({left:$left+'px'});
})
</script>

</body>
</html>
