<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1" >
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/css/water-purifier.css">
	<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
	<script src="__PUBLIC__/Home/js/flexible.js"></script>
	<title>绑定指引</title>
</head>
<body>
	<div id="contain">
		<section id="sec">
			<h3><b>绑定指引</b></h3>
			<p>绑定设备前请确认已完成以下准备：</p>
			<p>1.确保手机连上网络</p>
			<p>2.净水机连通电源，电源灯亮起</p>
			<p>3.显示屏幕上信号<i class="iconfont icon-wifi"></i>指示灯亮起</p>
			<p>4.手机成功连接网络</p>
		</section>
		<footer id="foot">

			<div id="wifi"><i class="iconfont icon-wifi1"></i><br>
				<p>设置网络</p>
			</div>
			<div id="band"><i class="iconfont icon-jiahao"></i><br>
				<p>绑定水机</p>
			</div>
		</footer>
	</div>

</body>

</html>