<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
<title>登录</title>
<style type="text/css">

    </style>
</head>
<body>
	<!-- logo -->
	<section class="logo"></section>
	<!-- 输入框 -->
	<form action="__URL__/login" method="post">
		<section class="container inputBox">
			<section class="row">
				<section class="col-md-8 text-center">
					<input class="form-control phoneName" type="number" value="" name="phone" placeholder="请输入手机号码">
				</section>
			</section>
			<section class="row">
				<section class="col-md-8 text-center">
					<input class="form-control password" type="password" value="" name="password" placeholder="请输入密码">
				</section>
			</section>
			<section class="row">
				<section class="col-md-8 text-center">
					<input type="text" name="verify_code" class="form-control" style="width:70%;display: inline-block;" placeholder="请输入验证码"><img style="width: 30%;height: 34px;" src="__URL__/verifyCode" onclick="this.src='__URL__/verifyCode?id=' + Math.random()">
				</section>
			</section>

			<section class="row btn-list">
				<section class="col-xs-4 text-right">
					<input class="checkSpan" type="checkbox" name="remember" id="remember"><label for="remember">自动登录</label>
				</section>
				<section class="col-xs-4 text-center">
					<a href="{{:U('Register/resetPassword')}}">忘记密码？</a>
				</section>
				<section class="col-xs-4 text-center">
					<a href="{{:U('Register/register')}}">注册</a>
				</section>
			</section>
		</section>
		<!-- 登录按钮 -->
		<section class="registerBtn text-center"><button style="border: none;background: none;">登录</button></section>
	</form>
</body>
<script src="__PUBLIC__/Home/js/public.js"></script>
<!-- layui.js -->
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
<script>
	$(".checkSpan").click(function(){
		$(this).toggleClass("checkSpanBg");
	});
	$(".registerBtn").click(function(){
		if($(".phoneName").val()=="") {
			layui.use('layer', function(){
	            var layer = layui.layer;
	            layer.msg('手机号码不能为空！');
	        }); 
		}else if(!(/^1[34578]\d{9}$/.test($(".phoneName").val()))){
			layui.use('layer', function(){
	            var layer = layui.layer;
	            layer.msg('请输入正确的手机号码！');
	        }); 
		}else if($(".password").val()==""){
			layui.use('layer', function(){
	            var layer = layui.layer;
	            layer.msg('密码不能为空！');
	        }); 
		}else{
			//设置cookie	
			// alert(1223);		
	      //   if($(".checkSpan").hasClass("checkSpanBg")){
	      //   	function setCookie(name,value1,password,value2,ToLive)
		     //    {
		     //    	var exp = new Date();
		     //    	exp.setTime(exp.getTime() + 7*24*60*60*1000);
		     //    	document.cookie= name + "="+ escape (value1) + ";expires=" + exp.toGMTString();
		     //    	document.cookie= password + "="+ escape (value2) + ";expires=" + exp.toGMTString();
		     //    }
			    // setCookie("name",$(".phoneName").val(),"password",$(".password").val());
			    // // alert(document.cookie.name);
			    // // alert(document.cookie);
			    
			    // var aa= getCookie();
			    // // alert(aa);
	      //   	// return false;
	      //   }

		}
	});


	// var cookie =(function (){
 //    	var cookie={};
 //    	alert(typeof cookie);
	//     var all=document.cookie;
	//     if(all===""){
	//     	return cookie;
	//     }
	//     var list=all.split("; ");
	//     alert(typeof list);
	//     for(var i=0;i<list.length;i++){
	//     	var cookie=list[i];
	//     	var p=cookie.indexOf("=");
	//     	alert(p);
	//     	alert(cookie);
	//     	var name=cookie.substring(0,p);
	//     	var value=cookie.substring(p+1);
	//     	value=decodeURIComponent(value);
	//     	cookie[name]=value;
	//     	// alert(111);
	//     }
	//     return cookie;
 //    }());
</script>
</html>
