<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
<script src="__PUBLIC__/Home/js/flexible.js"></script>
<script src="__PUBLIC__/Home/js/mine-first.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Home/css/mine-first.css">
<title>个人信息</title>
</head> 
<body>
<div id="mine-first-all">
	<div id="mine-first-container">
		<div id="mine-first-top">
			<div class="mine-pic">
				<b>
					<img src="{{$userInfo['head']}}" alt="">
				</b>
				<p>{{$userInfo['nickname']}}</p>
			</div>
			<!-- <div class="mine-name">
				<section>
				<p>姓名：<span>{{$userInfo['name']}}</span></p>
				<p>地址：<span>{{$userInfo['address']}}</span></p>
				</section>
				<section>
					<p>设备型号：{{$userInfo['device_code']}}</p>
					<p>手机号码：{{$userInfo['phone']}}</p>
				</section>
			</div> -->
			 <div class="mine-name">
			 	<section>
			 		<p>姓名：<span>{{$userInfo['name']}}</span></p>
					<p>手机号码：{{$userInfo['phone']}}</p>
					<p>设备型号：{{$userInfo['device_code']}}</p>
					<p>地址：<span>{{$userInfo['address']}}yrtytyutyi</span></p>
			 	</section>

				<!-- <section>
				
				
				</section>
				<section>
					
				</section> -->
			</div> 
			
			<p class="xia"><i class="iconfont icon-xial"></i></p>
			<p class="shang"><i class="iconfont icon-jiantouyoushuang-"></i></p>
		</div>
		<div id="mine-first-bottom">
			<div id="m-f-list">
				<h3>我的订单</h3>
				<ul>
					<li>
						<a href="{{:U('Home/Orders/orderAll')}}" >
							<i class="iconfont icon-quanbudingdan iconfont2"></i><br>
							<p>全部订单</p>
						</a>
					</li>
					<li>
						<a href="{{:U('Home/Orders/orderPay')}}">
							<i class="iconfont icon-icon_daifukuan"></i><br>
							<p>待付款</p>
						</a>
					</li>                 
					<li>
						<a href="{{:U('Home/Orders/orderSend')}}">
							<i class="iconfont icon-daifahuo3"></i><br>
							<p>待发货</p>
						</a>
					</li>
					<li>
						<a href="{{:U('Home/Orders/orderTake')}}">
							<i class="iconfont icon-daifahuo2"></i><br>
							<p>待收货</p>
						</a>
					</li>
				</ul>
			</div>
			<div id="m-f-b-list">
				<ul>
					<li>
						<a href="{{:U('Home/Devices/manage')}}">
							<i class="iconfont  icon-shebeiguanli1 num-one"></i>
							<b>设备管理</b>
							<i class="iconfont icon-dayuhao right "></i>
							<span>当前设备：{{$userInfo['device_code']}}</span>
						</a>
					</li>
					<li>
						<a href="{{:U('Home/WaterPurifier/record')}}">
							<i class="iconfont icon-jilu num-two"></i>
							<b>净水记录</b>
							<i class="iconfont icon-dayuhao right "></i>
						</a>
					</li>
					<li>
						<a href="{{:U('Home/Repair/index')}}">
							<i class="iconfont icon-wuyebaoxiu num-third"></i>
							<b>报修</b>
							<i class="iconfont icon-dayuhao right "></i>
						</a>
					</li>
					<li>
						<a href="{{:U('Home/Feeds/proposal')}}">
							<i class="iconfont  icon-dengpao1 num-fourth"></i>
							<b>建议</b>
							<i class="iconfont icon-dayuhao right "></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
</div>
	
</body>
</html>