<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
		<title>个人信息 </title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/information.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_495581_6iecu6ga3j46lxr.css">
		<script src="__PUBLIC__/Home/js/flexible.js"></script>
		<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
		<style> 
			#char-list {
				margin-bottom: 6vh;
			}
			#save {
				bottom: 0;
    			margin: 3vh 0;
			}
		</style>
	</head>

	<body>
		<div id="infor">
			<form action="{{:U('Home/Users/personalInformation')}}" method="post" >
			<div id="container">
				<h3>个人信息</h3>
				<div id="char-list">
					<label for="name">
						<div class="spac" ><i class="iconfont icon-iconzhenghe31"></i><p>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</p><input id="name" type="text" name="name" value="{{$_GET['name']}}"> 
					    </div>
					</label>
					<label for="tel">
						
						<div class="spac"><i class="iconfont icon-dianhuahaoma spac-tel"></i><p>电话号码：</p><input id="tel" type="text" name="phone" value="{{$_GET['phone']}}"></div><br>
					</label>
					<label for="addr">
					
					<div class="spac"><i class="iconfont iconfont icon-dizhi"></i>  <p>安装地址：</p><input id="addr" type="text" name="Installaddress" value="{{$_GET['address']}}"></div>
					</label>
				</div>
				<input id="save" type="submit" value="保存">
			</div>
			</form>
		</div>
		<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
		<script>
			$("#save").click(function(){
				if($("#name").val()==""||$("#tel").val()==""||$("#addr").val()==""){
					layui.use('layer', function(){
						var layer = layui.layer;
						layer.msg('请输入完整个人信息');
					});  
					return false;
				}else if(!(/^1[34578]\d{9}$/.test($("#tel").val()))){
					layui.use('layer', function(){
						var layer = layui.layer;
						layer.msg('请正确输入手机号码');
					});  
					return false;
				}
			});
		</script>
	</body>

</html>                                                                                                                                 