<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
		<title>个人信息 </title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/information.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_495581_6iecu6ga3j46lxr.css">
		<script src="__PUBLIC__/Home/js/flexible.js"></script>
		<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
	</head>

	<body>
		<div id="infor">
			<form id='form' action="{{:U('Home/Users/personalInformation')}}" method="post" >
			<div id="container">
				<h3>个人信息</h3>
				<div id="char-list">
					<div id="nameid">
						<div class="spac" >
							<i class="iconfont icon-iconzhenghe31"></i>
							<span>姓&emsp;名：</span>
							<input id="name" type="text" name="name" value="{{$user['name']}}"> 
					    </div>
					</div>
					<div id="tel">
						<div class="spac">
							<i class="iconfont icon-dianhuahaoma spac-tel"></i>
							<span>电话号码：</span>
							<input id="phone" type="text" name="phone" value="{{$user['phone']}}">
						</div>
					</div>
					<div id="addr">
						<div class="spac" style='border-bottom:none'>
							<i class="iconfont iconfont icon-dizhi"></i>  
							<span>安装地址：</span>
							<textarea name="Installaddress" id="address" cols="30" rows="3"value="{{$user['address']}}" >{{$user['address']}}</textarea>
						</div>
					</div>
				</div>
				<div class="savediv" style="z-index:9999;">
					<input id="save" type="button" value="保存">
				</div>

			</div>
			</form>
		</div>
		<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
		<script>
			$(function(){
				// 扫描的设备编码
				var machineNo = null;
				if(location.href.indexOf('?') > -1){
					$("#addr").hide();
					$("#nameid").hide();
					machineNo = location.href.substr(location.href.indexOf('?'));
				}				
				var phoneurl = 'http://waterdispenser.houseselected.com/waterDispenser/open/qryWaterOrder?status=1&phoneNumber=';
				var deviceurl = 'http://waterdispenser.houseselected.com/waterDispenser/open/updateWaterOrder?waterOrderId=';
				// 替换当前历史记录为首页， 防止后退再回到这里
				history.replaceState({},null,'{{:U("Home/Index/index")}}');

				var nameReg, phoneReg, areaReg;
				nameReg = /^[\u4e00-\u9fa5]{2,10}$/;
				phoneReg = /^1((((3[0-35-9])|([5|8][0-9])|(4[5|7|9])|66|(7[3|5-8])|(9[8|9]))\d)|(34[0-8]))\d{7}$/;
				areaReg = /^[\w\-\u4e00-\u9fa5]{8,255}$/;

				var save = document.getElementsByClassName('savediv');
				save[0].onclick = function(){
					saveFn();
				}
				// 点击保存
				var saveFn = function(){

					var name = $('#name').val().replace(/^(\s)|(\s*)/g,''),
						phone = $('#phone').val().replace(/^(\s)|(\s*)/g,''),
						address = $('#address').val().replace(/^(\s)|(\s*)/g,'');
					if(machineNo){		// 第一次绑定设备
						if(!phone){
							layuiHint('手机号不能为空！');
							return
						}else if(!phoneReg.test(phone)){
							layuiHint('请输入正确的手机号！');
							return
						}
						// 查询手机号是否有水机订单
						$.ajax({
							url: phoneurl + phone,
							type: 'post',
							success: function(res){
								console.log('请求成功！',res);
								if(res.returnCode == '-2'){
									layuiHint('该号码无绑定的订单！');
									return
								}
								if(res.returnCode == 1 && res.orderList.length>0){
									
									var pname = res.orderList[0].username;
									var pphone = res.orderList[0].userAddress.phoneNumber;
									var paddr = res.orderList[0].userAddress.province + res.orderList[0].userAddress.city + res.orderList[0].userAddress.county + res.orderList[0].userAddress.detail;
									
									// 查询设备是否存在
									$.ajax({
										url:"{{:U('Home/Devices/bind')}}",
										type:"post",
										data:{device_code:machineNo,name:pname,phone:pphone,Installaddress:paddr},
										dataType:'json',
										success:function(data){
											if(data==1){

												// 保存数据
												$.ajax({
													type: 'post',
													url: deviceurl + res.orderList[0].purchaseOrderId +'&machineNo='+ machineNo,
													success: function(res){

														layuiHint('绑定成功！');
														// 提交给后台
														setTimeout(function(){
															location.reload();
														},500)

													},
													error: function(res){

														layuiHint('系统遇到问题，请稍后重试！');
													}
												})
											}else if(data == -1){
												layuiHint('设备不存在！');
											}else if(data == -2){
												layuiHint('设备已被绑定！');
											}else{
												layuiHint('设备绑定失败！');
											}

										},
										error:function(jqXHR, textStatus, errorThrown){
											alert("绑定失败" + jqXHR.status + textStatus + errorThrown);
											//console.log(jqXHR.status);
										}
									});

								}
							},
							error: function(res){
								console.log('请求失败！',res);
								layuiHint('系统遇到问题，请稍后重试！');
								return

							}
						})

					}else{		// 编辑个人信息

						if(!$('#name').val().replace(/^(\s)|(\s*)/g,'')){
							layuiHint('请填写姓名！');
							return

						}else if(!nameReg.test($('#name').val().replace(/^(\s)|(\s*)/g,''))){
							layuiHint('姓名只能由中文组成！');
							return

						}
						if(!$('#phone').val().replace(/^(\s)|(\s*)/g,'')){
							layuiHint('请输入手机号！');
							return

						}else if(!phoneReg.test($('#phone').val().replace(/^(\s)|(\s*)/g,''))){
							layuiHint('请输入正确的手机号码！');
							return
							
						}
						if(!$('#address').val().replace(/^(\s)|(\s*)/g,'')){
							layuiHint('请输入地址！');
							return

						}else if($('#address').val().replace(/^(\s)|(\s*)/g,'').length <= 10){
							layuiHint('请输入详细地址,不能少于10个字！');
							return
							
						}else if(!areaReg.test($('#address').val().replace(/^(\s)|(\s*)/g,''))){
							layuiHint('地址只能由中文、数字、英文组成！');
							return
							
						}
						if(name == $('#name').val().replace(/^(\s)|(\s*)/g,'') && phone == $('#phone').val().replace(/^(\s)|(\s*)/g,'') && address == $('#address').val().replace(/^(\s)|(\s*)/g,'')){

							layuiHint('你什么都没修改!');
							setTimeout(function(){
								location.href = '{{:U("Home/Users/mine")}}';
							},500);
							return
						}
						layuiHint('保存成功！');

						//提交表单
						setTimeout(function(){
							$('#form').submit();
						},500)
					}
				}

				// 提示框函数
				function layuiHint(text){
					layui.use('layer', function(){
						var layer = layui.layer;
						layer.msg(text);
					});
				}
			})
		</script>
	</body>

</html>                                                                                                                                 