<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />

  <title>服务记录</title>
  <link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
  <link rel="stylesheet" href="__PUBLIC__/Home/css/reward.css">

</head>
<body>
  <div class="_reward">
    <div class="rewardContainer">
        <div class="rewardTop">
           <div class="myReward">
             <p>服务记录</p>
             <div class="iconReward">
                <span>累计：</span>
                <p>安装&nbsp;{{ num[0] }}</p>
                <p>维修&nbsp;{{ num[1] }}</p>
             </div>
           </div>
        </div>
        <div class="rewardFoot">
          <ul>
            <li v-for='(item, index) in data' class="litem" :index='item.index'>
              <span v-if='item.type == 0'>安装</span>
              <span v-else-if='item.type == 1'>报修</span>
              <span v-else-if='item.type == 2'>维护</span>
              <span>{{ item.time }}</span>
              <div class="show">
                <span v-if='item.type == 0'><span>处理人：</span>{{ item.name }}</span>
                <span v-if='item.type == 1'><span>处理人：</span>{{ item.name }}</span>
                <span v-if='item.type == 2'><span>处理人：</span>{{ item.name }}</span>
                <div><span>电话：</span>{{ item.phone }}</div>
                <div v-if='item.type == 0'><span>安装进度：</span>{{ item.result }}</div>
                <div v-if='item.type == 1'><span>报修进度：</span>{{ item.result }}</div>
                <div v-if='item.type == 2'><span>维护进度：</span>{{ item.result }}</div>
                <div v-if='item.type == 0'><span>安装地址：</span>{{ item.address }}</div>
                <div v-if='item.type == 1'><span>报修地址：</span>{{ item.address }}</div>
                <div v-if='item.type == 2'><span>维护地址：</span>{{ item.address }}</div>
              </div>
            </li>
          </ul>
        </div>
       
    </div>
  </div>
  <script src="__PUBLIC__/Home/js/jquery-1.10.1.js"></script>
  <script src="__PUBLIC__/Home/js/public.js"></script>
  <script src="__PUBLIC__/Home/js/vue.min.js"></script>
  <script>
    $(function(){
      var app = new Vue({
        el: '._reward',
        data() {
          return {
            data: [],
            num: [0, 0],
            isSameVal: null
          }
        },
        computed: {},
        mounted() {
          var that = this;
          // 请求数据
          $.ajax({
            url: '{{:U("Users/reward")}}',
            type: 'post',
            success: function(res){
              console.log('请求成功！', res);
              // 将后台传来的时间戳转化为正常时间
              for(var i=0; i<res.length; i++){
                res[i]['index'] = i;
                if(res[i].type == 0){// 统计报装数量
                  that.num[0]++;

                }else if(res[i].type == 1){// 统计维修数量
                  that.num[1]++;

                }
                if(!res[i].phone){
                  res[i].phone = '暂无电话';
                }
                if(res[i].result == 0){
                  res[i].result = '未处理';

                }if(res[i].result == 1){
                  res[i].result = '正在处理';

                }if(res[i].result == 2){
                  res[i].result = '已处理';

                }
                // 将数据更新到 data 
                that.data.push(res[i]);
              }
              console.log(that.data);
              console.log(that.num)
            },
            error: function(res){
              console.log('请求失败！', res);
            } 
          })

          // 点击查看详情
          $('.rewardFoot').on('click','.litem',function(){
            that.showText($(this));
          })
        },
        methods: {
          getLocaltime: function (_time) {
            /*
                _time 时间戳（ms）,后台传来的单位是s，需要乘1000
                个位数时加 '0', 统一位数
             */ 
            _time = Number(_time)*1000;
            // console.log('_time: ',_time);
            var localetime = new Date(_time);
            var year = localetime.getFullYear(),
                month = (localetime.getMonth()+'').length == 1 
                  ? '0' + localetime.getMonth() 
                  : localetime.getMonth(),
                date = (localetime.getDate()+'').length == 1
                  ? '0' + localetime.getDate()
                  : localetime.getDate(),
                hour = (localetime.getHours()+'').length == 1
                  ? '0' + localetime.getHours()
                  : localetime.getHours(),
                minute = (localetime.getMinutes()+'').length == 1
                  ? '0' + localetime.getMinutes()
                  : localetime.getMinutes(),
                second = (localetime.getSeconds()+'').length == 1
                  ? '0' + localetime.getSeconds()
                  : localetime.getSeconds();

            var normal = year + '/' + month + '/'  + date + '\t'  + hour + ':'  + minute;
            // console.log('year + month + day + hour + minute: ', normal);
            return normal;
          },
          showText: function(e){
            
            // e: 当前元素
            for(var i=0; i<$('.litem').length; i++){
              // console.log($('.litem').eq(i).find('.show'));
              $('.litem').eq(i).find('.show').slideUp('fast');
              $('.litem').eq(i).css({background: '#fff'});
            }
            if(this.isSameVal == e.attr('index')){
              // 当前元素点击多次
              e.find('.show').slideUp('fast');
              this.isSameVal = '';
              return
            }
            e.css({background: '#f6f6f6'});
            e.find('.show').slideDown('fast');
            this.isSameVal = e.attr('index');
            // console.log(this.isSameVal);
          }
       }
      });

    })
  </script>
</body>
</html>