<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
		<title>确认支付</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/shop-bill.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/sure-bill.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/sure-pay.css">


		<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_495581_5mwiyyji1nstt9.css">
		<script src="__PUBLIC__/Home/js/flexible.js"></script>
		<script src="__PUBLIC__/Home/js/lvxinDetail.js"></script>
		<style>
			#pay-way input:checked {
				color: #039CE9;
			}
			#pay-now {
				background: #039CE9;
			}
		</style>
	</head>
	<body>

	<div id="contain">
		
		
		<!-- 滤芯开始 -->
		<hr class="sure-pay-top-hr">
		<div id="mo">
			<div id="ro1" class="ro1">
				<div id="ro-left"><img src="__PUBLIC__/Home/images/ro_01.png" alt=""></div>
				<div id="ro-right">
					<div class="top">
						<h3>RO膜</h3>
						<p>RO膜能够有效地去除水中钙、镁、 细菌、有机物、无机物、金属离子和 放射性物质等</p>
					</div>
					<div class="bott">
					 <b>￥120.00</b>
					 <p>X1</p>
					</div>
				</div>
			</div>
			<hr>
			<div id="ro1" class="ro2">
				<div id="ro-left"><img src="__PUBLIC__/Home/images/ro_02.png" alt=""></div>
				<div id="ro-right">
					<div class="top">
						<h3>RO膜</h3>
						<p>RO膜能够有效地去除水中钙、镁、 细菌、有机物、无机物、金属离子和 放射性物质等</p>
					</div>
					<div class="bott">
					 <b>￥120.00</b>
					 <p>X1</p>
					</div>
				</div>
			</div>
			<hr>
			<div id="ro1" class="ro2">
				<div id="ro-left"><img src="__PUBLIC__/Home/images/ro_02.png" alt=""></div>
				<div id="ro-right">
					<div class="top">
						<h3>RO膜</h3>
						<p>RO膜能够有效地去除水中钙、镁、 细菌、有机物、无机物、金属离子和 放射性物质等</p>
					</div>
					<div class="bott">
					 <b>￥120.00</b>
					 <p>X1</p>
					</div>
				</div>
			</div>
			<hr>

			<div id="sure-pay">
				<i class="iconfont icon-cuohao"></i>
				<b>确认支付</b>
			</div>
			<div  class="sure-pay-mo2">
				￥420.00
			</div>
		</div>
		<div id="pay-way">
			<p>支付方式</p>
			<label><i class="iconfont icon-weixin pic-font"></i>微&nbsp;信&nbsp;支&nbsp;付<input name="weixin" type="radio" value="" /><label><br>
			<label><i class="iconfont icon-zhifubao pic-font pic-font-color"></i>支付宝支付<input name="weixin" type="radio" value="" /><label> 	
		</div>
		<input type="submit" id="pay-now" value="立即支付">
	</div>
	
	</body>

</html>