<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
		<title>订单确认</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/shop-bill.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/sure-bill.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_495581_6iecu6ga3j46lxr.css">
		<script src="__PUBLIC__/Home/js/flexible.js"></script>
	</head>
	<body>

	<div id="contain">
		<div id="sure-head">
			<input type="buttom" value="快递信息确认" readonly="readonly">
			<div id="information">	
				<p>	
					<label for="mainer"><i class="iconfont icon-iconzhenghe31"></i>收货人：</label>
					<input id="mainer" type="text" placeholder="杨华">
				</p>
				<p>
					
					<label for="tel"><i class="iconfont icon-dianhuahaoma"></i>电&nbsp;&nbsp;&nbsp;话：</label>
					<input id="tel" type="text" placeholder="14725836911">
				</p>
				<p>
					
					<label for="address"><i class="iconfont iconfont icon-dizhi"></i>地&nbsp;&nbsp;&nbsp;址：</label>
					<textarea id="address" name="" id="" cols="30" rows="2" placeholder="广东省广州市番禺区大石街会 江村和平路十号"></textarea>
				</p>
				
			</div>

		</div>
		
		<!-- 滤芯开始 -->
		<div id="mo">
			<foreach name="filters" item="v" key="k">
			<div class="item">
				<div id="ro1" class="ro1">
					<div id="ro-left"><img src="__PUBLIC__/Home/images/ro_01.png" alt=""></div>
					<div id="ro-right">
						<div class="top">
							<h3>{{$v['filtername']}}</h3>
							<p>{{$v['introduce']|msubstr=0,45,'utf-8'}}</p>
						</div>
						<div class="bott">
						 <b>￥{{$v['price']/100}}</b>
						 <p class="">X{{$v['num']}}</p>
						</div>
					</div>
				</div>
				<hr>
			</div>
			</foreach>
			<foreach name="setmeal" item="vo" key="ke">
			<div class="item">
				<div id="mo2">
					<div id="mo-right">
						<b>{{$vo['describe']}}</b><p>￥{{$vo['money']/100}}</p>
					</div>
					<p class="bill">X{{$vo['num']}}</p>
				</div>
				<hr>
			</div>
			</foreach>
			<div id="mo2">
				<div id="mo-right2">
					<b>共{{$totalNum}}件商品：小计：</b><p>￥{{$totalAmount/100}}</p>
				</div>
			</div>
			<hr>
			<p class="franking">（含邮费¥0.00) </p>

			
		</div>
			

		<!-- 滤芯结束 -->
        <div id="foot">
			<b>合计金额：</b><b class="chang">￥{{$totalAmount/100}}</b>
			<input type="submit" value="去结算">
		</div>	
	</div>
	
	</body>

</html>