<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<script src="__PUBLIC__/Home/js/jquery-1.11.1.min.js" ></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<title>饮水记录</title>
</head>
<body>
    <!-- slider --> 
    <section id="consume" class="consume nav nav-pills" role="tablist">
        <ul id="textList" class="consumeList nav nav-pills" role="tablist">
        <foreach name="icid" item="vo" key="key">
            <li role="presentation">
                <p onclick="getIcIdConsume({{:(int) $vo['id']}})">{{$vo['iccard']}}</p>
                <span class=""></span>
            </li>

        </foreach>
        </ul> 
    </section>
    <ul class="thead nav nav-pills" role="tablist">
        <li role="presentation" class="">用水地点</li>
        <li>用水时间</li>
        <li>盛水量/ML</li>
    </ul>
    <section class="container consumeNode">
        <table class="consumeTable table table-defalt text-center">
            <tbody>
            <foreach name="icidOne" item="v" key="k">
                <tr>
                    <td>{{$v['address']}}</td>
                    <td>{{$v['flow']}}</td>
                    <td>{{:date('Y年m月d日', $v['time'])}}</td>
                </tr>
            </foreach>
            </tbody>
        </table>
    </section>
    <!-- footer -->
    <footer>
        <a class="btn1" href="{{:U('Home/index/index')}}"><span class="logo1"></span>首页</a>
        <a class="btn2" href="{{:U('Home/Consume/index')}}"><span class="logo2"></span>饮水记录</a>
        <a class="btn3" href="{{:U('Home/Flow/recharge')}}"><span class="logo3"></span>充值</a>
        <a><span class="logo4"></span>扫码取水</a>
        <a class="btn5" href="{{:U('Home/Users/mine')}}"><span class="logo5"></span>我的</a>
    </footer>

    
    <script src="__PUBLIC__/Home/js/public.js"></script>
    <script>
    $(".logo2").css("background-position","-1.8rem 0");
        $(".btn2").css("color","#008C63");
        $(".consumeList li").eq(0).children("span").addClass("spanActive");
    //数据表滑动显示
    if($("#textList").children().size()>2){
        fnTab_txt(id("consume"),id("textList"),id("textList").children,$(window).width()/2);
    }
    $("#textList li").click(function(){
        $(this).children("span").addClass("spanActive");
        $(this).siblings().children("span").removeClass("spanActive");
    });

    // 请求查询IC卡消费
    /**
     * [getIcIdConsume 请求查询IC卡消费记录]
     * @param  {[number]} icid [ic卡ic号]
     * @return {[json]}   res  [改卡的消费记录]
     */
    function getIcIdConsume(icid){
        $.post('{{:U("Consume/getIcIdConsume")}}', 'icid='+icid, function(res){
            // 回调操作-异步刷新
            if(res.length>0){
                var trList="";
                var trList0="<tr><td></td><td></td><td></td></tr>";
                for(var i=0;i<res.length;i++){
                    trList+=trList0;
                }
                $(".consumeTable tbody").html(trList);
                for(var i=0;i<res.length;i++){
                    $(".consumeTable tbody tr").eq(i).children().eq(0).html(res[i].address);
                    $(".consumeTable tbody tr").eq(i).children().eq(1).html(res[i].time);
                    $(".consumeTable tbody tr").eq(i).children().eq(2).html(res[i].flow);
                }
            }else{
                $(".consumeTable tbody").html("");
            }  
            // console.dir(res);
        });
    };
</script>
</body>
</html>

