<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">建议及报修/<span>建议列表</span></div>
            <form class="form-search fr" action="__URL__/feedslist" method="get">
                <input type="text" name="name" class="input-medium" placeholder="请输入用户昵称...">
                <button type="submit" class="btn">搜索</button>
            </form>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>建议ID</th>
                    <th>用户ID</th>
                    <th>用户昵称</th>
                    <th>手机号</th>
                    <th>反馈内容</th>
                    <th>反馈时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <notempty name="list">
                    <foreach name="list" item="vo" key="key">
                    <tr>
                        <td>{{$vo.id}}</td>
                        <td>{{$vo.uid}}</td>
                        <td>{{$vo.name}}</td>
                        <td>{{$vo.phone}}</td>
                        <td>{{$vo.content}}</td>
                        <td>{{$vo.addtime|date='Y-m-d H:i:s',###}}</td>
                        <td>
                            <!-- <a href="javascript:void(0)" url="__URL__/feedsdel/id/{{$vo.id}}" class="_del">删除</a> -->
                            <a href="javascript:;" class="_del">删除</a>
                            <input type="hidden" value="{{$vo.id}}" />              
                        </td>
                    </tr>
                    </foreach>
                    <else />
                    <tr>
                        <td colspan="10">查无数据</td>
                    </tr>
                    </notempty>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    {{$button}}
                </ul>
            </div>
            <script>
                // 搜索
                if(window.location.search){
                    $('input[name=name]').val(decodeURI(window.location.search.slice(6)))
                }

                $('.pagination ul a').unwrap('div').wrap('<li></li>');
                $('.pagination ul span').wrap('<li class="active"></li>')
                //提示
                function tip(tip,title,fn){
                    layui.use('layer', function(){
                        var layer = layui.layer;
                        layer.confirm(tip, {icon: 3, title:title}, function(index){
                            fn&&fn()                
                        });
                    });
                }
                $('._del').click(function(){
                    var a=$(this).siblings().val();
                    tip('确定删除？','提示',function(){
                        window.location.href = "__URL__/feedsdel?id="+a;
                    })
                    return false;
                })
            </script>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div>

