<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
<title>充值</title>
</head>
<body>
<!-- rechargeOption -->
<section class="rechargeOption container">
	<section class="textOption">选择充值金额</section>
	<section class="col-xs-12 listOption ">
		<a class="col-xs-4" href="#">￥<span>20</span></a>
		<a class="col-xs-4" href="#">￥<span>30</span></a>
		<a class="col-xs-4" href="#">￥<span>50</span></a>
		<a class="col-xs-4" href="#">￥<span>100</span></a>
		<a class="col-xs-4" href="#">￥<span>150</span></a>
		<a class="col-xs-4" href="#">￥<span>200</span></a>
	</section>   
</section>
<section class="payList">
	<a href="#"><i class="i1"></i>微信支付<span></span></a>
	<a href="#"><i class="i2"></i>支付宝支付<span></span></a>
</section>
<section class="container">
	<button class="rechargeBtn btn text-center form-control">下一步</button>
</section>
<footer>
    <a class="btn1" href="{{:U('Home/index/index')}}"><span class="logo1"></span>首页</a>
    <a class="btn2" href="{{:U('Home/Consume/index')}}"><span class="logo2"></span>饮水记录</a>
    <a class="btn3" href="{{:U('Home/Flow/recharge')}}"><span class="logo3"></span>充值</a>
    <a><span class="logo4"></span>扫码取水</a>
    <a class="btn4" href="{{:U('Home/Users/mine')}}"><span class="logo5"></span>我的</a>
</footer>

<!-- layui.js -->
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
<!-- layui.css -->

<script src="__PUBLIC__/Home/js/public.js"></script>
<!-- 微信支付支持JS部分代码 -->
<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
<script>
    $(".logo3").css("background-position","-1.8rem -1.8rem");
    $(".btn3").css("color","#008C63");
</script>
</body>
</html>
<script>
//微信接口
wx.config({
    debug: false,
    appId: '{{$info["appId"]}}',
    timestamp: '{{$info["timestamp"]}}',
    nonceStr: '{{$info["nonceStr"]}}',
    signature: '{{$info["signature"]}}',
    jsApiList: [
      // 所有要调用的 API 都要加到这个列表中
      'chooseWXPay'
    ]
});
var money = 0;
var payType = '';
//选择支付金额
$(".listOption a").click(function(){
	$(this).toggleClass("activeBg").siblings().removeClass("activeBg");
	money=$(this).children("span").html();
});
//选择支付方式
$(".payList a").click(function(){
	$(this).children("span").addClass("payItem");
	$(this).siblings().children("span").removeClass("payItem");
	payType=$(this).text();
});
// 支付下一步
$(".rechargeBtn").click(function(){
	if(money!=0&payType!=''){
		// 充值类型判断
		if(payType=='微信支付'){
			// 调用微信支付
			weixinPay(money);
		}else{
			// 调用支付宝支付
			// console.dir('支付宝支付');
			layui.use('layer', function(){
	            var layer = layui.layer;
	            layer.msg('支付宝暂不开放，请使用微信充值！');
	        });  
		}		
	}else{
		layui.use('layer', function(){
            var layer = layui.layer;
            layer.msg('请选择支付金额或支付方式！');
        });   
	}
});
// 微信支付方法
function weixinPay(money){
	$.post('{{:U("Flow/uniformOrder")}}', 'openId={{$openId}}&money='+money, function(res){
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest',
			JSON.parse(res),
			function(res){
				if (res.err_msg.substr(-2) == 'ok') {
					// 充值成功跳转到首页
					location.href = "{{:U('Home/Index/index')}}";
				} else if (res.err_msg.substr(-6) == 'cancel') {
					layui.use('layer', function(){
        			    var layer = layui.layer;
        			    layer.msg('取消成功！');
        			}); 
				}else{
					layui.use('layer', function(){
        			    var layer = layui.layer;
        			    layer.msg('充值失败！');
        			}); 
				}
			}
		);
	});
};
</script>