<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<title>注册</title>
	<script language="javascript">
		function get_phone_code(){
			$.post("__URL__/getcode",{phone:jQuery.trim($('#phone').val())},function(msg) {
				if(msg=='OK'){
					RemainTime();	
				}
			});
		}
		var iTime = 59;
		var Account;
		function RemainTime(){
			document.getElementById('zphone').disabled = true;
			var iSecond,sSecond="",sTime="";
			if (iTime >= 0){
				iSecond = parseInt(iTime%60);
				iMinute = parseInt(iTime/60)
				if (iSecond >= 0){
					if(iMinute>0){
						sSecond = iMinute + "分" + iSecond + "秒";
					}else{
						sSecond = iSecond + "秒";
					}
				}
				sTime=sSecond;
				if(iTime==0){
					clearTimeout(Account);
					sTime='获取手机验证码';
					iTime = 59;
					document.getElementById('zphone').disabled = false;
				}else{
					Account = setTimeout("RemainTime()",1000);
					iTime=iTime-1;
				}
			}else{
				sTime='没有倒计时';
			}

			document.getElementById('zphone').innerHTML = sTime;
		}	
	</script>
</head>
<body>
	<!-- logo图标 -->
	<section class="logo"></section>
	<!-- 输入框 -->
	<form action="__URL__/register" method="post" name="formUser">
		<section class="container inputBox">
			<section class="row">
				<section class="col-md-12">
					<input id="phone" class="form-control" type="number" value="" name="phone" placeholder="请输入手机号码">
				</section>
			</section>
			<section class="row">
				<section class="col-xs-7 pull-left">
					<input class="provingBox form-control" type="text" value="" placeholder="请输入验证码" name="phone_code">
				</section>
				<section class="provingSpan col-xs-5 pull-right">
					<span id="zphone" onClick="get_phone_code();" style="cursor:pointer;">获取验证码</span>
				</section>
			</section>
		</section>
		<!-- 下一步按钮 -->
		<section class="registerBtn text-center">下一步</section>
	</form>
	<section class="registerFooter text-center">
			已有账号， <a href="{{:U('Login/login')}}">立即登录</a>
	</section>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<!-- layui.js -->
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
</body>
</html>