<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<title>注册</title>
<style type="text/css">

    </style>
</head>
<body>
	<!-- logo -->
	<section class="logo"></section>
	<!-- 输入框 -->
	<form action="__URL__/resetPasswordNext" method="post">
		<section class="container inputBox">
			<section class="row">
				<section class="col-md-12">
					<input class="form-control" type="password" value="" name="password" placeholder="请输入新密码">
				</section>
			</section>
			<section class="row">
				<section class="col-md-12">
					<input class="form-control" type="password" value="" name="repassword" placeholder="再次输入新密码">
				</section>
			</section>
		</section>
		<!-- 重置按钮 -->
		<section class="registerBtn text-center">重置</section>
	</form>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<!-- layui.js -->
	<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>

</body>
</html>
