<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
		<title>购物车</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/shop-bill.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
		<script src="__PUBLIC__/Home/js/flexible.js"></script>
		<script src="__PUBLIC__/Home/js/lvxinDetail.js"></script>
	</head>
	<body>

	<div id="contain">
		
		<!-- 滤芯开始 -->
		<div id="mo">

			<foreach name="filters" item="v" key="k">
			<div id="ro1" class="ro1">
				<div id="ro-left"><i><input type="text" value="—" readonly></i><img src="{{$v['picpath']}}" alt=""></div>
				<div id="ro-right">
					<div class="top">
						<h3>{{$v['filtername']}}</h3>
						<p>{{$v['introduce']|msubstr=0,45,'utf-8'}}</p>
					</div>
					<div class="bott">
					 <b>￥{{$v['price']/100}}</b>
					 <p class="">X{{$v['num']}}</p>
					</div>
				</div>
			</div>
			<hr>
			</foreach>

			<foreach name="setmeal" item="vo" key="ke">
			<div id="mo2">
				<input type="text" value="—" readonly>
				<div id="mo-right">
					<b>{{$vo['describe']}}</b><p>￥{{$vo['money']/100}}</p>

				</div>
				<p class="bill">X{{$vo['num']}}</p>
			</div>
			<hr>			
			</foreach>
			<p class="franking">（含邮费¥0.00) </p>
		</div>
			

		<!-- 滤芯结束 -->
        <div id="foot">
			<b>合计金额：</b><b class="chang">￥{{$totalAmount/100}}</b>
			<input type="submit" value="去结算">
		</div>	
	</div>
	
	</body>

</html>