<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
		<title>我的订单-全部</title>
		<!-- <link rel="stylesheet" href="__PUBLIC__/Home/css/shop-bill.css"> -->
		<link rel="stylesheet" href="__PUBLIC__/Home/css/order-allok.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/order-all.css">

		<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_495581_6iecu6ga3j46lxr.css">
    	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/iconfontHome.css">
		<script src="__PUBLIC__/Home/js/flexible.js"></script>
		<!-- <script src="__PUBLIC__/Home/js/lvxinDetail.js"></script> -->
		<script src="__PUBLIC__/Home/js/jquery-1.11.1.min.js"></script>
		<!-- 微信支付支持JS部分代码 -->
		<script src="__PUBLIC__/Home/js/jweixin-1.2.0.js"></script>
		<style>
			#all-information {
				margin-top: 1rem;
			}
			#ro-right .bott {
				text-align: right;
			}
			.bott p {
				position: relative;
				margin-left: 5vw;
			}
			#ord-btn2 {
				border: 1px solid #353659;
				border-radius: 6px;
				font-size: .36rem;
			}
			#back2Home {
			    width: 8vh;
			    height: 8vh;
			    display: -webkit-flex;
			    display: -moz-flex;
			    display: -ms-flex;
			    display: -o-flex;
			    display: flex;
			    justify-content: center;
			    -ms-align-items: center;
			    align-items: center;
			    position: fixed;
			    right: 4px;
			    top: 8vh;
			    z-index: 999;
			}
			#back2Home>i {
			    width: 5vh;
			    height: 5vh;
			    text-align: center;
			    line-height: 5vh;
			    color: #fff;
				font-weight: 600;
			    border-radius: 5vh;
			    background: #039CE9;
			}
		</style>
	</head>
	<body>


	<div id="contain" class="container">
		<a id="back2Home" href="{{:U('Home/Users/mine')}}"><i class="iconfont icon-zhuye"></i></a>
	 <!-- order-all的头部开始 -->
	 	<div id="order-all-header">  
	 		<ul>
	 			<li><a class="headOne" href="{{:U('Orders/orderAll')}}">全部</a></li>
	 			<li><a href="{{:U('Orders/orderPay')}}">待付款</a></li>
	 			<li><a href="{{:U('Orders/orderSend')}}">待发货</a></li>
	 			<li><a href="{{:U('Orders/orderTake')}}">待收货</a></li>
	 		</ul>
	 		<a href="{{:U('Home/Users/mine')}}" class="fanindex"><i class="iconfont icon-xiangzuojiantou "></i></a>
	 	</div>
	 <!-- order-all的头部开始 -->
	 <!-- <div class="all-kuai"> -->
	<notempty name="orderFulfil">
	<input class="fini-change" type="buttom" value="交易完成" readonly="readonly">
	</notempty>
	 	<foreach name="orderFulfil" item="value">
		<div id="all-sure-head">
			<div id="all-information">
				<b class="order-timer">订单编号：{{$value['order_id']}}</b><br>
				<b class="order-timer">订单时间：{{:date("Y年m月d日",$value['created_at'])}}</b><br>
				<empty name="value.express">
				<else />
					<b class="order-number"> {{$value['express']}}快递单号：{{$value['mca']}}</b><br>
				</empty>
			</div>
		</div>

		<!-- 滤芯开始 -->
		<div id="mo">
			<foreach name="value['orderFilter']" item="orderFilter">
			<div id="ro1" class="ro1">
				<div id="ro-left"><img src="__PUBLIC__/{{$orderFilter['picpath']}}" alt=""></div>
				<div id="ro-right">
					<div class="top">
						<h3>{{$orderFilter['filtername']}}</h3>
						<p>{{$orderFilter['introduce']|msubstr=0,45,'utf-8'}}</p>
					</div>
					<div class="bott">
					 <b>￥{{$orderFilter['price']/100}}</b>
					 <p>X{{$orderFilter['goods_num']}}</p>
					</div>
				</div>
			</div>
			<hr>
			</foreach>
			<foreach name="value['orderSetmeal']" item="orderSetmeal">
			<div id="mo2">
				<div id="mo-right">
					<b>{{$orderSetmeal['describe']}}</b><p>￥{{$orderSetmeal['money']/100}}</p>
				</div>
				<p class="bill">X{{$orderSetmeal['goods_num']}}</p>
			</div>
			<hr>
			</foreach>
			<div id="mo2">
				<div id="mo-right2">
					<b>共{{$value['total_num']}}件商品</b><p><span>小计：</span>￥{{$value['total_price']/100}}</p>
				</div>
			</div>
			<hr>

			<p class="franking">（含邮费¥0.00) </p>
		</div>
		</foreach>
	</div>
<!-- =========未支付开始啦========= -->
	<div class="nopay-kuai .clearfix">
		<notempty name="orderPay">
		<div class="nopay-top .clearfix">	
			<input class="fini-change" type="buttom" value="未支付" readonly="readonly">
		</div>
		</notempty>
		<div order-cont></div>
		<foreach name="orderPay" item="value">
		<div id="all-sure-head" class="no-pay">
			<!-- <input type="buttom" value="未支付" readonly="readonly"> -->
			<div id="all-information">
				<b class="order-timer">订单编号：{{$value['order_id']}}</b><br>
				<b class="order-timer">订单时间：{{:date("Y年m月d日",$value['created_at'])}}</b><br>
				
			</div>
		</div>
		
		<!-- 滤芯开始 -->
		<div id="mo">

			<foreach name="value['orderFilter']" item="orderFilter">
			<div id="ro1" class="ro1">
				<div id="ro-left"><img src="__PUBLIC__/{{$orderFilter['picpath']}}" alt=""></div>
				<div id="ro-right">
					<div class="top">
						<h3>{{$orderFilter['filtername']}}</h3>
						<p>{{$orderFilter['introduce']|msubstr=0,45,'utf-8'}}</p>
					</div>
					<div class="bott">
					 <b>￥{{$orderFilter['price']/100}}</b>
					 <p>X{{$orderFilter['goods_num']}}</p>
					</div>
				</div>
			</div>
			<hr>
			</foreach>

			<foreach name="value['orderSetmeal']" item="orderSetmeal">
			<div id="mo2">
				<div id="mo-right">
					<b>{{$orderSetmeal['describe']}}</b><p>￥{{$orderSetmeal['money']/100}}</p>
				</div>
				<p class="bill">X{{$orderSetmeal['goods_num']}}</p>
			</div>
			<hr>
			</foreach>

			<div id="mo2">
				<div id="mo-right2">
					<b>共{{$value['total_num']}}件商品</b><p><span>小计：</span>￥{{$value['total_price']/100}}</p>
				</div>
			</div>
			<hr>
			<p class="franking">（含邮费¥0.00) </p>
		</div>

		<!-- 滤芯结束 -->
        <div id="order-all-foot">
			<input type="submit" id="ord-btn1" value="取消订单" onclick="cancel('{{$value['order_id']}}')" style="border:1px solid #039CE9">
			<input type="submit" id="ord-btn2"  value="支付订单" onclick="payOrder('{{$value['order_id']}}')" style="border:1px solid #039CE9">
		</div>
		</foreach>	
	</div>


<!-- ==============================代发货 -->
	<div class="nopay-kuai daifahuo">
		<notempty name="orderSend">
		<div class="nopay-top .clearfix">
			 <input class="fini-change" type="buttom" value="待发货" readonly="readonly">
		</div>
		</notempty>
		<foreach name="orderSend" item="value">
		<div id="all-sure-head" class="no-pay">
			<!-- <input type="buttom" value="代发货" readonly="readonly"> -->
			<div id="all-information">
				<b class="order-timer">订单编号：{{$value['order_id']}}</b><br>
				<b class="order-timer">订单时间：{{:date("Y年m月d日",$value['created_at'])}}<span class="readyedpay">买家已付款</span>
				</b>
				
			</div>
		</div>
		<!-- 代发货 -->
		<!-- 滤芯开始 -->
		<div id="mo">

			<foreach name="value['orderFilter']" item="orderFilter">
			<div id="ro1" class="ro1">
				<div id="ro-left"><img src="__PUBLIC__/{{$orderFilter['picpath']}}" alt=""></div>
				<div id="ro-right">
					<div class="top">
						<h3>{{$orderFilter['filtername']}}</h3>
						<p>{{$orderFilter['introduce']|msubstr=0,45,'utf-8'}}</p>
					</div>
					<div class="bott">
					 <b>￥{{$orderFilter['price']/100}}</b>
					 <p>X{{$orderFilter['goods_num']}}</p>
					</div>
				</div>
			</div>
			<hr>
			</foreach>
			
			<foreach name="value['orderSetmeal']" item="orderSetmeal">
			<div id="mo2">
				<div id="mo-right">
					<b>{{$orderSetmeal['describe']}}</b><p>￥{{$orderSetmeal['money']/100}}</p>
				</div>
				<p class="bill">X{{$orderSetmeal['goods_num']}}</p>
			</div>
			<hr>
			</foreach>

			<div id="mo2">
				<div id="mo-right2">
					<b>共{{$value['total_num']}}件商品</b><p><span>小计：</span>￥{{$value['total_price']/100}}</p>
				</div>
			</div>
			<hr>
			<p class="franking">（含邮费¥0.00) </p>
		</div>
		<!-- 滤芯结束 -->
        <div id="order-all-foot">
			
			<input type="submit" id="ord-btn2"  value="提醒发货" style="border:1px solid #039CE9">
		</div>
		</foreach>	
	</div>

<!-- =========================代付款开始 -->
	<div class="nopay-kuai">
		<notempty name="orderTake">
		<div class="nopay-top .clearfix">
			 <input class="fini-change" type="buttom" value="待收货" readonly="readonly">
		</div>
		</notempty>
		<foreach name="orderTake" item="value">
		<div id="all-sure-head" class="no-pay">
			<!-- <input type="buttom" value="待收货" readonly="readonly"> -->
			<div id="all-information">
				<b class="order-timer">订单编号：{{$value['order_id']}}</b><br>
				<b class="order-timer">订单时间：{{:date("Y年m月d日",$value['created_at'])}}<span class="readyedpay">卖家已发货</span>
				</b>
				<b class="order-number"> {{$value['express']}}快递单号：{{$value['mca']}}</b><br>
				
			</div>
		</div>
		<!-- 代发货 -->
		<!-- 滤芯开始 -->
		<div id="mo">
			<foreach name="value['orderFilter']" item="orderFilter">
			<div id="ro1" class="ro1">
				<div id="ro-left"><img src="__PUBLIC__/{{$orderFilter['picpath']}}" alt=""></div>
				<div id="ro-right">
					<div class="top">
						<h3>{{$orderFilter['filtername']}}</h3>
						<p>{{$orderFilter['introduce']|msubstr=0,45,'utf-8'}}</p>
					</div>
					<div class="bott">
					 <b>￥{{$orderFilter['price']/100}}</b>
					 <p>X{{$orderFilter['goods_num']}}</p>
					</div>
				</div>
			</div>
			<hr>
			</foreach>
			
			<foreach name="value['orderSetmeal']" item="orderSetmeal">
			<div id="mo2">
				<div id="mo-right">
					<b>{{$orderSetmeal['describe']}}</b><p>￥{{$orderSetmeal['money']/100}}</p>
				</div>
				<p class="bill">X{{$orderSetmeal['goods_num']}}</p>
			</div>
			<hr>
			</foreach>
			
			<div id="mo2">
				<div id="mo-right2">
					<b>共{{$value['total_num']}}件商品</b><p><span>小计：</span>￥{{$value['total_price']/100}}</p>
				</div>
			</div>
			<hr>
			<p class="franking">（含邮费¥0.00) </p>
		</div>
		<!-- 滤芯结束 -->
        <div id="order-all-foot">
			
			<input type="submit" id="ord-btn2"  value="确认收货" onclick="confirm('{{$value['order_id']}}')" style="border:1px solid #039CE9">
		</div>
		</foreach>	
	</div>
		<!-- 代付款结束 -->
</div>
	<script>
		//微信接口
		wx.config({
		    debug: false,
		    appId: '{{$info["appId"]}}',
		    timestamp: '{{$info["timestamp"]}}',
		    nonceStr: '{{$info["nonceStr"]}}',
		    signature: '{{$info["signature"]}}',
		    jsApiList: [
		      // 所有要调用的 API 都要加到这个列表中
		      'chooseWXPay'
		    ]
		});

		// 微信支付方法
		function weixinPay(res){
		    WeixinJSBridge.invoke(
		        'getBrandWCPayRequest',
		        JSON.parse(res),
		        function(res){
		            if (res.err_msg.substr(-2) == 'ok') {
		                // 付款成功，跳转前台主页
		                location.href = "{{:U('Home/PaymentSystem/paySuccess')}}";
		            } else if (res.err_msg.substr(-6) == 'cancel') {
		                    // 取消付款
		                    // 跳转到待付款订单页面
		                    location.href = "{{:U('Home/PaymentSystem/failureToPay')}}";
		            }else{
		                    // 付款失败
		                    // 跳转到待付款订单页面
		                    location.href = "{{:U('Home/PaymentSystem/failureToPay')}}";
		            }
		        }
		    );
		};
		// 取消订单
		function cancel(oid){
			$.post('{{:U("Orders/cancel")}}',{ 'oid':oid }, function(res){

				// 订单取消成功
				if(res==1){
					// 刷新页面
					location.reload();
				}
			});
		}
		// 支付订单
		function payOrder(oid){
			$.post('{{:U("PaymentSystem/payOrder")}}',{ 'oid':oid }, function(res){
				weixinPay(res);
			});
		}
		// 确认收货
		function confirm(oid){
			$.post('{{:U("Orders/confirm")}}',{ 'oid':oid }, function(res){

				// 订单取消成功
				if(res==1){
					// 刷新页面
					location.reload();
				}
			});
		}

		// 头部的下划线显示
		
	
		$('#order-all-header>ul>li').bind('click',function(){
			
			$(this).children().eq(0).css('borderBottom','4px solid #2E2F55');
		})

	</script>
	</body>
	<!-- $(".div_2").children().eq(0)#EEEEEE -->

</html>