<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,minimal-ui" />
		<title>我的订单-代发货</title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/shop-bill.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/sure-bill.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/order-all.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/order-send.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/order-take.css">

		<link rel="stylesheet" href="__PUBLIC__/Home/fonts/iconfont.css">
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_495581_6iecu6ga3j46lxr.css">
		<script src="__PUBLIC__/Home/js/flexible.js"></script>
		<script src="__PUBLIC__/Home/js/lvxinDetail.js"></script>
	</head>
	<body>


	<div id="contain" class="container">
	 <!-- order-all的头部开始 -->
	 	<div id="order-all-header">
	 		<ul>
	 			<li>全部</li>
	 			<li>待付款</li>
	 			<li>代发货</li>
	 			<li>待收货</li>
	 		</ul>
	 		<div class="slip take-slip"></div>
	 	</div>
	
		
		

		<!-- =========未支付开始啦========= -->
		<div id="all-sure-head" class="order-send">
			<div id="all-information">
				<b class="order-timer">订单时间：2017年11月20日</b><b class="paied">买家已付款</b><br>
				
			</div>
		</div>
		
		<!-- 滤芯开始 -->
		<div id="mo">
			<div id="ro1" class="ro1">
				<div id="ro-left"><!-- <i><input type="text" value="—"></i> --><img src="__PUBLIC__/Home/images/ro_01.png" alt=""></div>
				<div id="ro-right">
					<div class="top">
						<h3>RO膜</h3>
						<p>RO膜能够有效地去除水中钙、镁、 细菌、有机物、无机物、金属离子和 放射性物质等</p>
					</div>
					<div class="bott">
					 <b>￥120.00</b>
					 <p>X1</p>
					</div>
				</div>
			</div>
			<hr>
			<div id="ro1" class="ro2">
				<div id="ro-left"><!-- <i><input type="text" value="—"></i> --><img src="__PUBLIC__/Home/images/ro_02.png" alt=""></div>
				<div id="ro-right">
					<div class="top">
						<h3>RO膜</h3>
						<p>RO膜能够有效地去除水中钙、镁、 细菌、有机物、无机物、金属离子和 放射性物质等</p>
					</div>
					<div class="bott">
					 <b>￥120.00</b>
					 <p>X1</p>
					</div>
				</div>
			</div>
			<hr>
			<div id="ro1" class="ro2">
				<div id="ro-left"><!-- <i><input type="text" value="—"></i> --><img src="__PUBLIC__/Home/images/ro_02.png" alt=""></div>
				<div id="ro-right">
					<div class="top">
						<h3>RO膜</h3>
						<p>RO膜能够有效地去除水中钙、镁、 细菌、有机物、无机物、金属离子和 放射性物质等</p>
					</div>
					<div class="bott">
					 <b>￥120.00</b>
					 <p>X1</p>
					</div>
				</div>
			</div>
			<hr>

			
			<div id="mo2">
				<!-- <input type="text" value="—"> -->
				<div id="mo-right2">
					<b>共3件商品：小计：</b><p>￥200.00</p>
				</div>
			</div>
			<hr>
			<p class="franking">（含邮费¥0.00) </p>
		</div>

		<!-- 滤芯结束 -->
        <!-- <div id="order-all-foot">
			<input type="submit" id="ord-btn2"  value="提醒发货">
		</div>	 -->
	</div>
	
	</body>

</html>