<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">工单管理/<span>工单列表</span></div>
            <form class="form-search" action="__URL__/index" method="post">
                <span class="select-box">工单编号:
                    <input type="text" class="input-medium number" name="number" placeholder="请输入工单编号" style="width: 70px;"/ >
                </span>
                <span class="select-box">处理人:
                    <input type="text" class="input-medium name" name="name" placeholder="请输入处理人" style="width: 70px;"/ >
                </span>
                <span class="select-box">处理人电话:
                    <input type="text" class="input-medium phone" name="phone" placeholder="请输入处理人电话" style="width: 100px;"/ >
                </span>
                 <span class="select-box">维护类型:
                    <select class="select type" size="1" name="type" style="width: 100px;">
                        <option value="" selected>- 维护类型 -</option>
                        <option value="0">安装</option>
                        <option value="1">维修</option>
                        <option value="2">维护</option>
                    </select>
                </span>
                <span class="select-box">地址:
                    <input type="text" class="input-medium address" name="address" placeholder="请输入地址" style="width: 100px;"/ >
                </span>
                <span class="select-box">处理结果:
                    <select class="select result" size="1" name="result" style="width: 100px;">
                        <option value="" selected>- 处理结果 -</option>
                        <option value="0">未处理</option>
                        <option value="1">正在处理</option>
                        <option value="2">已处理</option>
                    </select>
                </span>               
                <span class="select-box" style="display: inline-block;position:relative">处理时间:
                    <input type="text" id="date-start" class="input-medium form-control" name="mintime" placeholder="请选择时间" style="width: 76px;left: 0"/ > ~ <input type="text" id="date-end" class="input-medium form-control" name="maxtime" placeholder="请选择时间" style="width:76px;right: 0"/ >
                </span>
                <div class="submitBtn">
                    <button type="submit" name="output" value="1" class="btn fr mbtn" style="float: left;color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe62f;</i> 导出</button>
                    <button type="reset" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#x1002;</i> 重置</button>
                    <button type="submit" name="search" value="1" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe615;</i> 查找</button>
                </div>               
            </form>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>工单编号</th>
                    <th>处理人</th>
                    <th>处理人电话</th>
                    <th>维护类型</th>
                    <th>工作内容</th>
                    <th>地址</th>
                    <th>处理结果</th>
                    <th>处理时间</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <notempty name="list">
                    <foreach name="list" item="vo" key="key">
                    <tr>
                        <td>{{$vo.number}}</td>
                        <td>{{$vo.pname}}</td>
                        <td>{{$vo.pphone}}</td>
                        <td>{{$vo.type}}</td>
                        <td>{{$vo.content}}</td>
                        <?php $address = $vo['province'].$vo['city'].$vo['district'].$vo['address']; ?>
                        <td>{{$vo['type'] === '维修' ? $vo['raddress']:$address}}</td>
                        <td>{{$vo.result}}</td>
                        <td><?php if($vo['time']){ echo date('Y-m-d H:i:s',$vo['time']);} ?></td>
                        <td>{{$vo.create_at|date='Y-m-d H:i:s',###}}</td>
                        <td>
                            <switch name="vo.result">
                                <case value="未处理"><a class="handleBtn" ruleId="{{$vo.id}}">正在进行中</a></case>
                                <case value="正在处理"><a href="__URL__/edit/id/{{$vo.id}}/result/2">任务完成</a></case>
                                <default />
                            </switch>
                        </td>
                    </tr>
                    </foreach>
                    <else />
                    <tr>
                        <td colspan="12">查无数据</td>
                    </tr>
                    </notempty>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    {{$button}}
                </ul>
            </div>
            <script>
                $('.pagination ul a').unwrap('div').wrap('<li></li>');
                $('.pagination ul span').wrap('<li class="active"></li>')
                
                 /**************** 搜索关键字保留 -- 开始 ******************/
                    var srearchInfo = {};
                    var number, name, phone, type, result, address, date_start,
                    date_end;
                    /**
                     * number：工单编号, name：处理人姓名, phone：处理人电话, type：维护类型, 
                     * result：处理结果, address：地址, date_start：开始时间,
                     * date_end：结束时间
                     */
                    // 点击搜索
                    $("button[name='search']").click(function(){
                        setSearchWord();
                    })
                    function setSearchWord(){
                        sessionStorage.setItem('search', '');   // 初始化

                        number = $('.number').val();
                        name = $('.name').val();
                        phone = $('.phone').val();
                        if($('.type>option:selected').val()){
                            type = Number($('.type>option:selected').val())+1;
                        }
                        if($('.result>option:selected').val()){
                            result = Number($('.result>option:selected').val())+1;
                        }
                        address = $('.address').val();
                        date_start = $('#date-start').val();
                        date_end = $('#date-end').val();
                        
                        srearchInfo['number'] = number;
                        srearchInfo['name'] = name;
                        srearchInfo['phone'] = phone;
                        srearchInfo['address'] = address;
                        srearchInfo['type'] = type;
                        srearchInfo['result'] = result;
                        srearchInfo['mintime'] = date_start;
                        srearchInfo['maxtime'] = date_end;

                        sessionStorage.setItem('search', JSON.stringify(srearchInfo));
                    }
                    // 搜索关键字保留
                    if(sessionStorage.getItem('search')){
                        var srearchInfo = JSON.parse(sessionStorage.getItem('search'));
                        if($('.form-search').length){
                            // console.log(srearchInfo)
                            $('.number').val(srearchInfo['number']);
                            $('.name').val(srearchInfo['name']);
                            $('.phone').val(srearchInfo['phone']);
                            $('.address').val(srearchInfo['address']);
                            if(srearchInfo['type']){
                                $('.type>option').eq(srearchInfo['type'])[0].selected = true;
                            }
                            if(srearchInfo['result']){
                                $('.result>option').eq(srearchInfo['result'])[0].selected = true;
                            }
                            $('#date-start').val(srearchInfo['mintime']);
                            $('#date-end').val(srearchInfo['maxtime']);

                            setTimeout(function(){
                                sessionStorage.setItem('search', '');   // 初始化
                            },500)
                        }
                    }
                    // 重置搜索结果
                    $('button[type="reset"]').click(function(){
                        location.href = '{{:U("Admin/Work/index")}}';

                    })
                    // 处理按钮
                    $(".handleBtn").click(function(){
                        var _this=$(this);
                        var id = $(this).attr('ruleId');
                        layui.use('layer', function(){
                            var layer = layui.layer;
                            layer.confirm('确定现在处理该条数据?', {icon: 3, title:'温馨提示'}, function(index){
                                window.location.href='{{:U('edit')}}?id='+id+'&result=1';
                                layer.close(index);
                                
                            });
                        });
                    });
                    
                /**************** 搜索关键字保留 -- 结束 ******************/
            </script>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div>

