<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">工单管理/<span>工单列表</span></div>
            <form class="form-search fr" action="__URL__/index" method="get">
                <input type="text" name="cname" class="input-medium" placeholder="请输入机组名称...">
                <button type="submit" class="btn">搜索</button>
            </form>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>工单编号</th>
                    <th>处理人</th>
                    <th>处理人电话</th>
                    <th>维护类型</th>
                    <th>工作内容</th>
                    <th>地址</th>
                    <th>处理结果</th>
                    <th>处理时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <notempty name="list">
                    <foreach name="list" item="vo" key="key">
                    <tr>
                        <td>{{$vo.number}}</td>
                        <td>{{$vo.name}}</td>
                        <td>{{$vo.phone}}</td>
                        <td>{{$vo.type}}</td>
                        <td>{{$vo.content}}</td>
                        <td>{{$vo.address}}</td>
                        <td>{{$vo.result}}</td>
                        <td>{{$vo.time}}</td>
                        <td>
                            <if condition="$Think.session.adminuser.leavel eq 0">
                                <switch name="vo.result">
                                    <case value="未处理"><a href="__URL__/edit/id/{{$vo.id}}/result/1">正在处理</a></case>
                                    <case value="正在处理"><a href="__URL__/edit/id/{{$vo.id}}/result/2">已处理</a></case>
                                    <default />
                                </switch>
                            <else/>
                                <span>您无操作权限</span>
                            </if>
                        </td>
                    </tr>
                    </foreach>
                    <else />
                    <tr>
                        <td colspan="12">查无数据</td>
                    </tr>
                    </notempty>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    {{$button}}
                </ul>
            </div>
            <script>
                $('.pagination ul a').unwrap('div').wrap('<li></li>');
                $('.pagination ul span').wrap('<li class="active"></li>')
            </script>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div>

